<script src="{{API_URL}}/htmx/htmx.min.js"></script>
<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<link rel="stylesheet" href="{{API_URL}}/static/object.css">

<div id="basicObject-app" class="tw-preflight tw-flex tw-justify-center tw-text-[#1e1e1e] dark:tw-text-white tw-bg-white tw-shadow-2xl dark:tw-bg-[#1e1e1e] tw-mt-3 tw-w-full tw-text-sm">
    <table class="tw-overflow-auto tw-w-[95%] tw-font-roboto tw-mx-auto tw-text-sm">
        <colgroup class="tw-w-[95%] tw-mx-auto"><col class="tw-w-1/3"><col class="tw-w-1/3 tw-text-center"><col class="tw-w-1/3"></colgroup>
        <tbody class="tw-w-[95%] tw-mx-auto">
                <!--Object row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-border-b-[1px] tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-mx-auto tw-h-8">
                    <td class="tw-text-left tw-max-w-[40%]">Object</td>
                    <td class="tw-text-center" id="object"></td>
                    <td class=""></td>
            </tr>

                <!--Corrected row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-w-[95%] tw-h-8">
                    <td class="tw-text-left tw-max-w-[40%]">Corrected</td>
                    <td class="tw-text-center " id="corrected"></td>
                    <td class="">
                        <div class="tw-flex tw-justify-center">
                            <div class="tw-group tw-relative">
                                <svg class="tw-h-6 tw-text-black dark:tw-text-white" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path   path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"></path>
                                </svg>

                                <div class="tw-absolute tw-left-10 tw-mt-2 tw-hidden group-hover:tw-flex tw-flex-col tw-items-center tw-z-[9999]">
                                    <div class="tw-bg-[#757575]/60 tw-text-[#FAFAFA] dark:tw-bg-[#757575]/60 dark:tw-text-[#FAFAFA] tw-text-xs tw-w-48 tw-rounded tw-px-4 tw-py-2">
                                        There is a matching source in the reference image. The apparent magnitude combines the difference and reference fluxes. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
            </tr>

                <!--Stellar row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-w-[95%] tw-mx-auto tw-h-8">
                    <td class="tw-text-left tw-max-w-[40%]">Stellar</td>
                    <td class="tw-text-center" id="stellar"></td>
                    <td>
                        <div class="tw-flex tw-justify-center">
                            <div class="tw-group tw-relative">
                                <svg class="tw-h-6 tw-text-black dark:tw-text-white" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path   path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"></path>
                                </svg>
                                <div class="tw-absolute tw-left-10 tw-mt-2 tw-hidden group-hover:tw-flex tw-flex-col tw-items-center tw-z-[9999]">
                                    <div class="tw-bg-[#757575]/60 tw-text-[#FAFAFA] dark:tw-bg-[#757575]/60 dark:tw-text-[#FAFAFA] tw-w-48 tw-text-xs tw-rounded tw-px-4 tw-py-2">
                                        There is a matching point-like source in the reference image.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
            </tr>

                <!--detections row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-w-[95%] tw-mx-auto tw-h-8">
                    <td class="tw-text-left tw-max-w-[40%]">Detections</td>
                    <td class="tw-text-center" id=detections></td>
                    <td class="end"></td>
            </tr>

                <!--Discovery date row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-w-[95%] tw-mx-auto tw-h-8">
                <td class="tw-text-left tw-max-w-[40%]">Discovery date</td>
                <td class="tw-text-wrap tw-text-center" id="discoveryDate"></td>
                <td>
                    <div class="tw-flex tw-justify-center">
                        <div class="tw-group tw-relative">
                            <button class="" id="changeDiscoveryValue">
                                <svg class="tw-h-6 tw-text-black dark:tw-text-white" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path shola alex, troke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"></path>
                                </svg>
                            </button>
                            <div class="tw-absolute tw-left-10 tw-mt-2 tw-hidden group-hover:tw-flex tw-flex-col tw-items-center tw-z-[9999]">
                                <div id="textDiscoveryToolTip" class="tw-bg-[#757575]/60 tw-text-[#FAFAFA] dark:tw-bg-[#757575]/60 dark:tw-text-[#FAFAFA] tw-text-xs tw-rounded tw-px-4 tw-py-2">
                                    View MJD
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

                <!--Last detection row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-w-[95%] tw-mx-auto tw-h-8">
                <td class="tw-text-left tw-max-w-[40%]">Last detection</td>
                <td class="tw-text-wrap tw-text-center" id="lastDetection"></td>
                <td>
                    <div class="tw-flex tw-justify-center">
                        <div class="tw-group tw-relative">
                            <button class="" id="changeLastValue">
                                <svg class="tw-h-6 tw-text-black dark:tw-text-white" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"></path>
                                </svg>
                            </button>
                            <div class="tw-absolute tw-left-10 tw-mt-2 tw-hidden group-hover:tw-flex tw-flex-col tw-items-center tw-z-[9999]">
                                <div id="textLastDetectionToolTip" class="tw-bg-[#757575]/60 tw-text-[#FAFAFA] dark:tw-bg-[#757575]/60 dark:tw-text-[#FAFAFA] tw-text-xs tw-rounded tw-px-4 tw-py-2">
                                    View MJD
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>

            <!--Non detections row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-w-[95%] tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-w-[95%] tw-mx-auto tw-h-8">
                    <td class="tw-text-left tw-max-w-[40%]">Non Detections</td>
                    <td class="tw-text-center" id="nonDetections"></td>
                    <td class=""></td>
            </tr>

                <!--RaDec row-->
            <tr class="hover:tw-bg-[#757575] tw-duration-200 tw-border-b tw-border-[#1e1e1e] dark:tw-border-white tw-border-opacity-20 dark:tw-border-opacity-20 tw-w-[95%] tw-mx-auto tw-h-8">
                <td class="tw-text-left tw-max-w-[40%]">RA(J2000)<br>Dec(J2000)</td>
                <td class="tw-text-wrap tw-text-center" id="raDec"></td>
                <td class="">
                    <div class="tw-flex tw-justify-center tw-items-center">
                        <div class="tw-group tw-relative">
                            <button class="" id="changeRaDec">
                                <svg class="tw-h-6 tw-text-black dark:tw-text-white" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m6.115 5.19.319 1.913A6 6 0 0 0 8.11 10.36L9.75 12l-.387.775c-.217.433-.132.956.21 1.298l1.348 1.348c.21.21.329.497.329.795v1.089c0 .426.24.815.622 1.006l.153.076c.433.217.956.132 1.298-.21l.723-.723a8.7 8.7 0 0 0 2.288-4.042 1.087 1.087 0 0 0-.358-1.099l-1.33-1.108c-.251-.21-.582-.299-.905-.245l-1.17.195a1.125 1.125 0 0 1-.98-.314l-.295-.295a1.125 1.125 0 0 1 0-1.591l.13-.132a1.125 1.125 0 0 1 1.3-.21l.603.302a.809.809 0 0 0 1.086-1.086L14.25 7.5l1.256-.837a4.5 4.5 0 0 0 1.528-1.732l.146-.292M6.115 5.19A9 9 0 1 0 17.18 4.64M6.115 5.19A8.965 8.965 0 0 1 12 3c1.929 0 3.716.607 5.18 1.64"></path>
                                </svg>
                            </button>
                            <div class="tw-absolute tw-left-10 tw-mt-2 tw-hidden group-hover:tw-flex tw-flex-col tw-items-center tw-z-[9999]">
                                <div id="textRaDecToolTip" class="tw-bg-[#757575]/60 tw-text-[#FAFAFA] dark:tw-bg-[#757575]/60 dark:tw-text-[#FAFAFA] tw-text-xs tw-rounded tw-px-4 tw-py-2">
                                    View H:M:S
                                </div>
                            </div>
                        </div>            
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="tw-flex tw-font-roboto  tw-space-x-4 tw-w-[95%] tw-mx-auto tw-my-1 tw-justify-center">
        <a
        id="find-button-object"
        target="_blank"
        class="tw-inline-block tw-bg-[#0097A7] tw-text-cyan-50 tw-w-[50%] tw-text-center tw-h-5 tw-text-xs tw-font-medium tw-px-[8px] tw-py-[2px] tw-cursor-pointer">
            FINDING CHART
        </a>
    
        <div class="tw-w-[50%] tw-relative">
            <button id="menu-button-object" class="tw-block tw-mx-0 tw-bg-[#2196f3] tw-text-blue-50 tw-w-full tw-text-center tw-h-5 tw-text-xs tw-font-medium tw-px-[8px] tw-py-[2px]">
            OTHER ARCHIVES
            </button>

            <div id="menu-box-object" class="tw-absolute tw-z-[10] tw-w-full tw-bg-white dark:tw-bg-[#1e1e1e] tw-shadow-2xl tw-hidden">
                {% for option in otherArchives %}
                    <a target="_blank" id="{{option}}" class="tw-inline-block tw-px-4 tw-py-3 tw-w-full tw-cursor-pointer tw-text-[#1e1e1e] tw-font-light dark:tw-text-white hover:tw-bg-[#e5e4e2] dark:hover:tw-bg-[#3b3939]">
                        {{option}}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div hx-get="{{API_URL}}/htmx/tns/" hx-vals='{"ra": {{ra}}, "dec": {{dec}} }' hx-trigger="load" hx-indicator="#loader" class="tw-w-full">
        <table bordeer=1 frame=void rules=rows class="tw-truncate tw-w-[400px] tw-font-roboto tw-m-0 tw-w-[95%] tw-mx-auto"><colgroup><col><col><col></colgroup>
            <thead class="tw-text-[#BDBDBD]">
                <td class="tw-text-center">Type</td>
                <td class="tw-text-center">Name</td>
                <td class="tw-text-center">Redshift</td>
            </thead>
        </table>
        <div id="loader" class="htmx-indicator tw-animate-pulse tw-text-center tw-my-4 tw-w-full">Loading...</div>
    </div>
</div>
<script type="module">
import { init, elementReady } from "{{API_URL}}/static/basic_information/object.js";


elementReady("#basicObject-app").then((el) => {
  init();
});
</script>

<script id="object-data" type="application/json">
{
    "object": {{object | tojson}},
    "corrected": {{corrected | tojson}},
    "stellar": {{stellar | tojson}},
    "detections": {{detections | tojson}},
    "discoveryDateMJD": {{discoveryDateMJD | tojson}},
    "lastDetectionMJD": {{lastDetectionMJD | tojson}},
    "nonDetections": {{nonDetections | tojson}},
    "ra": {{ra | tojson}},
    "dec": {{dec | tojson}},
    "measurement_id": {{measurement_id | tojson}},
    "otherArchives": {{otherArchives | tojson}}
}
</script>
