{% macro select(name, options=[])%}
    <label for="{{name}}">{{name}}:</label>
    <select class="tw-border-gray-400 tw-bg-transparent tw-border-2 tw-rounded-lg tw-w-full" name="{{name}}" id="{{name}}">
    {% for option in options%}
        <option value="{{option}}">{{option}}</option>
    {% endfor %}
    </select>

    <script>
        let select_{{name}} = document.getElementById("{{name}}");
        let input_boolean_{{name}} = false;

        select_{{name}}.addEventListener('change', (e) =>{
        let messageHTML = document.getElementById(`${e.target.id}-error`);
            if(messageHTML) {
                messageHTML.remove();
            }
            input_boolean_{{name}} = selectCustomValidations(e.target, {{ options | tojson }})
        })


        function selectCustomValidations(val, options) {

        const existingErrorElement = document.querySelector(`#${val.id}-error`)
            if (existingErrorElement) {
                return false;
            }
            if (options.includes(val.value)){
                return true;
            } else {
                const errorElement = document.createElement('span');
                errorElement.id = `${val.id}-error`;
                errorElement.innerHTML = "The field must be one of the options shown.";
                val.insertAdjacentElement("afterend", errorElement);

                return false;
            }
        }
    </script>
{% endmacro %}