*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.tw-container{
  width: 100%;
}

@media (min-width: 640px){
  .tw-container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .tw-container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .tw-container{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  .tw-container{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  .tw-container{
    max-width: 1536px;
  }
}

.tw-preflight :is(.tw-sr-only){
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.tw-preflight :is(.tw-pointer-events-none){
  pointer-events: none;
}

.tw-preflight :is(.tw-pointer-events-auto){
  pointer-events: auto;
}

.tw-preflight :is(.tw-visible){
  visibility: visible;
}

.tw-preflight :is(.tw-invisible){
  visibility: hidden;
}

.tw-preflight :is(.tw-fixed){
  position: fixed;
}

.tw-preflight :is(.tw-absolute){
  position: absolute;
}

.tw-preflight :is(.tw-relative){
  position: relative;
}

.tw-preflight :is(.tw-inset-0){
  inset: 0px;
}

.tw-preflight :is(.tw-bottom-0){
  bottom: 0px;
}

.tw-preflight :is(.tw-bottom-full){
  bottom: 100%;
}

.tw-preflight :is(.tw-left-0){
  left: 0px;
}

.tw-preflight :is(.tw-left-10){
  left: 2.5rem;
}

.tw-preflight :is(.tw-right-0){
  right: 0px;
}

.tw-preflight :is(.tw-top-1){
  top: 0.25rem;
}

.tw-preflight :is(.tw-top-1\/2){
  top: 50%;
}

.tw-preflight :is(.tw-top-\[100\%\]){
  top: 100%;
}

.tw-preflight :is(.tw-top-full){
  top: 100%;
}

.tw-preflight :is(.tw-z-10){
  z-index: 10;
}

.tw-preflight :is(.tw-z-\[10\]){
  z-index: 10;
}

.tw-preflight :is(.tw-z-\[11\]){
  z-index: 11;
}

.tw-preflight :is(.tw-z-\[2\]){
  z-index: 2;
}

.tw-preflight :is(.tw-z-\[9999\]){
  z-index: 9999;
}

.tw-preflight :is(.tw-order-first){
  order: -9999;
}

.tw-preflight :is(.tw-order-last){
  order: 9999;
}

.tw-preflight :is(.tw-col-span-1){
  grid-column: span 1 / span 1;
}

.tw-preflight :is(.tw-col-span-12){
  grid-column: span 12 / span 12;
}

.tw-preflight :is(.tw-col-span-2){
  grid-column: span 2 / span 2;
}

.tw-preflight :is(.tw-col-span-4){
  grid-column: span 4 / span 4;
}

.tw-preflight :is(.tw-col-span-5){
  grid-column: span 5 / span 5;
}

.tw-preflight :is(.tw-col-span-full){
  grid-column: 1 / -1;
}

.tw-preflight :is(.tw-float-right){
  float: right;
}

.tw-preflight :is(.tw-float-left){
  float: left;
}

.tw-preflight :is(.tw-m-0){
  margin: 0px;
}

.tw-preflight :is(.tw-m-auto){
  margin: auto;
}

.tw-preflight :is(.tw-mx-0){
  margin-left: 0px;
  margin-right: 0px;
}

.tw-preflight :is(.tw-mx-2){
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tw-preflight :is(.tw-mx-3){
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.tw-preflight :is(.tw-mx-4){
  margin-left: 1rem;
  margin-right: 1rem;
}

.tw-preflight :is(.tw-mx-auto){
  margin-left: auto;
  margin-right: auto;
}

.tw-preflight :is(.tw-my-1){
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.tw-preflight :is(.tw-my-2){
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tw-preflight :is(.tw-my-3){
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.tw-preflight :is(.tw-my-4){
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.tw-preflight :is(.tw-mb-2){
  margin-bottom: 0.5rem;
}

.tw-preflight :is(.tw-mb-3){
  margin-bottom: 0.75rem;
}

.tw-preflight :is(.tw-mb-4){
  margin-bottom: 1rem;
}

.tw-preflight :is(.tw-mb-\[10px\]){
  margin-bottom: 10px;
}

.tw-preflight :is(.tw-mb-\[20px\]){
  margin-bottom: 20px;
}

.tw-preflight :is(.tw-mb-\[5px\]){
  margin-bottom: 5px;
}

.tw-preflight :is(.tw-me-2){
  margin-inline-end: 0.5rem;
}

.tw-preflight :is(.tw-ml-2){
  margin-left: 0.5rem;
}

.tw-preflight :is(.tw-ml-3){
  margin-left: 0.75rem;
}

.tw-preflight :is(.tw-ml-4){
  margin-left: 1rem;
}

.tw-preflight :is(.tw-mr-1){
  margin-right: 0.25rem;
}

.tw-preflight :is(.tw-mr-2){
  margin-right: 0.5rem;
}

.tw-preflight :is(.tw-mr-3){
  margin-right: 0.75rem;
}

.tw-preflight :is(.tw-mt-1){
  margin-top: 0.25rem;
}

.tw-preflight :is(.tw-mt-2){
  margin-top: 0.5rem;
}

.tw-preflight :is(.tw-mt-3){
  margin-top: 0.75rem;
}

.tw-preflight :is(.tw-mt-\[6px\]){
  margin-top: 6px;
}

.tw-preflight :is(.tw-block){
  display: block;
}

.tw-preflight :is(.tw-inline-block){
  display: inline-block;
}

.tw-preflight :is(.tw-inline){
  display: inline;
}

.tw-preflight :is(.tw-flex){
  display: flex;
}

.tw-preflight :is(.tw-inline-flex){
  display: inline-flex;
}

.tw-preflight :is(.tw-table-header-group){
  display: table-header-group;
}

.tw-preflight :is(.tw-grid){
  display: grid;
}

.tw-preflight :is(.tw-hidden){
  display: none;
}

.tw-preflight :is(.tw-size-auto){
  width: auto;
  height: auto;
}

.tw-preflight :is(.tw-h-2){
  height: 0.5rem;
}

.tw-preflight :is(.tw-h-32){
  height: 8rem;
}

.tw-preflight :is(.tw-h-4){
  height: 1rem;
}

.tw-preflight :is(.tw-h-5){
  height: 1.25rem;
}

.tw-preflight :is(.tw-h-6){
  height: 1.5rem;
}

.tw-preflight :is(.tw-h-8){
  height: 2rem;
}

.tw-preflight :is(.tw-h-80){
  height: 20rem;
}

.tw-preflight :is(.tw-h-\[100\%\]){
  height: 100%;
}

.tw-preflight :is(.tw-h-\[20px\]){
  height: 20px;
}

.tw-preflight :is(.tw-h-\[24px\]){
  height: 24px;
}

.tw-preflight :is(.tw-h-\[28px\]){
  height: 28px;
}

.tw-preflight :is(.tw-h-\[30px\]){
  height: 30px;
}

.tw-preflight :is(.tw-h-\[34px\]){
  height: 34px;
}

.tw-preflight :is(.tw-h-\[36px\]){
  height: 36px;
}

.tw-preflight :is(.tw-h-\[384px\]){
  height: 384px;
}

.tw-preflight :is(.tw-h-\[3px\]){
  height: 3px;
}

.tw-preflight :is(.tw-h-\[40px\]){
  height: 40px;
}

.tw-preflight :is(.tw-h-\[48px\]){
  height: 48px;
}

.tw-preflight :is(.tw-h-\[64px\]){
  height: 64px;
}

.tw-preflight :is(.tw-h-\[95vh\]){
  height: 95vh;
}

.tw-preflight :is(.tw-h-auto){
  height: auto;
}

.tw-preflight :is(.tw-h-fit){
  height: -moz-fit-content;
  height: fit-content;
}

.tw-preflight :is(.tw-h-full){
  height: 100%;
}

.tw-preflight :is(.tw-h-px){
  height: 1px;
}

.tw-preflight :is(.tw-max-h-\[200px\]){
  max-height: 200px;
}

.tw-preflight :is(.tw-max-h-\[304px\]){
  max-height: 304px;
}

.tw-preflight :is(.tw-max-h-fit){
  max-height: -moz-fit-content;
  max-height: fit-content;
}

.tw-preflight :is(.tw-max-h-none){
  max-height: none;
}

.tw-preflight :is(.tw-min-h-0){
  min-height: 0px;
}

.tw-preflight :is(.tw-min-h-full){
  min-height: 100%;
}

.tw-preflight :is(.tw-w-1\/3){
  width: 33.333333%;
}

.tw-preflight :is(.tw-w-1\/4){
  width: 25%;
}

.tw-preflight :is(.tw-w-11){
  width: 2.75rem;
}

.tw-preflight :is(.tw-w-12){
  width: 3rem;
}

.tw-preflight :is(.tw-w-16){
  width: 4rem;
}

.tw-preflight :is(.tw-w-24){
  width: 6rem;
}

.tw-preflight :is(.tw-w-32){
  width: 8rem;
}

.tw-preflight :is(.tw-w-4){
  width: 1rem;
}

.tw-preflight :is(.tw-w-48){
  width: 12rem;
}

.tw-preflight :is(.tw-w-5){
  width: 1.25rem;
}

.tw-preflight :is(.tw-w-6){
  width: 1.5rem;
}

.tw-preflight :is(.tw-w-80){
  width: 20rem;
}

.tw-preflight :is(.tw-w-\[100\%\]){
  width: 100%;
}

.tw-preflight :is(.tw-w-\[20px\]){
  width: 20px;
}

.tw-preflight :is(.tw-w-\[24px\]){
  width: 24px;
}

.tw-preflight :is(.tw-w-\[28px\]){
  width: 28px;
}

.tw-preflight :is(.tw-w-\[290px\]){
  width: 290px;
}

.tw-preflight :is(.tw-w-\[30\%\]){
  width: 30%;
}

.tw-preflight :is(.tw-w-\[30px\]){
  width: 30px;
}

.tw-preflight :is(.tw-w-\[36px\]){
  width: 36px;
}

.tw-preflight :is(.tw-w-\[400px\]){
  width: 400px;
}

.tw-preflight :is(.tw-w-\[48px\]){
  width: 48px;
}

.tw-preflight :is(.tw-w-\[50\%\]){
  width: 50%;
}

.tw-preflight :is(.tw-w-\[80px\]){
  width: 80px;
}

.tw-preflight :is(.tw-w-\[90\%\]){
  width: 90%;
}

.tw-preflight :is(.tw-w-\[95\%\]){
  width: 95%;
}

.tw-preflight :is(.tw-w-\[98\%\]){
  width: 98%;
}

.tw-preflight :is(.tw-w-full){
  width: 100%;
}

.tw-preflight :is(.tw-min-w-full){
  min-width: 100%;
}

.tw-preflight :is(.tw-max-w-\[40\%\]){
  max-width: 40%;
}

.tw-preflight :is(.tw-max-w-\[630px\]){
  max-width: 630px;
}

.tw-preflight :is(.tw-max-w-\[95\%\]){
  max-width: 95%;
}

.tw-preflight :is(.tw-max-w-none){
  max-width: none;
}

.tw-preflight :is(.tw-flex-1){
  flex: 1 1 0%;
}

.tw-preflight :is(.tw-grow){
  flex-grow: 1;
}

.tw-preflight :is(.tw-table-auto){
  table-layout: auto;
}

.tw-preflight :is(.tw-border-collapse){
  border-collapse: collapse;
}

.tw-preflight :is(.-tw-translate-y-1){
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-preflight :is(.-tw-translate-y-1\/2){
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-preflight :is(.tw-transform){
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes tw-pulse{
  50%{
    opacity: .5;
  }
}

.tw-preflight :is(.tw-animate-pulse){
  animation: tw-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes tw-spin{
  to{
    transform: rotate(360deg);
  }
}

.tw-preflight :is(.tw-animate-spin){
  animation: tw-spin 1s linear infinite;
}

.tw-preflight :is(.tw-cursor-help){
  cursor: help;
}

.tw-preflight :is(.tw-cursor-pointer){
  cursor: pointer;
}

.tw-preflight :is(.tw-select-none){
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.tw-preflight :is(.tw-appearance-none){
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.tw-preflight :is(.tw-grid-cols-10){
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.tw-preflight :is(.tw-grid-cols-12){
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.tw-preflight :is(.tw-grid-cols-3){
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.tw-preflight :is(.tw-grid-cols-6){
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.tw-preflight :is(.tw-flex-col){
  flex-direction: column;
}

.tw-preflight :is(.tw-flex-wrap){
  flex-wrap: wrap;
}

.tw-preflight :is(.tw-place-content-center){
  place-content: center;
}

.tw-preflight :is(.tw-place-items-center){
  place-items: center;
}

.tw-preflight :is(.tw-content-center){
  align-content: center;
}

.tw-preflight :is(.tw-items-start){
  align-items: flex-start;
}

.tw-preflight :is(.tw-items-end){
  align-items: flex-end;
}

.tw-preflight :is(.tw-items-center){
  align-items: center;
}

.tw-preflight :is(.tw-justify-start){
  justify-content: flex-start;
}

.tw-preflight :is(.tw-justify-end){
  justify-content: flex-end;
}

.tw-preflight :is(.tw-justify-center){
  justify-content: center;
}

.tw-preflight :is(.tw-justify-between){
  justify-content: space-between;
}

.tw-preflight :is(.tw-gap-1){
  gap: 0.25rem;
}

.tw-preflight :is(.tw-gap-2){
  gap: 0.5rem;
}

.tw-preflight :is(.tw-gap-3){
  gap: 0.75rem;
}

.tw-preflight :is(.tw-gap-4){
  gap: 1rem;
}

.tw-preflight :is(.tw-gap-y-4){
  row-gap: 1rem;
}

.tw-preflight :is(.tw-space-x-1 > :not([hidden]) ~ :not([hidden])){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.tw-preflight :is(.tw-space-x-2 > :not([hidden]) ~ :not([hidden])){
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.tw-preflight :is(.tw-space-y-2 > :not([hidden]) ~ :not([hidden])){
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.tw-preflight :is(.tw-divide-y > :not([hidden]) ~ :not([hidden])){
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.tw-preflight :is(.tw-divide-gray-200 > :not([hidden]) ~ :not([hidden])){
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity));
}

.tw-preflight :is(.tw-place-self-center){
  place-self: center;
}

.tw-preflight :is(.tw-self-end){
  align-self: flex-end;
}

.tw-preflight :is(.tw-overflow-auto){
  overflow: auto;
}

.tw-preflight :is(.tw-overflow-hidden){
  overflow: hidden;
}

.tw-preflight :is(.tw-overflow-x-auto){
  overflow-x: auto;
}

.tw-preflight :is(.tw-overflow-y-auto){
  overflow-y: auto;
}

.tw-preflight :is(.tw-truncate){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tw-preflight :is(.tw-whitespace-nowrap){
  white-space: nowrap;
}

.tw-preflight :is(.tw-text-wrap){
  text-wrap: wrap;
}

.tw-preflight :is(.tw-break-words){
  overflow-wrap: break-word;
}

.tw-preflight :is(.tw-rounded){
  border-radius: 0.25rem;
}

.tw-preflight :is(.tw-rounded-\[6px\]){
  border-radius: 6px;
}

.tw-preflight :is(.tw-rounded-full){
  border-radius: 9999px;
}

.tw-preflight :is(.tw-rounded-lg){
  border-radius: 0.5rem;
}

.tw-preflight :is(.tw-rounded-md){
  border-radius: 0.375rem;
}

.tw-preflight :is(.tw-border){
  border-width: 1px;
}

.tw-preflight :is(.tw-border-8){
  border-width: 8px;
}

.tw-preflight :is(.tw-border-x-0){
  border-left-width: 0px;
  border-right-width: 0px;
}

.tw-preflight :is(.tw-border-y){
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.tw-preflight :is(.tw-border-y-0){
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.tw-preflight :is(.tw-border-b){
  border-bottom-width: 1px;
}

.tw-preflight :is(.tw-border-b-\[1px\]){
  border-bottom-width: 1px;
}

.tw-preflight :is(.tw-border-t){
  border-top-width: 1px;
}

.tw-preflight :is(.tw-border-solid){
  border-style: solid;
}

.tw-preflight :is(.tw-border-\[\#1e1e1e\]){
  --tw-border-opacity: 1;
  border-color: rgb(30 30 30 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-\[\#616161\]){
  --tw-border-opacity: 1;
  border-color: rgb(97 97 97 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-\[\#757575\]\/70){
  border-color: rgb(117 117 117 / 0.7);
}

.tw-preflight :is(.tw-border-blue-400){
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-gray-300){
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-yellow-200){
  --tw-border-opacity: 1;
  border-color: rgb(254 240 138 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-b-\[\#1e1e1e\]){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(30 30 30 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-b-\[\#757575\]){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(117 117 117 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-b-black){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-border-t-transparent){
  border-top-color: transparent;
}

.tw-preflight :is(.tw-border-opacity-20){
  --tw-border-opacity: 0.2;
}

.tw-preflight :is(.tw-bg-\[\#0097A7\]){
  --tw-bg-opacity: 1;
  background-color: rgb(0 151 167 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-\[\#1565C0\]){
  --tw-bg-opacity: 1;
  background-color: rgb(21 101 192 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-\[\#1976D2\]\/30){
  background-color: rgb(25 118 210 / 0.3);
}

.tw-preflight :is(.tw-bg-\[\#2196f3\]){
  --tw-bg-opacity: 1;
  background-color: rgb(33 150 243 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-\[\#757575\]\/60){
  background-color: rgb(117 117 117 / 0.6);
}

.tw-preflight :is(.tw-bg-\[\#f5f5f5\]){
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-blue-500){
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-blue-600){
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-gray-100){
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-gray-200){
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-gray-500\/75){
  background-color: rgb(107 114 128 / 0.75);
}

.tw-preflight :is(.tw-bg-gray-900){
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-green-500){
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-transparent){
  background-color: transparent;
}

.tw-preflight :is(.tw-bg-white){
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-bg-yellow-50){
  --tw-bg-opacity: 1;
  background-color: rgb(254 252 232 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-fill-\[\#1565C0\]){
  fill: #1565C0;
}

.tw-preflight :is(.tw-fill-\[\#1976d2\]){
  fill: #1976d2;
}

.tw-preflight :is(.tw-fill-black){
  fill: #000;
}

.tw-preflight :is(.tw-fill-current){
  fill: currentColor;
}

.tw-preflight :is(.tw-p-0){
  padding: 0px;
}

.tw-preflight :is(.tw-p-1){
  padding: 0.25rem;
}

.tw-preflight :is(.tw-p-1\.5){
  padding: 0.375rem;
}

.tw-preflight :is(.tw-p-2){
  padding: 0.5rem;
}

.tw-preflight :is(.tw-p-4){
  padding: 1rem;
}

.tw-preflight :is(.tw-p-\[5px\]){
  padding: 5px;
}

.tw-preflight :is(.tw-px-2){
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.tw-preflight :is(.tw-px-3){
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.tw-preflight :is(.tw-px-4){
  padding-left: 1rem;
  padding-right: 1rem;
}

.tw-preflight :is(.tw-px-\[8px\]){
  padding-left: 8px;
  padding-right: 8px;
}

.tw-preflight :is(.tw-py-1){
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.tw-preflight :is(.tw-py-1\.5){
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.tw-preflight :is(.tw-py-2){
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tw-preflight :is(.tw-py-3){
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tw-preflight :is(.tw-py-4){
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.tw-preflight :is(.tw-py-\[2px\]){
  padding-top: 2px;
  padding-bottom: 2px;
}

.tw-preflight :is(.tw-pb-2){
  padding-bottom: 0.5rem;
}

.tw-preflight :is(.tw-pl-\[10px\]){
  padding-left: 10px;
}

.tw-preflight :is(.tw-pr-2){
  padding-right: 0.5rem;
}

.tw-preflight :is(.tw-pr-\[10px\]){
  padding-right: 10px;
}

.tw-preflight :is(.tw-ps-2){
  padding-inline-start: 0.5rem;
}

.tw-preflight :is(.tw-pt-1){
  padding-top: 0.25rem;
}

.tw-preflight :is(.tw-pt-3){
  padding-top: 0.75rem;
}

.tw-preflight :is(.tw-pt-\[25px\]){
  padding-top: 25px;
}

.tw-preflight :is(.tw-pt-\[30px\]){
  padding-top: 30px;
}

.tw-preflight :is(.tw-text-left){
  text-align: left;
}

.tw-preflight :is(.tw-text-center){
  text-align: center;
}

.tw-preflight :is(.tw-text-right){
  text-align: right;
}

.tw-preflight :is(.tw-font-roboto){
  font-family: Roboto, sans-serif;
}

.tw-preflight :is(.tw-text-2xl){
  font-size: 1.5rem;
  line-height: 2rem;
}

.tw-preflight :is(.tw-text-\[0\.875rem\]){
  font-size: 0.875rem;
}

.tw-preflight :is(.tw-text-base){
  font-size: 1rem;
  line-height: 1.5rem;
}

.tw-preflight :is(.tw-text-lg){
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tw-preflight :is(.tw-text-sm){
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.tw-preflight :is(.tw-text-xl){
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.tw-preflight :is(.tw-text-xs){
  font-size: 0.75rem;
  line-height: 1rem;
}

.tw-preflight :is(.tw-font-bold){
  font-weight: 700;
}

.tw-preflight :is(.tw-font-light){
  font-weight: 300;
}

.tw-preflight :is(.tw-font-medium){
  font-weight: 500;
}

.tw-preflight :is(.tw-font-semibold){
  font-weight: 600;
}

.tw-preflight :is(.tw-ordinal){
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.tw-preflight :is(.tw-leading-9){
  line-height: 2.25rem;
}

.tw-preflight :is(.tw-text-\[\#1976D2\]){
  --tw-text-opacity: 1;
  color: rgb(25 118 210 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-\[\#1976d2\]){
  --tw-text-opacity: 1;
  color: rgb(25 118 210 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-\[\#1e1e1e\]){
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-\[\#2196f3\]){
  --tw-text-opacity: 1;
  color: rgb(33 150 243 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-\[\#BDBDBD\]){
  --tw-text-opacity: 1;
  color: rgb(189 189 189 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-\[\#FAFAFA\]){
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-black){
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-black\/60){
  color: rgb(0 0 0 / 0.6);
}

.tw-preflight :is(.tw-text-black\/80){
  color: rgb(0 0 0 / 0.8);
}

.tw-preflight :is(.tw-text-blue-50){
  --tw-text-opacity: 1;
  color: rgb(239 246 255 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-blue-600){
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-cyan-50){
  --tw-text-opacity: 1;
  color: rgb(236 254 255 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-gray-300){
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-gray-400){
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-gray-900){
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-red-500){
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-white){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-yellow-200){
  --tw-text-opacity: 1;
  color: rgb(254 240 138 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-yellow-700){
  --tw-text-opacity: 1;
  color: rgb(161 98 7 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-text-yellow-800){
  --tw-text-opacity: 1;
  color: rgb(133 77 14 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-underline){
  text-decoration-line: underline;
}

.tw-preflight :is(.tw-placeholder-black\/50)::-moz-placeholder{
  color: rgb(0 0 0 / 0.5);
}

.tw-preflight :is(.tw-placeholder-black\/50)::placeholder{
  color: rgb(0 0 0 / 0.5);
}

.tw-preflight :is(.tw-opacity-0){
  opacity: 0;
}

.tw-preflight :is(.tw-opacity-100){
  opacity: 1;
}

.tw-preflight :is(.tw-opacity-50){
  opacity: 0.5;
}

.tw-preflight :is(.tw-shadow-2xl){
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-preflight :is(.tw-shadow-lg){
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-preflight :is(.tw-shadow-md){
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-preflight :is(.tw-shadow-xl){
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tw-preflight :is(.tw-outline-none){
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.tw-preflight :is(.tw-transition-all){
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-preflight :is(.tw-transition-colors){
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-preflight :is(.tw-transition-opacity){
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-preflight :is(.tw-duration-200){
  transition-duration: 200ms;
}

.aladin-indicator{
  opacity: 0;
  visibility: hidden;
}

.htmx-request .aladin-indicator,
.htmx-request.aladin-indicator{
  opacity: 1;
  visibility: visible;
  transition: opacity 200ms ease-in;
}

.tw-preflight :is(.after\:tw-absolute)::after{
  content: var(--tw-content);
  position: absolute;
}

.tw-preflight :is(.after\:tw-start-\[2px\])::after{
  content: var(--tw-content);
  inset-inline-start: 2px;
}

.tw-preflight :is(.after\:tw-top-\[2px\])::after{
  content: var(--tw-content);
  top: 2px;
}

.tw-preflight :is(.after\:tw-h-5)::after{
  content: var(--tw-content);
  height: 1.25rem;
}

.tw-preflight :is(.after\:tw-w-5)::after{
  content: var(--tw-content);
  width: 1.25rem;
}

.tw-preflight :is(.after\:tw-rounded-full)::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.tw-preflight :is(.after\:tw-border)::after{
  content: var(--tw-content);
  border-width: 1px;
}

.tw-preflight :is(.after\:tw-border-gray-300)::after{
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.tw-preflight :is(.after\:tw-bg-white)::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.tw-preflight :is(.after\:tw-transition-all)::after{
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.tw-preflight :is(.after\:tw-content-\[\'\'\])::after{
  --tw-content: '';
  content: var(--tw-content);
}

.tw-preflight :is(.hover\:tw-cursor-pointer:hover){
  cursor: pointer;
}

.tw-preflight :is(.hover\:tw-border-b-black\/70:hover){
  border-bottom-color: rgb(0 0 0 / 0.7);
}

.tw-preflight :is(.hover\:tw-border-b-white:hover){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.tw-preflight :is(.hover\:tw-bg-\[\#1976d2\]\/20:hover){
  background-color: rgb(25 118 210 / 0.2);
}

.tw-preflight :is(.hover\:tw-bg-\[\#2196f3\]\/30:hover){
  background-color: rgb(33 150 243 / 0.3);
}

.tw-preflight :is(.hover\:tw-bg-\[\#757575\]:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(117 117 117 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-bg-\[\#b2b2b2\]:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(178 178 178 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-bg-\[\#b2b2b2\]\/50:hover){
  background-color: rgb(178 178 178 / 0.5);
}

.tw-preflight :is(.hover\:tw-bg-\[\#e5e4e2\]:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(229 228 226 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-bg-blue-600:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-bg-blue-700:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-bg-gray-400:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-bg-gray-50:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-bg-gray-600:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.tw-preflight :is(.hover\:tw-text-gray-600:hover){
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.tw-preflight :is(.focus\:tw-outline-none:focus){
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.tw-preflight :is(.focus\:tw-outline:focus){
  outline-style: solid;
}

.tw-preflight :is(.focus\:tw-outline-0:focus){
  outline-width: 0px;
}

.tw-preflight :is(.focus\:tw-ring-2:focus){
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.tw-preflight :is(.focus\:tw-ring-blue-500:focus){
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
}

.tw-preflight :is(.focus\:tw-ring-offset-2:focus){
  --tw-ring-offset-width: 2px;
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-block){
  display: block;
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-flex){
  display: flex;
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-flex-col){
  flex-direction: column;
}

.tw-preflight :is(.tw-peer:checked ~ .peer-checked\:tw-bg-gray-600){
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-peer:checked ~ .peer-checked\:after\:tw-translate-x-full)::after{
  content: var(--tw-content);
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.tw-preflight :is(.tw-peer:checked ~ .peer-checked\:after\:tw-border-white)::after{
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-peer:focus ~ .peer-focus\:tw-outline-none){
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.tw-preflight :is(.tw-dark .dark\:tw-border){
  border-width: 1px;
}

.tw-preflight :is(.tw-dark .dark\:tw-border-black){
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-border-gray-600){
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-border-white){
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-border-yellow-700){
  --tw-border-opacity: 1;
  border-color: rgb(161 98 7 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-border-b-\[\#757575\]){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(117 117 117 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-border-b-gray-600){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-border-b-white){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-border-opacity-20){
  --tw-border-opacity: 0.2;
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-\[\#1e1e1e\]){
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-\[\#1e1e1e\]\/95){
  background-color: rgb(30 30 30 / 0.95);
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-\[\#424242\]){
  --tw-bg-opacity: 1;
  background-color: rgb(66 66 66 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-\[\#757575\]\/60){
  background-color: rgb(117 117 117 / 0.6);
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-gray-600){
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-gray-700){
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-gray-800){
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-yellow-900){
  --tw-bg-opacity: 1;
  background-color: rgb(113 63 18 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-fill-\[\#1976d2\]){
  fill: #1976d2;
}

.tw-preflight :is(.tw-dark .dark\:tw-fill-white){
  fill: #fff;
}

.tw-preflight :is(.tw-dark .dark\:tw-text-\[\#EEEEEE\]){
  --tw-text-opacity: 1;
  color: rgb(238 238 238 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-text-\[\#F5F5F5\]){
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-text-\[\#FAFAFA\]){
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-text-gray-100){
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-text-gray-300){
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-text-white){
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-text-white\/70){
  color: rgb(255 255 255 / 0.7);
}

.tw-preflight :is(.tw-dark .dark\:tw-text-white\/80){
  color: rgb(255 255 255 / 0.8);
}

.tw-preflight :is(.tw-dark .dark\:tw-text-yellow-200){
  --tw-text-opacity: 1;
  color: rgb(254 240 138 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-text-yellow-300){
  --tw-text-opacity: 1;
  color: rgb(253 224 71 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:tw-placeholder-white\/60)::-moz-placeholder{
  color: rgb(255 255 255 / 0.6);
}

.tw-preflight :is(.tw-dark .dark\:tw-placeholder-white\/60)::placeholder{
  color: rgb(255 255 255 / 0.6);
}

.tw-preflight :is(.tw-dark .dark\:hover\:tw-border-b-white:hover){
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.tw-preflight :is(.tw-dark .dark\:hover\:tw-bg-\[\#3b3939\]:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(59 57 57 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:hover\:tw-bg-blue-800:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:hover\:tw-bg-gray-700:hover){
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.tw-preflight :is(.tw-dark .dark\:hover\:tw-text-gray-300:hover){
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.tw-preflight :is(.tw-dark .dark\:focus\:tw-ring-offset-gray-800:focus){
  --tw-ring-offset-color: #1f2937;
}

.tw-preflight :is(.tw-dark .tw-peer:checked ~ .dark\:peer-checked\:tw-bg-gray-600){
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

@media (min-width: 640px){
  .tw-preflight :is(.sm\:tw-col-span-11){
    grid-column: span 11 / span 11;
  }

  .tw-preflight :is(.sm\:tw-col-span-12){
    grid-column: span 12 / span 12;
  }

  .tw-preflight :is(.sm\:tw-my-8){
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .tw-preflight :is(.sm\:tw-mt-0){
    margin-top: 0px;
  }

  .tw-preflight :is(.sm\:tw-flex){
    display: flex;
  }

  .tw-preflight :is(.sm\:tw-table-cell){
    display: table-cell;
  }

  .tw-preflight :is(.sm\:tw-table-header-group){
    display: table-header-group;
  }

  .tw-preflight :is(.sm\:tw-table-row){
    display: table-row;
  }

  .tw-preflight :is(.sm\:tw-hidden){
    display: none;
  }

  .tw-preflight :is(.sm\:tw-h-\[32px\]){
    height: 32px;
  }

  .tw-preflight :is(.sm\:tw-h-\[34px\]){
    height: 34px;
  }

  .tw-preflight :is(.sm\:tw-w-auto){
    width: auto;
  }

  .tw-preflight :is(.sm\:tw-w-full){
    width: 100%;
  }

  .tw-preflight :is(.sm\:tw-max-w-lg){
    max-width: 32rem;
  }

  .tw-preflight :is(.sm\:tw-flex-none){
    flex: none;
  }

  .tw-preflight :is(.sm\:tw-flex-row-reverse){
    flex-direction: row-reverse;
  }

  .tw-preflight :is(.sm\:tw-items-center){
    align-items: center;
  }

  .tw-preflight :is(.sm\:tw-p-0){
    padding: 0px;
  }

  .tw-preflight :is(.sm\:tw-px-6){
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px){
  .tw-preflight :is(.md\:tw-order-none){
    order: 0;
  }

  .tw-preflight :is(.md\:tw-col-span-12){
    grid-column: span 12 / span 12;
  }

  .tw-preflight :is(.md\:tw-col-span-3){
    grid-column: span 3 / span 3;
  }

  .tw-preflight :is(.md\:tw-col-span-9){
    grid-column: span 9 / span 9;
  }

  .tw-preflight :is(.md\:tw-h-full){
    height: 100%;
  }
}

@media (min-width: 1024px){
  .tw-preflight :is(.lg\:tw-col-span-12){
    grid-column: span 12 / span 12;
  }

  .tw-preflight :is(.lg\:tw-col-span-5){
    grid-column: span 5 / span 5;
  }

  .tw-preflight :is(.lg\:tw-col-span-6){
    grid-column: span 6 / span 6;
  }

  .tw-preflight :is(.lg\:tw-col-span-7){
    grid-column: span 7 / span 7;
  }

  .tw-preflight :is(.lg\:tw-w-1\/2){
    width: 50%;
  }

  .tw-preflight :is(.lg\:tw-w-1\/4){
    width: 25%;
  }

  .tw-preflight :is(.lg\:tw-w-\[85\%\]){
    width: 85%;
  }

  .tw-preflight :is(.lg\:tw-max-w-\[458px\]){
    max-width: 458px;
  }

  .tw-preflight :is(.lg\:tw-flex-row){
    flex-direction: row;
  }
}

.tw-preflight :is(.tw-peer:checked ~ .rtl\:peer-checked\:after\:-tw-translate-x-full:where([dir="rtl"], [dir="rtl"] *))::after{
  content: var(--tw-content);
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}