
.loader { 
  width:100%;
  margin:0 auto;
  position:relative;
  padding:1px;
}


.loader .loaderBar { 
  position:absolute;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:#1976D2; 
  width:0;
  animation:linear-loading 1s linear infinite;
}

.astronomical-loading-indicator{
  opacity: 0;
}

.htmx-request.astronomical-loading-indicator{
  opacity: 1;
}

@keyframes linear-loading {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}