.idea/
__pycache__/
tests/tests.out
*.pyc
.vscode/
.coverage
htmlcov/
.DS_Store
.env
.log/
coverage.*
.python-version
tests/profiling/memray*
.projectile
.venv
.editorconfig

#packaged charts
*.tgz
values.override*.yaml

lightcurve/tests/profiling/memray*
lightcurve/tests/profiling/flamegraph*

*.restclient

values.*.override.yaml
