Flask-Caching==1.7.2
Flask==1.1.1
psycopg2-binary==2.8.3
flask_cors==3.0.8
pandas==0.24.2
numpy==1.16.4
P4J==0.27
astropy==3.2.1
requests==2.22.0
flask_profiler==1.8.1
flask-restful==0.3.8
git+https://gitlab.com/dirodriguezm/flask-restful-swagger-3.git