Flask==2.1.0
flask_cors==3.0.9
flask_profiler==1.8.1
flask_restx==0.5.1
prometheus-flask-exporter>=0.18.1
returns==0.19.0
werkzeug==2.1.2
dependency-injector>=4.0,<5.0
dependency-injector[yaml]
-e git+https://git@github.com/alercebroker/db-plugins@aee7b10#egg=db-plugins
-e git+https://github.com/alercebroker/ralidator-flask.git@3fd0cab#egg=ralidator_flask
