apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "alerts-api.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "alerts-api.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "alerts-api.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "alerts-api.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "alerts-api.fullname" . }}
                  key: port
            - name: API_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "alerts-api.fullname" . }}
                  key: api-url
            - name: APP_WORKERS
              valueFrom:
                configMapKeyRef:
                  name: {{ include "alerts-api.fullname" . }}
                  key: app-workers
            - name: THREADS
              valueFrom:
                configMapKeyRef:
                  name: {{ include "alerts-api.fullname" . }}
                  key: threads
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "alerts-api.fullname" . }}
                  key: log-level
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: sql-host
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: sql-database
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: sql-user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: sql-password
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: sql-port
            - name: MONGO_HOST
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: mongo-host
            - name: MONGO_DATABASE
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: mongo-database
            - name: MONGO_AUTH_SOURCE
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: mongo-auth-source
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: mongo-user
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: mongo-password
            - name: MONGO_PORT
              valueFrom:
                secretKeyRef:
                  name: database-auth
                  key: mongo-port
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: secret-key
                  key: secret-key
        - name: nginx-sidecar
          image: nginx
          ports:
            - containerPort: 80
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          resources:
            requests:
              memory: 64M
              cpu: 50m
      volumes:
        - name: nginx-conf
          configMap:
            name: alerts-api-nginx-conf
            items:
              - key: "default.conf"
                path: "default.conf"
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
