{% macro checkbox(value, checked, title, tooltip, disabled=False, hidden=False) %}
    <div id="lc-check-row-{{ value }}"
         class="tw-grid tw-grid-cols-6"
         {% if hidden %}hidden{% endif %}>
        <div class="tw-col-span-5">
            <label>
                <input id="lc-check-{{ value }}"
                       type="checkbox"
                       value="{{ value }}"
                       {% if checked %}checked{% endif %}
                       {% if disabled %}disabled{% endif %}>
                <span id="lc-check-{{ value }}-label">{{ title }}</span>
            </label>
        </div>
        <div class="tooltip tw-col-span-1">
            <!--<i class="fa fa-question-circle tw-me-2"></i>-->
            <span class="material-symbols-outlined tw-cursor-pointer tw-me-2">help</span>
            <div class="tooltip-text">{{ tooltip }}</div>
        </div>
    </div>
{% endmacro %}
