<script id="htmx-script" src="https://unpkg.com/htmx.org@2.0.2"></script>
<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<link rel="stylesheet" href="{{ API_URL }}/static/main.css">
<script>
    function configRequest(event) {
        if (event.detail.elt.id === "lc-dr") {
            let params = {}
            params['dr_ids'] = {{ dr_ids | tojson }}
            params['oid'] = "{{oid}}"
            params['plot_type'] = "{{plot_type}}"
            event.detail.parameters = params
        }
    }
    document.removeEventListener('htmx:configRequest', configRequest)
    document.addEventListener('htmx:configRequest', configRequest)
</script>
<div id="lightcurve-app"
     class="tw-preflight tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white"
     style="height: 100%">    
    <div id="lc-main" style="width: 100%;  min-width: 0; min-height: 380px;"></div>

    <p id="spot-loader" class="indicator tw-text-center tw-w-full">Loading...</p>
    <div class="tw-grid tw-grid-cols-10 tw-gap-1 tw-px-4 tw-py-4">
        <div class="tw-col-span-4">
            {% import 'radio_button.html.jinja' as radio %}
            <div>
                {{ radio.radio_button("difference", plot_type == "difference", "Difference Magnitude", "The difference magnitude light curve is the absolute difference between science and reference magnitudes.") }}
            </div>
            <div>
                {{ radio.radio_button("apparent", plot_type == "apparent", "Apparent Magnitude", "Apparent magnitude light curve results from adding/subtracting the fluxes from the reference and difference in the same unit system and then converting to magnitudes.") }}
            </div>
            <div>
                {{ radio.radio_button("folded", plot_type == "folded", "Folded", "The period folded light curve, where time is transformed to time modulo the period (phase). Disabled if no period available.", disabled= (period | int) == 0) }}
            </div>
        </div>
        <div class="tw-col-span-4">
            {% import 'checkbox.html.jinja' as checkbox %}
            <div>{{ checkbox.checkbox("dr", false, "Toggle DR", "Show sources from ZTF Data Release 5") }}</div>
            <div>{{ checkbox.checkbox("flux", false, "Toggle Flux", "Toggle between flux and magnitude") }}</div>
            <div>
                {{ checkbox.checkbox("periodogram", false, "Toggle Periodogram", "Show the lightcurve periodogram. Points on the periodogram can be clicked to update the folded lightcurve plot.", hidden=True) }}
            </div>
        </div>
        <div class="tw-col-span-2 tw-space-y-2">
            <div>
                <button id="lc-dr"
                        class="tw-text-xs tw-bg-blue-500 hover:tw-bg-blue-700 disabled:tw-bg-transparent disabled:tw-opacity-50 disabled:tw-outline tw-text-white tw-font-bold tw-py-1 tw-px-2 tw-rounded"
                        hx-get="{{ API_URL }}/htmx/lightcurve/dr"
                        hx-swap="outerHTML"
                        hx-trigger="click"
                        hx-target="#lightcurve-app"
                        hx-swap="outerHTML"
                        hx-indicator="#spot-loader">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#FFFFFF" class="tw-inline-block"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg>
                    <span class="tw-inline-block tw-ml-1">Filter DR</span>
                </button>
            </div>
            <div>
                <a id="lc-download-ref" style="display: none;"></a>
                <button id="lc-download"
                        class="tw-text-xs tw-bg-green-500 hover:tw-bg-green-700 tw-text-white tw-font-bold tw-px-2 tw-rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16px" viewBox="0 -960 960 960" width="16px" fill="#FFFFFF" class="tw-inline-block"><path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/></svg>
                    <span class="tw-inline-block tw-ml-1 tw-py-1">Download</span>
                </button>
            </div>
        </div>
    </div>
    {% include 'periodogram.html.jinja' %}
    <script type="module">
        import { ApparentLightCurveOptions } from "{{API_URL}}/static/lc-apparent.js";
        import { DifferenceLightCurveOptions } from "{{API_URL}}/static/lc-difference.js";
        import { FoldedLightCurveOptions } from "{{API_URL}}/static/lc-folded.js";
        import { Periodogram } from "{{API_URL}}/static/periodogram.js";
        import * as echart from "{{API_URL}}/static/echarts.min.js";
        import { jdToDate } from "{{API_URL}}/static/astro-dates.js";
        import "{{API_URL}}/static/jszip.js"

        let plot_text_color = "#000";
        let plot_options;
        const detections = {{ lightcurve.detections | tojson }};
        const forced_photometry = {{ lightcurve.forced_photometry | tojson }};
        const non_detections = {{ lightcurve.non_detections | tojson }};
        const dr_detections = {{ dr_detections | tojson }};
        const dr = {{ dr | tojson }};
        let current_plot = "{{ plot_type }}";
        let period = {{ period | float }};
        const apiUrl = "{{ API_URL }}"
        
        const setPlot = () => {
            let flux = document.getElementById("lc-check-flux").checked;
            const all_detections = getDetectionsWithDR();

            const periodogram = document.getElementById("lc-periodogram");
            const periodogram_check = document.getElementById("lc-check-row-periodogram");
            const diffOptions = new DifferenceLightCurveOptions(
                JSON.parse(JSON.stringify(detections)),
                non_detections,
                JSON.parse(JSON.stringify(forced_photometry)),
                plot_text_color,
                flux
            );
            const appOptions = new ApparentLightCurveOptions(
                JSON.parse(JSON.stringify(all_detections)),
                JSON.parse(JSON.stringify(forced_photometry)),
                plot_text_color,
                flux
            );
            const foldOptions = new FoldedLightCurveOptions(
                JSON.parse(JSON.stringify(all_detections)),
                JSON.parse(JSON.stringify(forced_photometry)),
                plot_text_color,
                period,
                flux
            );

            if (current_plot === "difference") {
                plot_options = diffOptions
            } 
            if (current_plot === "apparent") {
                plot_options = appOptions
            }
            if (current_plot === "folded") {
                plot_options = foldOptions
            }

            periodogram.hidden = current_plot !== "folded";
            periodogram_check.hidden = current_plot !== "folded";

            plot.setOption(plot_options.options, true);
            disableRadioButtons(diffOptions, appOptions, foldOptions);
        }

        function getDetectionsWithDR() {
            let all_detections = JSON.parse(JSON.stringify(detections));
            let check_dr = document.getElementById("lc-check-dr");
            if (!check_dr.checked) {
                return all_detections
            }
            Object.keys(dr_detections).forEach((key) => {
                all_detections = all_detections.concat(JSON.parse(JSON.stringify( dr_detections[key] )));
            });
            return all_detections
        }

        function disableRadioButtons(diffOptions, appOptions, foldOptions) {
            const canDisplay = (options) => {
                let canDisplay = false
                options.series.forEach((s) => {
                    if (s.data.length > 0) {
                        canDisplay = true;
                    }
                });
                return canDisplay;
            };
            const apparent = document.getElementById("radio-apparent")
            apparent.disabled = !canDisplay(appOptions.options);
            apparent.classList.toggle("tw-opacity-50", !canDisplay(appOptions.options));
            apparent.classList.toggle("tw-bg-transparent", !canDisplay(appOptions.options));
            const check_dr = document.getElementById("lc-check-dr")
            check_dr.disabled = !canDisplay(appOptions.options) || dr.length === 0;
            check_dr.classList.toggle("tw-opacity-50", check_dr.disabled);
            check_dr.classList.toggle("tw-bg-transparent", check_dr.disabled);
            const check_dr_label = document.getElementById("lc-check-dr-label")
            check_dr_label.classList.toggle("tw-opacity-50", !canDisplay(appOptions.options));
            const lc_dr = document.getElementById("lc-dr")
            lc_dr.disabled = !canDisplay(appOptions.options) || dr.length === 0;
            const folded = document.getElementById("radio-folded")
            folded.disabled = !canDisplay(foldOptions.options) || period === 0.0;
            folded.classList.toggle("tw-opacity-50", !canDisplay(appOptions.options));
            folded.classList.toggle("tw-bg-transparent", !canDisplay(appOptions.options));
        }

        function showDataRelease() {
            if (current_plot === "apparent" || current_plot === "difference") {
                current_plot = "apparent";
            }
            setPlot();
            updateRadioButtons();
        }

        function plotOnClick(detection) {
            let index = plot_options.detections.findIndex((x) => x.mjd === detection.value[0])
            document.body.dispatchEvent(new CustomEvent('onDetectionClick', { detail: index }))
            const date = jdToDate(detection.value[0]).toUTCString().slice(0, -3) + 'UT'
            return {
                mjd: detection.value[0],
                date,
                index: index,
            }
        }

        function dateToString(date) {
            date = date.toISOString();
            date = date.replace(/[-:]/g, (c) => '');
            // date = date.replace('T', '_');
            date = date.split('T')[0];
            return date;
        }

        function jsonToCsv(arrayOfJson) {
            const replacer = (key, value) => (value === null ? '' : value);
            const header = Object.keys(arrayOfJson[0]);
            let csv = arrayOfJson.map((row) =>
                header
                    .map((fieldName) => JSON.stringify(row[fieldName], replacer))
                    .join(',')
            );
            csv.unshift(header.join(','));
            csv = csv.join('\r\n');
            return csv;
        }

        function expandExtraFields(detections) {
            return detections.map((d) => {
                if ('extra_fields' in d) {
                    let extra_fields = d.extra_fields;
                    delete d.extra_fields;
                    return { ...d, ...extra_fields };
                }
                return d;
            });
        }

        /* based in https://stackoverflow.com/questions/8847766/how-to-convert-json-to-csv-format-and-store-in-a-variable */
        function download(oid, detections, nonDetections, forcedPhotometry) {
            const today = dateToString(new Date())
            const filename = `${oid}_${today}.zip`;
            const zip = new JSZip();
            zip.file('detections.csv', jsonToCsv(expandExtraFields(JSON.parse(JSON.stringify(detections)))));
            zip.file('non_detections.csv', jsonToCsv(expandExtraFields(JSON.parse(JSON.stringify(nonDetections)))));
            if (forcedPhotometry.length > 0) {
                zip.file('forced_photometry.csv', jsonToCsv(expandExtraFields(JSON.parse(JSON.stringify(forcedPhotometry)))));
            }
            zip.generateAsync({ type: 'blob' }).then((content) => {
                const url = URL.createObjectURL(content);
                const a = document.getElementById("lc-download-ref");
                a.href = url;
                a.download = filename;
                a.click();
            });
        }

        function updateRadioButtons(){
            radio_buttons.forEach((r) => {
                r.checked = r.value === current_plot;
            });
        }

        document.getElementById("lc-download").addEventListener("click", () => download("{{oid}}", detections, non_detections, forced_photometry));

        const lc_main_elem = document.getElementById("lc-main");
        let plot = echarts.init(lc_main_elem);
        plot.on("click", plotOnClick);
        window.addEventListener("resize", plot.resize);
        let radio_buttons = document.querySelectorAll('input[type="radio"]');
        radio_buttons.forEach((radio) => {
            radio.addEventListener("click", (event) => {
                current_plot = event.target.value;
                setPlot();
                updateRadioButtons();
            });
        });

        let check_dr = document.getElementById("lc-check-dr");
        {% if show_dr %}
        check_dr.checked = true;
        {% endif %}
        check_dr.addEventListener("change", (event) => {
            if (event.target.checked) {
                showDataRelease();
            } else {
                setPlot();
            }
        });
        let check_flux = document.getElementById("lc-check-flux");
        check_flux.addEventListener("change", setPlot);
        const container = document.getElementById("lightcurve-app");


        // Add periodogram
        const periodogram_elements = {
            main: document.getElementById("lc-periodogram-main"),
            spiner: document.getElementById("lc-periodogram-spinner"),
            slider: document.getElementById("lc-periodogram-slider"),
            field: document.getElementById("lc-periodogram-value"),
            doubleButton: document.getElementById("lc-periodogram-double"),
            halfButton: document.getElementById("lc-periodogram-half"),
            check: document.getElementById("lc-check-periodogram"),
        };

        const periodogram = new Periodogram(period, detections, periodogram_elements, apiUrl, setPlot);
        periodogram.onSetPeriod = (newPeriod) => {
            period = newPeriod;
            setPlot();
        };


        // Update color scheme
        function setColorSchemeWrapper(container) {
            function setColorScheme() {
                const color_scheme = container.classList.contains("tw-dark") || container.classList.contains("theme--dark")? "tw-dark" : "tw-light";
                if (color_scheme === "tw-dark") {
                    plot_text_color = "#fff";
                } else {
                    plot_text_color = "#000";
                }
                setPlot();
                periodogram.updateColorScheme(color_scheme);
            }
            return setColorScheme;
        }

        function isDarkIcon(container) {
            let color_scheme_icon = container.classList.contains("tw-dark") || container.classList.contains("theme--dark")? "tw-dark" : "tw-light";
            let icons_svg = document.querySelectorAll("svg")
            
            if(color_scheme_icon != "tw-dark"){
                icons_svg.forEach((icon) => {
                    if(icon.id != ""){
                        icon.attributes.fill.value = "#000"
                    }
                })
            }
        }

        const color_scheme_observer = new MutationObserver(setColorSchemeWrapper(container));
        color_scheme_observer.observe(container, { attributes: true, attributeFilter: ["class"] });
        setColorSchemeWrapper(container)()

        isDarkIcon(container)
    </script>
</div>
