<script id="htmx-script" src="https://unpkg.com/htmx.org@1.9.11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script  type="module" src="{{API_URL}}/static/probability.js"></script>
<link rel="stylesheet" href="{{API_URL}}/static/probability.css">
<link rel="stylesheet" href="{{API_URL}}/static/select.css">

<div id="probabilities-app" class="tw-preflight tw-w-full tw-bg-white dark:tw-bg-[#1e1e1e]">
    <div class="tw-flex tw-flex-col tw-items-center">

        <div id="selectContainer" class="tw-flex tw-justify-center tw-my-4 tw-mx-auto tw-w-full">
            
            <div id='robot' class="tw-ml-4">
                <svg id="robotImg" class="tw-h-[30px] tw-w-[30px]" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                <path fill="currentColor" d="M12 2a2 2 0 0 1 2 2c0 .74-.4 1.39-1 1.73V7h1a7 7 0 0 1 7 7h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v1a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-1H2a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1a7 7 0 0 1 7-7h1V5.73c-.6-.34-1-.99-1-1.73a2 2 0 0 1 2-2M7.5 13A2.5 2.5 0 0 0 5 15.5A2.5 2.5 0 0 0 7.5 18a2.5 2.5 0 0 0 2.5-2.5A2.5 2.5 0 0 0 7.5 13m9 0a2.5 2.5 0 0 0-2.5 2.5a2.5 2.5 0 0 0 2.5 2.5a2.5 2.5 0 0 0 2.5-2.5a2.5 2.5 0 0 0-2.5-2.5"/>
                </svg>
            </div>
            
            <!--
            <select name="selectClassifier" id="selectClassifier" class="tw-w-[100%] tw-mx-4 tw-bg-transparent tw-border-0 tw-border-b tw-border-b-[#1e1e1e] hover:tw-border-b-white hover:tw-cursor-pointer dark:tw-border-b-white">
                <optgroup class="tw-bg-white tw-text-black dark:tw-bg-[#1e1e1e] dark:tw-text-white">
                    {% for x in class_dict %}
                         {% for key, value in x.items() %}
                            <option value="{{key}}">{{value}}</option>
                         {% endfor %}
                    {% endfor %}
                </optgroup>
            </select>
            -->
            <div class="select-wrapper">
                <div class="select">
                    <div class="select__trigger">
                        {% for value in class_dict[0].values()%}
                            <span>{{value}}</span>
                        {% endfor %}
                    </div>
                    <div class="custom-options">
                        {% for y in class_dict %}
                            {% for key, value in y.items() %}
                                    {% if key == "lc_classifier" %}
                                        <span class="custom-option selected" data-value="{{key}}"> {{value}}</span>
                                    {% else %}
                                        <span class="custom-option" data-value="{{key}}"> {{value}}</span>
                                    {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>

        <div class="md:tw-w-[80%] md:tw-h-[80%] sm:tw-w-[100%] sm:tw-h-[100%] tw-mx-auto tw-relative">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>


<script type="module">
import { init } from "{{API_URL}}/static/probability.js";
  init();
</script>

<script id="probabilities-data" type="application/json">
{ 
   "taxonomy_dict": {{taxonomy_dict | tojson}},
   "group_prob_dict": {{group_prob_dict | tojson}}
}
</script>