<script id="htmx-script" src="https://unpkg.com/htmx.org@2.0.2"></script>
<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
<link rel="stylesheet" href="{{API_URL}}/static/crossmatch.css"> 
<script type="module" src="{{API_URL}}/static/newCrossmatch.js"></script>

<div id='crossmatch-app' class="tw-preflight tw-text-[#1e1e1e] dark:tw-text-white tw-bg-white tw-shadow-2xl dark:tw-bg-[#1e1e1e] tw-rounded-[6px] tw-w-full tw-text-sm">

    <div class="tw-inline tw-mb-[5px]">
            <h1 class="tw-font-bold tw-text-2xl tw-pt-[30px] tw-pl-[5px] tw-mb-[20px] dark:tw-text-white tw-text-black"> Crossmatch</h1>
    </div>

    <div class="tw-flex tw-items-center tw-mb-[10px] tw-max-w-[95%] tw-m-auto">
        <div class="tw-whitespace-nowrap">
            <p class="tw-text-black dark:tw-text-white"> Max. distance </p>
        </div>
        <div class="tw-grow tw-mx-4">
            <input class="tw-w-full tw-h-[3px] tw-bg-pink-400 tw-rounded-lg tw-appearance-none tw-cursor-pointer dark:tw-bg-gray-700" type="range" id="slider" min="0" max="20" value="0" step="0.01">
        </div>
        <div class="tw-flex">
            {# <div class="">
                    <svg class="tw-text-black dark:tw-text-white tw-w-6 tw-h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                    </svg>
            </div> #}
            <div class="tw-border-b tw-flex">
                <div type="number" id="customInput" value="0" contenteditable="true" class="tw-text-black dark:tw-text-white tw-inline-block tw-p-[5px] tw-h-[30px] tw-w-[80px] tw-overflow-hidden tw-whitespace-nowrap tw-outline-none focus:tw-outline-none">
                    0
                </div>
                <div class="tw-mt-[6px]">
                    <p class="tw-text-black dark:tw-text-white">
                        arcsec
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <table class="tw-w-full">
            {% for i in range(cross|length) %}
                {% for key, values in cross[i].items() %}   
                    <div>
                        <tr>
                            <td class="tw-w-full">               
                                <button id="{{key}}" class="tw-w-full show-table-btn" data-key="{{key}}">
                                    <div class="tw-float-left tw-flex tw-justify-normal">
                                        <p class="tw-text-lg">{{key}}</p> 
                                        <p class="tw-text-gray-600">(Attributes {{values|length}})</p>
                                    </div>
                                </button>
                                <table id="table-{{key}}" class="tw-hidden">
                                    <colgroup> <col> <col> <col> </colgroup>
                                    <thead>
                                        <tr>
                                            <th> Attribute </th>
                                            <th> Value </th>
                                            <th> Unit </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key1, values1 in values.items() %}
                                            <tr>
                                                <td> {{ key1 }} </td>
                                                <td> {{ (values1.values()|list)[1] }} </td>
                                                <td> {{ (values1.values()|list)[0] }} </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </div>
                {% endfor %}
            {% endfor %}

        </table>
    </div>

</div>

<script>
//import { initCrossmatch, elementReady } from "{{API_URL}}/static/newCrossmatch.js";

function elementReady(selector) {
    return new Promise((resolve, reject) => {
      const el = document.querySelector(selector);
      if (el) {
        resolve(el);
      }
  
      new MutationObserver((mutationRecords, observer) => {
        Array.from(document.querySelectorAll(selector)).forEach(element => {
          resolve(element);
          observer.disconnect();
        });
      })
      .observe(document.documentElement, {
        childList: true,
        subtree: true
      });
    });
  }
  
function initCrossmatch() {
    // Add event listeners to all buttons with the 'show-table-btn' class
    document.querySelectorAll('.show-table-btn').forEach(button => {
        button.addEventListener('click', function() {
            const key = this.getAttribute('data-key');
            showTable(key);
        });
    });


}

function showTable(key) {
    const table = document.getElementById(`table-${key}`);
    if (table) {
        table.style.display = table.style.display === 'block' ? 'none' : 'block';
    }
}

elementReady("#crossmatch-app").then(() => {
    initCrossmatch();
});

</script>

<script id="crossmatch-data" type="application/json">{{cross | tojson}}</script>