<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/lightcurve/src/crossmatch_api/static/main.css">
    <title>Prueba</title>
</head>
<body class='tw-preflight dark:tw-bg-black tw-dark'>

    <div class="dark:tw-bg-[#1e1e1e] tw-w-[750px] tw-h-fit tw-mt-[10px] tw-ml-[10px]">

        <h1 class="tw-text-white tw-pt-[30px] tw-p-[10px]"> Crossmatch</h1>
        <div>

            <div class="tw-bg-[#757575] tw-w-[90%] tw-h-fit tw-ml-[30px] tw-rounded-[4px]">
                
                <div class="tw-ml-2 tw-relative tw-flex">
                    
                    <p class="tw-text-white tw-mr-[500px]"> SMMAS1 </p>
                    
                    <p class="tw-text-white"> Distance </p>
                    
                </div>
                
                <div>
                    
                    <table class="tw-hidden tw-border-separate tw-border-spacing-[50px 0]">
                        <col><col><col>
                        <thead>
                            <tr>
                                <td> Attribute </td>
                                <td class="tw-px-[170px]"> Value </td>
                                <td class="tw-px-[150px]"> Unit </td>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td class=""> Dec </td>
                                <td class="tw-px-[170px]"> 12.07 </td>
                                <td class="tw-px-[150px]"> deg </td>
                            </tr>
                            <tr>
                                <td class=""> Dec </td>
                                <td class="tw-px-[170px]""> 12.07 </td>
                                <td class="tw-px-[150px]""> deg </td>
                            </tr>
                            <tr>
                                <td class=""> Dec </td>
                                <td class="tw-px-[170px]""> 12.07 </td>
                                <td class="tw-px-[150px]""> deg </td>
                            </tr>
                            <tr>
                                <td class=""> Dec </td>
                                <td class="tw-px-[170px]""> 12.07 </td>
                                <td class="tw-px-[150px]""> deg </td>
                            </tr>
                            <tr>
                                <td class=""> Dec </td>
                                <td class="tw-px-[170px]""> 12.07 </td>
                                <td class="tw-px-[150px]""> deg </td>
                            </tr>
                            
                        </tbody>
                        
                        
                    </table>

                </div>
                
            </div>
            
            <div class="tw-mt-[2px] tw-bg-[#757575] tw-w-[90%] tw-h-fit tw-ml-[30px] tw-rounded-[4px]">
                
                <div class="tw-ml-2 tw-relative tw-flex">
                    
                    <p class="tw-text-white tw-mr-[500px]"> SMMAS2 </p>
                    
                    <p class="tw-text-white"> Distance </p>
                    
                </div>
            </div>
        </div>
            
        </div>
    
</body>
</html>