<div id='stampsContainer' class="tw-grid tw-grid-cols-3 tw-gap-4 tw-mb-4">
    <div id="" class="tw-flex tw-flex-col tw-items-center">
        <div class="tw-mb-2">
            <button id="scienceDownload" content="{{oid}}_{{selected_measurement_id}}" class="tw-w-full tw-flex tw-items-center tw-justify-center tw-gap-2 tw-bg-blue-600 hover:tw-bg-blue-700 tw-text-white tw-px-1 md:tw-px-3 tw-py-2 tw-rounded tw-text-xs tw-font-medium tw-transition-colors tw-border-b-[1px] tw-border-b-solid tw-border-b-blue-600">
              <span> Science </span>
              <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#e3e3e3">
                <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/>
              </svg>
            </button>
        </div>
        <div id="scienceZoom" class="imageZoom crossHair tw-relative" style="
          --url: url('data:image/{{ science_mime }};base64, {{ science_img }}');
          --zoom-x: 0%; --zoom-y:0%;
          --display: none; --z-index: -1;
          ">
          <img id="scienceImg" src="data:image/{{ science_mime }};base64, {{ science_img }}" content="data:{{ science_mime_fits }};base64, {{ science_img_fits }}" alt="Science" class="tw-transition-transform tw-duration-300 tw-ease-in-out tw-origin-center tw-max-w-full tw-h-auto tw-block tw-rounded">
        </div>
    </div>
    
    <div class="tw-flex tw-flex-col tw-items-center">
        <div class="tw-mb-2">
            <button id="templateDownload" content="{{oid}}_{{selected_measurement_id}}" class="tw-w-full tw-flex tw-items-center tw-justify-center tw-gap-2 tw-bg-blue-600 hover:tw-bg-blue-700 tw-text-white tw-px-1 md:tw-px-3 tw-py-2 tw-rounded tw-text-xs tw-font-medium tw-transition-colors tw-border-b-[1px] tw-border-b-solid tw-border-b-blue-600">
              <span> Template </span>
              <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#e3e3e3">
                <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/>
              </svg>
            </button>
        </div>
        <div id="templateZoom" class="imageZoom crossHair tw-relative" style="
          --url: url('data:image/{{ template_mime }};base64, {{ template_img }}');
          --zoom-x: 0%; --zoom-y:0%;
          --display: none; --z-index: -1;
          ">
          <img id="templateImg" src="data:image/{{ template_mime }};base64, {{ template_img }}" content="data:{{ template_mime_fits }};base64, {{ template_img_fits }}"alt="Template" class="tw-transition-transform tw-duration-300 tw-ease-in-out tw-origin-center tw-max-w-full tw-h-auto tw-block tw-rounded">
        </div>
    </div>
    
    <div class="tw-flex tw-flex-col tw-items-center">
        <div class="tw-mb-2">
            <button id="differenceDownload" content="{{oid}}_{{selected_measurement_id}}" class="tw-w-full tw-flex tw-items-center tw-justify-center tw-gap-2 tw-bg-blue-600 hover:tw-bg-blue-700 tw-text-white tw-px-1 md:tw-px-3 tw-py-2 tw-rounded tw-text-xs tw-font-medium tw-transition-colors tw-border-b-[1px] tw-border-b-solid tw-border-b-blue-600">
              <span> Difference </span>
              <svg xmlns="http://www.w3.org/2000/svg" height="18px" viewBox="0 -960 960 960" width="18px" fill="#e3e3e3">
                <path d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"/>
              </svg>
            </button>
        </div>
        <div id="differenceZoom" class="imageZoom crossHair tw-relative" style="
          --url: url('data:image/{{ difference_mime }};base64, {{ difference_img }}');
          --zoom-x: 0%; --zoom-y:0%;
          --display: none; --z-index: -1;
          ">
          <img id="differenceImg" src="data:image/{{ difference_mime }};base64, {{ difference_img }}" content="data:{{ difference_mime_fits }};base64, {{ difference_img_fits }}" alt="Difference" class="tw-transition-transform tw-duration-300 tw-ease-in-out tw-origin-center tw-max-w-full tw-h-auto tw-block tw-rounded">
        </div>
    </div>
</div>

