.tw-preflight :is(.tw-pointer-events-none) {
  pointer-events: none
}

.tw-preflight :is(.tw-pointer-events-auto) {
  pointer-events: auto
}

.tw-preflight :is(.tw-absolute) {
  position: absolute
}

.tw-preflight :is(.tw-relative) {
  position: relative
}

.tw-preflight :is(.tw-left-10) {
  left: 2.5rem
}

.tw-preflight :is(.tw-right-0) {
  right: 0px
}

.tw-preflight :is(.tw-top-1\/2) {
  top: 50%
}

.tw-preflight :is(.tw-z-\[9999\]) {
  z-index: 9999
}

.tw-preflight :is(.tw-col-span-1) {
  grid-column: span 1 / span 1
}

.tw-preflight :is(.tw-col-span-2) {
  grid-column: span 2 / span 2
}

.tw-preflight :is(.tw-col-span-4) {
  grid-column: span 4 / span 4
}

.tw-preflight :is(.tw-col-span-5) {
  grid-column: span 5 / span 5
}

.tw-preflight :is(.tw-m-auto) {
  margin: auto
}

.tw-preflight :is(.tw-mx-2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.tw-preflight :is(.tw-mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.tw-preflight :is(.tw-mb-\[20px\]) {
  margin-bottom: 20px
}

.tw-preflight :is(.tw-me-2) {
  margin-inline-end: 0.5rem
}

.tw-preflight :is(.tw-ml-2) {
  margin-left: 0.5rem
}

.tw-preflight :is(.tw-mt-2) {
  margin-top: 0.5rem
}

.tw-preflight :is(.tw-mt-3) {
  margin-top: 0.75rem
}

.tw-preflight :is(.tw-mt-\[10px\]) {
  margin-top: 10px
}

.tw-preflight :is(.tw-inline) {
  display: inline
}

.tw-preflight :is(.tw-flex) {
  display: flex
}

.tw-preflight :is(.tw-grid) {
  display: grid
}

.tw-preflight :is(.tw-hidden) {
  display: none
}

.tw-preflight :is(.tw-h-32) {
  height: 8rem
}

.tw-preflight :is(.tw-h-5) {
  height: 1.25rem
}

.tw-preflight :is(.tw-h-6) {
  height: 1.5rem
}

.tw-preflight :is(.tw-w-12) {
  width: 3rem
}

.tw-preflight :is(.tw-w-32) {
  width: 8rem
}

.tw-preflight :is(.tw-w-5) {
  width: 1.25rem
}

.tw-preflight :is(.tw-w-6) {
  width: 1.5rem
}

.tw-preflight :is(.tw-w-\[95\%\]) {
  width: 95%
}

.tw-preflight :is(.tw-w-full) {
  width: 100%
}

.tw-preflight :is(.tw-min-w-full) {
  min-width: 100%
}

.tw-preflight :is(.-tw-translate-y-1\/2) {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-preflight :is(.tw-transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes tw-spin {
  to {
    transform: rotate(360deg)
  }
}

.tw-preflight :is(.tw-animate-spin) {
  animation: tw-spin 1s linear infinite
}

.tw-preflight :is(.tw-appearance-none) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.tw-preflight :is(.tw-grid-cols-10) {
  grid-template-columns: repeat(10, minmax(0, 1fr))
}

.tw-preflight :is(.tw-grid-cols-6) {
  grid-template-columns: repeat(6, minmax(0, 1fr))
}

.tw-preflight :is(.tw-flex-col) {
  flex-direction: column
}

.tw-preflight :is(.tw-place-content-center) {
  place-content: center
}

.tw-preflight :is(.tw-place-items-center) {
  place-items: center
}

.tw-preflight :is(.tw-items-center) {
  align-items: center
}

.tw-preflight :is(.tw-justify-center) {
  justify-content: center
}

.tw-preflight :is(.tw-justify-between) {
  justify-content: space-between
}

.tw-preflight :is(.tw-gap-1) {
  gap: 0.25rem
}

.tw-preflight :is(.tw-space-x-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.tw-preflight :is(.tw-space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.tw-preflight :is(.tw-divide-y > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.tw-preflight :is(.tw-divide-gray-200 > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity))
}

.tw-preflight :is(.tw-place-self-center) {
  place-self: center
}

.tw-preflight :is(.tw-overflow-auto) {
  overflow: auto
}

.tw-preflight :is(.tw-rounded) {
  border-radius: 0.25rem
}

.tw-preflight :is(.tw-rounded-\[6px\]) {
  border-radius: 6px
}

.tw-preflight :is(.tw-rounded-full) {
  border-radius: 9999px
}

.tw-preflight :is(.tw-rounded-md) {
  border-radius: 0.375rem
}

.tw-preflight :is(.tw-border) {
  border-width: 1px
}

.tw-preflight :is(.tw-border-8) {
  border-width: 8px
}

.tw-preflight :is(.tw-border-b) {
  border-bottom-width: 1px
}

.tw-preflight :is(.tw-border-b-\[1px\]) {
  border-bottom-width: 1px
}

.tw-preflight :is(.tw-border-solid) {
  border-style: solid
}

.tw-preflight :is(.tw-border-blue-400) {
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-b-black) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-t-transparent) {
  border-top-color: transparent
}

.tw-preflight :is(.tw-border-opacity-20) {
  --tw-border-opacity: 0.2
}

.tw-preflight :is(.tw-bg-blue-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-gray-900) {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-green-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-transparent) {
  background-color: transparent
}

.tw-preflight :is(.tw-bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-p-2) {
  padding: 0.5rem
}

.tw-preflight :is(.tw-px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.tw-preflight :is(.tw-px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-preflight :is(.tw-py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.tw-preflight :is(.tw-py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tw-preflight :is(.tw-py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.tw-preflight :is(.tw-pl-\[10px\]) {
  padding-left: 10px
}

.tw-preflight :is(.tw-pl-\[5px\]) {
  padding-left: 5px
}

.tw-preflight :is(.tw-pr-2) {
  padding-right: 0.5rem
}

.tw-preflight :is(.tw-pr-\[10px\]) {
  padding-right: 10px
}

.tw-preflight :is(.tw-ps-2) {
  padding-inline-start: 0.5rem
}

.tw-preflight :is(.tw-pt-\[25px\]) {
  padding-top: 25px
}

.tw-preflight :is(.tw-pt-\[30px\]) {
  padding-top: 30px
}

.tw-preflight :is(.tw-text-center) {
  text-align: center
}

.tw-preflight :is(.tw-text-right) {
  text-align: right
}

.tw-preflight :is(.tw-text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.tw-preflight :is(.tw-text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.tw-preflight :is(.tw-text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.tw-preflight :is(.tw-font-bold) {
  font-weight: 700
}

.tw-preflight :is(.tw-ordinal) {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tw-preflight :is(.tw-text-\[\#1e1e1e\]) {
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-text-red-500) {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-opacity-50) {
  opacity: 0.5
}

.tw-preflight :is(.tw-shadow-2xl) {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-preflight :is(.hover\:tw-cursor-pointer:hover) {
  cursor: pointer
}

.tw-preflight :is(.hover\:tw-bg-\[\#757575\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(117 117 117 / var(--tw-bg-opacity))
}

.tw-preflight :is(.hover\:tw-bg-blue-700:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.tw-preflight :is(.hover\:tw-bg-gray-200:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.tw-preflight :is(.hover\:tw-bg-green-600:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity))
}

.tw-preflight :is(.hover\:tw-bg-green-700:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity))
}

.tw-preflight :is(.hover\:tw-text-gray-600:hover) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.tw-preflight :is(.hover\:tw-opacity-70:hover) {
  opacity: 0.7
}

.tw-preflight :is(.disabled\:tw-bg-transparent:disabled) {
  background-color: transparent
}

.tw-preflight :is(.disabled\:tw-opacity-50:disabled) {
  opacity: 0.5
}

.tw-preflight :is(.disabled\:tw-outline:disabled) {
  outline-style: solid
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-flex) {
  display: flex
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-opacity-60) {
  opacity: 0.6
}

.tw-preflight :is(:is(.tw-dark .dark\:tw-divide-\[\#404040\]) > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-opacity: 1;
  border-color: rgb(64 64 64 / var(--tw-divide-opacity))
}

.tw-preflight :is(.tw-dark .dark\:tw-border-\[\#404040\]) {
  --tw-border-opacity: 1;
  border-color: rgb(64 64 64 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-dark .dark\:tw-border-b-white) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-dark .dark\:tw-border-opacity-20) {
  --tw-border-opacity: 0.2
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-\[\#1e1e1e\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-\[\#252525\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(37 37 37 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-dark .dark\:tw-bg-green-700) {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-dark .dark\:tw-text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-dark .dark\:hover\:tw-bg-\[\#353535\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(53 53 53 / var(--tw-bg-opacity))
}
