<form id="dr-table"
  hx-post="{{API_URL}}/htmx/config_change"
  hx-target="#main-app"
  hx-vals='{{config_state.model_dump_json(exclude=["external_sources"])}}'
  hx-ext="form-json"
  hx-indicator="#loading"
>
  <input type="hidden" name="external_sources.enabled" value="true" {% if not config_state.external_sources.enabled %}disabled{% endif %}>
  <table class="tw-min-w-full tw-border tw-divide-y">
      <thead>
          <tr class="">
              <th class="tw-w-12 tw-text-center"></th>
              <th class="tw-text-center">ObjectId</th>
              <th class="tw-text-center">filterid</th>
              <th class="tw-text-center">nepochs</th>
              <th class="tw-text-center">fieldid</th>
              <th class="tw-text-center">rcid</th>
              <th class="tw-text-center">ra</th>
              <th class="tw-text-center">dec</th>
          </tr>
      </thead>
      <tbody class="tw-divide-y">
          {% set selected_objects = config_state.external_sources.selected_objects %}

          {% for object in config_state.external_sources.objects %}
          
              <tr class="hover:tw-bg-gray-400">
                  <td class="tw-text-center">
                      <input type="checkbox"
                              class="tw-form-checkbox tw-h-6 tw-w-6 tw-text-blue-600"
                              name="external_sources.selected_objects[]"
                              value="{{ object.objectId }}"

                              {% if object.objectId in selected_objects or selected_objects|length == 0 %}
                                checked
                              {% endif %}
                      />
                  </td>
                  <td class="tw-text-right">{{ object.objectId }}</td>
                  <td class="tw-text-right">{{ object.filterid }}</td>
                  <td class="tw-text-right">{{ object.nepochs }}</td>
                  <td class="tw-text-right">{{ object.fieldid }}</td>
                  <td class="tw-text-right">{{ object.rcid }}</td>
                  <td class="tw-text-right">{{ object.ra }}</td>
                  <td class="tw-text-right">{{ object.dec }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  <button type="submit">Ok</button>
  <p id="loading" class="htmx-indicator">Loading...</p>
</form>

