<div class="tw-row">
  <div class="tw-col-sm-12">
    <span class="tw-font-semibold tw-mr-3 tw-text-gray-900 dark:tw-text-gray-100">Fold</span>
    {{ toggle.toggle("fold", "Off", "On", config_state.fold, "Toggle fold")}}
  </div>
  <div class="tw-col-sm-12">
    <input id="period-slider" type="range" min="0.05" max="500" value="{{config_state.period}}" class="tw-my-2 tw-w-full tw-h-2 tw-bg-gray-200 tw-rounded-lg tw-appearance-none tw-cursor-pointer dark:tw-bg-gray-700">
    <div class="tw-flex tw-items-center tw-gap-2 tw-mt-2">
      <input name="period" value="{{config_state.period}}" class="tw-w-24 tw-border tw-border-gray-300 dark:tw-border-gray-600 tw-rounded tw-px-2 tw-py-1 tw-bg-white dark:tw-bg-gray-800 tw-text-gray-900 dark:tw-text-gray-100">
      <span name="x2" class="tw-px-3 tw-py-1 tw-bg-blue-500 tw-text-white tw-rounded hover:tw-bg-blue-600 tw-transition-colors tw-cursor-pointer tw-select-none">X2</span>
      <span name="div2" class="tw-px-3 tw-py-1 tw-bg-blue-500 tw-text-white tw-rounded hover:tw-bg-blue-600 tw-transition-colors tw-cursor-pointer tw-select-none">/2</span>
    </div>
  </div>
  <div class="tw-col-sm-12 tw-mt-2">
    <span class="tw-font-semibold tw-mr-3 tw-text-gray-900 dark:tw-text-gray-100">Periodogram</span>
    {{ toggle.toggle("periodogram_enabled", "Off", "On", config_state.periodogram_enabled, "Toggle Periodogram", not config_state.fold)}}
  </div>
</div>

<script>
var slider = document.querySelector('#period-slider');
var input = document.querySelector('input[name="period"]');
var x2 = document.querySelector('span[name="x2"]');
var div2 = document.querySelector('span[name="div2"]');

slider.addEventListener('input', function(e) {
  input.value = e.target.value;
})

input.addEventListener('change', function(e) {
  slider.value = e.target.value;
})

x2.addEventListener('click', function(e) {
  input.value = input.value * 2;
  if (input.value > 500) input.value = 500
  if (input.value < 0.05) input.value = 0.05

  input.dispatchEvent(new Event('change', { bubbles: true }));
})

div2.addEventListener('click', function(e) {
  input.value = input.value / 2;
  if (input.value > 500) input.value = 500
  if (input.value < 0.05) input.value = 0.05
  input.dispatchEvent(new Event('change', { bubbles: true }));
})

document.addEventListener('periodogram:periodSelected', function(event) {
  input.value = event.detail.period;
  input.dispatchEvent(new Event('change', { bubbles: true }));
});
</script>
