<div id="chart" style="width: 100%;height:100%;"></div>
<script type="text/javascript">
// Initialize the echarts instance based on the prepared dom
var chartDom = document.getElementById('chart')
var myChart = echarts.init(chartDom);
var options = {{ options | tojson }};

// Make chart responsive
var plotGrid = document.getElementById('plot-grid');
var resizeObserver = new ResizeObserver(_ => {
  myChart.resize();
});
resizeObserver.observe(plotGrid);

// Register a custom series type so that it can be references as string in the chart options.
var renderError = (_, api) => {
  const xValue = api.value(0);
  const highPoint = api.coord([xValue, api.value(1)]);
  const lowPoint = api.coord([xValue, api.value(2)]);
  const halfWidth = 1.9;
  const style = api.style({
    stroke: api.visual("color"),
    fill: null,
  });
  return {
    type: "group",
    children: [
      {
        type: "line",
        shape: {
          x1: highPoint[0] - halfWidth,
          y1: highPoint[1],
          x2: highPoint[0] + halfWidth,
          y2: highPoint[1],
        },
        style,
      },
      {
        type: "line",
        shape: {
          x1: highPoint[0],
          y1: highPoint[1],
          x2: lowPoint[0],
          y2: lowPoint[1],
        },
        style,
      },
      {
        type: "line",
        shape: {
          x1: lowPoint[0] - halfWidth,
          y1: lowPoint[1],
          x2: lowPoint[0] + halfWidth,
          y2: lowPoint[1],
        },
        style,
      },
    ],
  };
}
echarts.registerCustomSeries('renderError', renderError);

// Display the chart using the configuration items and data just specified.
myChart.setOption(options);
</script>
