{% if detections %}
{% set not_corrected = detections[0].flux2magnitude(True, False) == 0 %}
{% else %}
{% set not_corrected = True %}
{% endif %}

<div class="tw-grid tw-grid-cols-12 tw-h-full tw-bg-white dark:tw-bg-[#1e1e1e]">

  <div class="tw-col-span-full tw-order-first tw-h-full md:tw-col-span-9 md:tw-order-none">
    {% if not_corrected and config_state.total %}
      <div class="tw-h-full tw-flex tw-items-center tw-justify-center">
        <div class="tw-bg-yellow-50 dark:tw-bg-yellow-900 tw-border tw-border-yellow-200 dark:tw-border-yellow-700 tw-rounded-md tw-p-4 tw-mb-4">
          <strong class="tw-text-yellow-800 dark:tw-text-yellow-200">Info:</strong> 
          <span class="tw-text-yellow-700 dark:tw-text-yellow-300">Lightcurve not corrected. Lightcurve plot not available for Total magnitude. Switch back to Difference.</span>
        </div>
      </div>
    {% else %}
    <div id="plot-grid" class="tw-mx-4 tw-flex tw-flex-col tw-flex-wrap tw-gap-4 tw-h-80 md:tw-h-full">
      <div id="lightcurve-container" class="tw-flex-1 tw-min-h-0 tw-w-full">
      {% include "lightcurve.html.jinja" %}
      </div>
      {% if config_state.fold and config_state.periodogram_enabled %}
      <div id="periodogram-container" class="tw-flex-1 tw-min-h-0 tw-max-h-[200px] tw-w-full">
        {% if periodogram.has_period() %}
          {% include "periodogram.html.jinja" %}
        {% else %}
          <div class="tw-h-full tw-flex tw-items-center tw-justify-center">
            <div class="tw-bg-yellow-50 dark:tw-bg-yellow-900 tw-border tw-border-yellow-200 dark:tw-border-yellow-700 tw-rounded-md tw-p-4 tw-mb-4">
              <strong class="tw-text-yellow-800 dark:tw-text-yellow-200">Info:</strong> 
              <span class="tw-text-yellow-700 dark:tw-text-yellow-300">No period computed for this object. Periodogram not available.</span>
          </div>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>

  <div class="tw-col-span-full tw-order-last tw-py-4 tw-text-center tw-mx-3 md:tw-col-span-3 md:tw-order-none ">{% include "config_panel.html.jinja" %}</div>
</div>
<script>
</script>
