<div class="grid grid-cols-12">
  <div class="col-span-2 text-center ml-3">{% include "config_panel.html.jinja" %}</div>
  <div class="col-span-10 h-[400px]">{% include "lightcurve.html.jinja" %}</div>
</div>
