{% macro toggle(name, left, right, checked=False) -%}
<label class="inline-flex items-center cursor-pointer">
  <span class="font-semibold mr-3 text-gray-900 dark:text-gray-100">{{ left }}</span>
  <input type="checkbox" name="{{ name }}" class="sr-only peer" {% if checked %}checked{% endif %} >
  <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none  rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-gray-600 dark:peer-checked:bg-gray-600"></div>
  <span class="font-semibold ml-3 text-gray-900 dark:text-gray-100">{{ right }}</span>
</label>
{%- endmacro %}
