<script>
    // Conditionally loads css file to prevent duplicate downloading / parsing
    function isCssLoaded(url) {
        for (let css of document.styleSheets) {
            if (css.href === url) {
                return true;
            }
        }
        return false;
    }

    function conditionalCss(href) {
        if (!isCssLoaded(href)) {
            let link = document.createElement("link");
            link.href = href;
            link.type = "text/css";
            link.rel = "stylesheet";
            document.head.appendChild(link);
        }
    }

    conditionalCss("{{ API_URL }}/static/main.css");
    conditionalCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
</script>
<script type="module">
    import { DifferenceLightCurveOptions } from "{{ API_URL }}/static/lc-difference.js";
    import { FoldedLightCurveOptions } from "{{ API_URL }}/static/lc-folded.js";
    import { ApparentLightCurveOptions } from "{{ API_URL }}/static/lc-apparent.js";
    import "{{ API_URL }}/static/jszip.js";
    import * as echart from "{{ API_URL }}/static/echarts.min.js";
    import { jdToDate } from "{{ API_URL }}/static/astro-dates.js";

    const oid = '{{ oid }}';
    const detections = {{ detections | tojson }};
    const non_detections = {{ non_detections | tojson }};
    const forced_photometry = {{ forced_photometry | tojson }};
    const period = {{ period }};
    const dr = {{ dr | tojson }};
    const dr_detections = {{ dr_detections | tojson }};

    const lc_main_elem = document.getElementById("lc-main");
    const lc_table_elem = document.getElementById("lc-table");

    let plot_text_color = "#000";
    let current_plot = "difference";
    let plot_options;

    function plotOnClick(detection) {
        let index = plot_options.detections.findIndex((x) => x.mjd === detection.value[0])
        document.body.dispatchEvent(new CustomEvent('onDetectionClick', { detail: index }))
        const date = jdToDate(detection.value[0]).toUTCString().slice(0, -3) + 'UT'
        return {
            mjd: detection.value[0],
            date,
            index: index,
        }
    }

    function dateToString(date) {
        date = date.toISOString();
        date = date.replace(/[-:]/g, (c) => '');
        // date = date.replace('T', '_');
        date = date.split('T')[0];
        return date;
    }

    function jsonToCsv(arrayOfJson) {
        const replacer = (key, value) => (value === null ? '' : value);
        const header = Object.keys(arrayOfJson[0]);
        let csv = arrayOfJson.map((row) =>
            header
                .map((fieldName) => JSON.stringify(row[fieldName], replacer))
                .join(',')
        );
        csv.unshift(header.join(','));
        csv = csv.join('\r\n');
        return csv;
    }

    /* based in https://stackoverflow.com/questions/8847766/how-to-convert-json-to-csv-format-and-store-in-a-variable */
    function download(oid, detections, nonDetections) {
        const today = dateToString(new Date())
        const filename = `${oid}_${today}.zip`;
        const zip = new JSZip();
        zip.file('detections.csv', jsonToCsv(detections));
        zip.file('non_detections.csv', jsonToCsv(nonDetections));
        zip.generateAsync({ type: 'blob' }).then((content) => {
            const url = URL.createObjectURL(content);
            const a = document.getElementById("lc-download-ref");
            a.href = url;
            a.download = filename;
            a.click();
        });
    }

    /* Helper function that gets forced photometry along with
    detections if the box is checked. */
    function getDetections() {
        const all_detections = [detections]
        const fp_checkbox = document.getElementById("fp-checkbox");
        if (fp_checkbox.checked) {
            forced_photometry.forEach((elem) => {
                all_detections.push(elem);
            });
        };
        return [].concat.apply([], all_detections);
    }

    function getDetectionsWithDR() {
        const all_detections = getDetections();
        dr.forEach((elem) => {
            if (elem.checked) {
                all_detections.push(dr_detections[elem._id]);
            }
        });
        return [].concat.apply([], all_detections);
    }

    window.handleDRChange = (event, id) => {
        const checked = event.target.checked;
        let dr_entry = dr.find((elem) => elem._id === id);
        dr_entry.checked = checked;
    }

    /* Initialize plot */
    let plot = echarts.init(lc_main_elem);
    plot.on("click", plotOnClick);
    window.addEventListener("resize", plot.resize);

    function toggleDataRelease() {
        lc_main_elem.hidden = !lc_main_elem.hidden;
        lc_table_elem.hidden = !lc_table_elem.hidden;

        // Update the plot when showing it again
        if (lc_main_elem.hidden === false) {
            window.setPlot(current_plot);
            plot.resize();
        }
    }

    /* Updates the plot when the checkbox value is clicked */
    window.setForcedPhotometry = () => {
        window.setPlot(current_plot);
    }

    window.toggleFlux = () => {
        window.setPlot(current_plot);
    }

    /* Update plot on plot type change */
    window.setPlot = (type) => {
        const flux_checkbox = document.getElementById("flux-checkbox");
        const use_flux = document.getElementById("flux-checkbox").checked;
        console.log(use_flux);

        current_plot = type;
        if (current_plot === "difference") {
            plot_options = new DifferenceLightCurveOptions(getDetections(), non_detections, use_flux, plot_text_color);
        } else if (current_plot === "apparent") {
            plot_options = new ApparentLightCurveOptions(getDetectionsWithDR(), non_detections, use_flux, plot_text_color);
        } else if (current_plot === "folded") {
            plot_options = new FoldedLightCurveOptions(getDetectionsWithDR(), non_detections, use_flux, plot_text_color, period);
        }
        plot.setOption(plot_options.options, true);
    };

    /* Update plot text color on switch between dark/light mode */
    let container = document.getElementById("lightcurve-htmx-container");
    function setColorScheme() {
        const color_scheme = container.classList.contains("tw-dark") ? "tw-dark" : "tw-light";
        if (color_scheme === "tw-dark") {
            plot_text_color = "#fff";
        } else {
            plot_text_color = "#000";
        }
        window.setPlot(current_plot);
    }
    let color_scheme_observer = new MutationObserver(setColorScheme);
    color_scheme_observer.observe(container, { attributes: true, attributeFilter: ["class"] });

    /* First run color setup */
    setColorScheme()

    /* Set up Download and Data release buttons */
    document.getElementById("lc-download").addEventListener("click", () => download(oid, detections, non_detections));
    document.getElementById("lc-dr").addEventListener("click", toggleDataRelease);

    window.addEventListener("load", setColorScheme);
</script>
<div id="lightcurve-htmx-container" class="tw-preflight" style="height: 100%;">
    <div id="lightcurve"
        class="tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white tw-rounded tw-p-4 tw-flex tw-flex-col tw-h-full">
        <!-- Prepare a DOM with a defined width and height for ECharts -->
        <div id="lc-main" style="width: 100%; height: 100%; min-width: 0; min-height: 0;"></div>
        <div id="lc-table" class="tw-overflow-y-auto tw-flex-1" hidden>
            <table
                class="tw-min-w-full tw-border tw-border-gray-300 dark:tw-border-[#404040] tw-divide-y tw-divide-gray-200 dark:tw-divide-[#404040] dark:tw-text-white">
                <thead>
                    <tr class="tw-bg-gray-100 dark:tw-bg-[#252525]">
                        <th class="tw-w-12 tw-text-center">
                            {# <input type="checkbox" class="form-checkbox h-6 w-6" /> #}
                        </th>
                        <th class="tw-text-center">ObjectId</th>
                        <th class="tw-text-center">filterid</th>
                        <th class="tw-text-center">nepochs</th>
                        <th class="tw-text-center">fieldid</th>
                        <th class="tw-text-center">rcid</th>
                    </tr>
                </thead>
                <tbody class="tw-divide-y tw-divide-gray-200 dark:tw-divide-[#404040]">
                    {% for data in dr %}
                    <tr class="hover:tw-bg-gray-200 dark:hover:tw-bg-[#353535]">
                        <td class="tw-text-center">
                            <input type="checkbox" class="tw-form-checkbox tw-h-6 tw-w-6"
                                onchange="handleDRChange(event, {{data._id}})" />
                        </td>
                        <td class="tw-text-right">{{data._id}}</td>
                        <td class="tw-text-right">{{data.filterid}}</td>
                        <td class="tw-text-right">{{data.nepochs}}</td>
                        <td class="tw-text-right">{{data.fieldid}}</td>
                        <td class="tw-text-right">{{data.rcid}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tw-grid tw-grid-cols-4 tw-gap-4">
            <!-- Left Column (Radio Buttons) -->
            <div>
                <div class="tw-space-y-2">
                    <label class="tw-flex tw-items-center tw-space-x-2">
                        <input type="radio" name="data" value="difference" onclick="setPlot(value)"
                            class="tw=form-radio" checked>
                        <span>Difference Magnitude</span>
                        <div class="tooltip">
                            <i class="fa fa-question-circle tw-me-2"></i>
                            <div class="tooltip-text">
                                The difference Magnitude light curve is the absolute difference between science and
                                reference magnitudes.
                            </div>
                        </div>
                    </label>
                    <label class="tw-flex tw-items-center tw-space-x-2">
                        <input type="radio" name="data" value="apparent" onclick="setPlot(value)" class="tw-form-radio">
                        <span>Apparent Magnitude</span>
                        <div class="tooltip">
                            <i class="fa fa-question-circle tw-me-2"></i>
                            <div class="tooltip-text">
                                Apparent magnitude light curve results from adding/subtracting the fluxes from the
                                reference
                                and difference in the same unit system and then converting to magnitudes.
                            </div>
                        </div>
                    </label>
                    <label class="tw-flex tw-items-center tw-space-x-2">
                        <input type="radio" name="data" value="folded" onclick="setPlot(value)" class="tw-form-radio">
                        <span>Folded</span>
                        <div class="tooltip">
                            <i class="fa fa-question-circle tw-me-2"></i>
                            <div class="tooltip-text">
                                The Period folded light curve, where time is transformed to time modulo the period
                                (Phase).
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <!-- Second Column (Toggles) -->
            <div>
                <label class="tw-flex tw-items-center tw-space-x-2">
                    <input id="fp-checkbox" type="checkbox" onclick="setForcedPhotometry()">
                    <span>Enable forced photometry</span>
                    <div class="tooltip">
                        <i class="fa fa-question-circle tw-me-2"></i>
                        <div class="tooltip-text">
                        </div>
                    </div>
                </label>
                <label class="tw-flex tw-items-center tw-space-x-2">
                    <input
                        id="flux-checkbox"
                        type="checkbox"
                        onclick="toggleFlux()"
                    >
                    <span>Use flux</span>
                    <div class="tooltip">
                        <i class="fa fa-question-circle tw-me-2"></i>
                        <div class="tooltip-text">
                        </div>
                    </div>
                </label>
            </div>
            <!-- Spacer columns -->
            <div>
            </div>

            <!-- Right Column (Buttons) -->
            <div class="tw-flex tw-flex-col tw-justify-end tw-items-end">
                <button id="lc-dr"
                    class="tw-bg-blue-500 dark:tw-bg-blue-700 tw-text-white tw-mt-2 tw-px-2 tw-py-1 tw-rounded hover:tw-bg-blue-600">
                    <i class="fa fa-eye tw-me-2"></i>
                    Display DR
                </button>
                <a id="lc-download-ref" style="display: none;"></a>
                <button id="lc-download"
                    class="tw-bg-green-500 dark:tw-bg-green-700 tw-text-white tw-mt-2 tw-px-2 tw-py-1 tw-rounded hover:tw-bg-green-600">
                    <i class="fa fa-download tw-me-2"></i>
                    Download
                </button>
            </div>
        </div>
    </div>
</div>