<script id="htmx-script" src="https://unpkg.com/htmx.org@1.9.11"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{API_URL}}/static/main.css">
<script>
    // Conditionally loads css file to prevent duplicate downloading / parsing
    function isCssLoaded(url) {
        for (let css of document.styleSheets) {
            if (css.href === url) {
                return true;
            }
        }
        return false;
    }

    function conditionalCss(href) {
        if (!isCssLoaded(href)) {
            let link = document.createElement("link");
            link.href = href;
            link.type = "text/css";
            link.rel = "stylesheet";
            document.head.appendChild(link);
        }
    }

    function conditionalHTMX() {
        h = document.getElementById("htmx-script");
        if (h === null) {
            let script = document.createElement("script");
            script.src = "https://unpkg.com/htmx.org@1.9.11";
            script.id = "htmx-script";
            document.head.appendChild(script);
        }
    }

    conditionalHTMX();
    conditionalCss("{{API_URL}}/static/main.css");
    conditionalCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
</script>
<script>
    function configRequest(event) {
        if (event.detail.target.id === "dr-table") {
            let params = {}
            params['dr_ids'] = {{ dr_ids | tojson }}
            params['oid'] = "{{oid}}"
            params['plot_type'] = "{{plot_type}}"
            event.detail.parameters = params
        }
    }
    document.removeEventListener('htmx:configRequest', configRequest)
    document.addEventListener('htmx:configRequest', configRequest)
</script>

<div id="lightcurve-app" class="tw-preflight tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white" style="height: 100%;">
    <div id="lc-main" style="width: 100%;  min-width: 0; min-height: 350px;"></div>
    <p id="plot-indicator" class="htmx-indicator">Loading...</p>
    <div class="tw-grid tw-grid-cols-6 tw-gap-2 tw-mx-2 tw-px-2">
        <div class="tw-col-span-3">
            {% import 'radio_button.html.jinja' as radio %}
            <div>
                {{ radio.radio_button("difference", plot_type == "difference", "Difference Magnitude", "The difference Magnitude light curve is the absolute difference between science and reference magnitudes.") }}
            </div>
            <div>
                {{ radio.radio_button("apparent", plot_type == "apparent", "Apparent Magnitude", "Apparent magnitude light curve results from adding/subtracting the fluxes from the reference and difference in the same unit system and then converting to magnitudes.") }}
            </div>
            <div>
                {{ radio.radio_button("folded", plot_type == "folded", "Folded", "The Period folded light curve, where time is transformed to time modulo the period (Phase). Disabled if no period available.", period == 0) }}
            </div>
        </div>
        <div class="tw-col-span-2">
            <input 
                id="check-dr" 
                type="checkbox" 
                value="dr" 
            />
            <label for="check-dr" class="tw-text-xs tw-bg-blue-500 hover:tw-bg-blue-700 tw-text-white tw-font-bold tw-px-2 tw-py-1 tw-rounded">
                Toggle DR
            </label>
            <div class="tooltip">
                <i class="fa fa-question-circle tw-me-2"></i>
                <div class="tooltip-text">
                    Show data release sources from ZTF DR5
                </div>
            </div>
            <input 
                id="check-flux" 
                type="checkbox" 
                value="flux" 
            />
            <label for="check-flux" class="tw-text-xs tw-bg-green-400 hover:tw-bg-green-700 tw-text-white tw-font-bold tw-px-2 tw-py-1 tw-rounded">
                Toggle Flux
            </label>
            <div class="tooltip">
                <i class="fa fa-question-circle tw-me-2"></i>
                <div class="tooltip-text">
                    TODO
                </div>
            </div>
        </div>
        <div>
            <button id="lc-dr"
                class="tw-text-xs tw-bg-blue-500 hover:tw-bg-blue-700 tw-text-white tw-font-bold tw-py-1 tw-px-2 tw-rounded"
                hx-get="{{API_URL}}/htmx/lightcurve/dr?oid={{oid}}" hx-swap="outerHTML" hx-trigger="click"
                hx-target="#lightcurve-app"
                hx-swap="outerHTML"
                hx-indicator="#plot-indicator"
            >
                <i class="fa fa-eye tw-me-2"></i>
                Filter DR
            </button>
            <a id="lc-download-ref" style="display: none;"></a>
            <button id="lc-download"
                class="tw-text-xs tw-bg-green-500 hover:tw-bg-green-700 tw-text-white tw-font-bold tw-py-1 tw-px-2 tw-rounded">
                <i class="fa fa-download tw-me-2"></i>
                Download
            </button>
        </div>
    </div>
    <script type="module">
        import { ApparentLightCurveOptions } from "{{API_URL}}/static/lc-apparent.js";
        import { DifferenceLightCurveOptions } from "{{API_URL}}/static/lc-difference.js";
        import { FoldedLightCurveOptions } from "{{API_URL}}/static/lc-folded.js";
        import * as echart from "{{API_URL}}/static/echarts.min.js";
        import { jdToDate } from "{{API_URL}}/static/astro-dates.js";
        import "{{API_URL}}/static/jszip.js"

        let plot_text_color = "#000";
        let plot_options;
        const detections = {{ lightcurve.detections | tojson }};
        const forced_photometry = {{ lightcurve.forced_photometry | tojson }};
        const non_detections = {{ lightcurve.non_detections | tojson }};
        const dr_detections = {{ dr_detections | tojson }};
        let current_plot = "{{ plot_type }}";
        const period = {{ period | tojson }};

        const setPlot = () => {
            let flux = document.getElementById("check-flux").checked;
            const all_detections = getDetectionsWithDR();
            if (current_plot === "difference") {
                plot_options = new DifferenceLightCurveOptions(JSON.parse(JSON.stringify(detections)), non_detections, JSON.parse(JSON.stringify(forced_photometry)), plot_text_color, flux);
            } 
            if (current_plot === "apparent") {
                plot_options = new ApparentLightCurveOptions(all_detections, JSON.parse(JSON.stringify(forced_photometry)), plot_text_color, flux);
            }
            if (current_plot === "folded") {
                plot_options = new FoldedLightCurveOptions(all_detections, JSON.parse(JSON.stringify(forced_photometry)), plot_text_color, period);
            }
            plot.setOption(plot_options.options, true);
        }

        function getDetectionsWithDR() {
            let all_detections = JSON.parse(JSON.stringify(detections));
            let check_dr = document.getElementById("check-dr");
            if (!check_dr.checked) {
                return all_detections
            }
            Object.keys(dr_detections).forEach((key) => {
                all_detections = all_detections.concat(dr_detections[key]);
            });
            return all_detections
        }

        function showDataRelease() {
            if (current_plot === "apparent" || current_plot === "difference") {
                current_plot = "apparent";
            }
            setPlot();
            updateRadioButtons();
        }

        function plotOnClick(detection) {
            let index = plot_options.detections.findIndex((x) => x.mjd === detection.value[0])
            document.body.dispatchEvent(new CustomEvent('onDetectionClick', { detail: index }))
            const date = jdToDate(detection.value[0]).toUTCString().slice(0, -3) + 'UT'
            return {
                mjd: detection.value[0],
                date,
                index: index,
            }
        }

        function setColorSchemeWrapper(container) {
            function setColorScheme() {
                const color_scheme = container.classList.contains("tw-dark") ? "tw-dark" : "tw-light";
                if (color_scheme === "tw-dark") {
                    plot_text_color = "#fff";
                } else {
                    plot_text_color = "#000";
                }
                setPlot();
            }
            return setColorScheme;
        }


        function dateToString(date) {
            date = date.toISOString();
            date = date.replace(/[-:]/g, (c) => '');
            // date = date.replace('T', '_');
            date = date.split('T')[0];
            return date;
        }

        function jsonToCsv(arrayOfJson) {
            const replacer = (key, value) => (value === null ? '' : value);
            const header = Object.keys(arrayOfJson[0]);
            let csv = arrayOfJson.map((row) =>
                header
                    .map((fieldName) => JSON.stringify(row[fieldName], replacer))
                    .join(',')
            );
            csv.unshift(header.join(','));
            csv = csv.join('\r\n');
            return csv;
        }

        /* based in https://stackoverflow.com/questions/8847766/how-to-convert-json-to-csv-format-and-store-in-a-variable */
        function download(oid, detections, nonDetections, forcedPhotometry) {
            const today = dateToString(new Date())
            const filename = `${oid}_${today}.zip`;
            const zip = new JSZip();
            zip.file('detections.csv', jsonToCsv(detections));
            zip.file('non_detections.csv', jsonToCsv(nonDetections));
            if (forcedPhotometry.length > 0) {
                zip.file('forced_photometry.csv', jsonToCsv(forcedPhotometry));
            }
            zip.generateAsync({ type: 'blob' }).then((content) => {
                const url = URL.createObjectURL(content);
                const a = document.getElementById("lc-download-ref");
                a.href = url;
                a.download = filename;
                a.click();
            });
        }

        function updateRadioButtons(){
            radio_buttons.forEach((r) => {
                r.checked = r.value === current_plot;
            });
        }

        document.getElementById("lc-download").addEventListener("click", () => download("{{oid}}", detections, non_detections, forced_photometry));

        const lc_main_elem = document.getElementById("lc-main");
        let plot = echarts.init(lc_main_elem);
        plot.on("click", plotOnClick);
        window.addEventListener("resize", plot.resize);
        let radio_buttons = document.querySelectorAll('input[type="radio"]');
        radio_buttons.forEach((radio) => {
            radio.addEventListener("click", (event) => {
                current_plot = event.target.value;
                setPlot();
                updateRadioButtons();
            });
        });
        let check_dr = document.getElementById("check-dr");
        {% if show_dr %}
        check_dr.checked = true;
        {% endif %}
        check_dr.addEventListener("change", (event) => {
            if (event.target.checked) {
                showDataRelease();
            } else {
                setPlot();
            }
        });
        let check_flux = document.getElementById("check-flux");
        check_flux.addEventListener("change", setPlot);
        const container = document.getElementById("lightcurve-app");
        const color_scheme_observer = new MutationObserver(setColorSchemeWrapper(container));
        color_scheme_observer.observe(container, { attributes: true, attributeFilter: ["class"] });
        setColorSchemeWrapper(container)()
    </script>
</div>
