<script id="config-request">
    function configRequest(event) {
        if (event.detail.target.id === "lightcurve-app" || event.detail.target.id === "lightcurve-plot" || event.detail.target.id === "dr-table") {
            let params = {}
            params['dr_ids'] = {{ dr_ids | tojson }}
            params['oid'] = "{{oid}}"
            params['plot_type'] = "{{plot_type}}"
            {% if fetch_dr %}
            params['fetch_dr'] = true
            {% endif %}
            event.detail.parameters = params
        }
    }
    document.removeEventListener('htmx:configRequest', configRequest)
    document.addEventListener('htmx:configRequest', configRequest)
</script>
<div id="lightcurve-app">
    <div 
        id="lightcurve-plot" 
        hx-get="{{API_URL}}/htmx/lightcurve/{{plot_type}}" 
        hx-trigger="load" 
        hx-target="#lightcurve-plot" 
        hx-swap="outerHTML" 
        hx-indicator="#plot-indicator"
    ></div>
    <p id="plot-indicator" class="htmx-indicator">Loading...</p>
    <div class="tw-flex tw-gap-1">
        {% import 'radio_button.html.jinja' as radio %}
        <div>
            {{ radio.radio_button("difference", plot_type == "difference", "Difference Magnitude", "The difference Magnitude light curve is the absolute difference between science and reference magnitudes.", oid) }}
        </div>
        <div>
            {{ radio.radio_button("apparent", plot_type == "apparent", "Apparent Magnitude", "Apparent magnitude light curve results from adding/subtracting the fluxes from the reference and difference in the same unit system and then converting to magnitudes.", oid) }}
        </div>
        <div>
            {{ radio.radio_button("folded", plot_type == "folded", "Folded", "The Period folded light curve, where time is transformed to time modulo the period (Phase).", oid) }}
        </div>
        <div id="tools" class="tw-flex-grow">
            <button id="lc-dr"
                class="tw-bg-blue-500 dark:tw-bg-blue-700 tw-text-white tw-mt-2 tw-px-2 tw-py-1 tw-rounded hover:tw-bg-blue-600"
                hx-get="{{API_URL}}/htmx/lightcurve/dr?oid={{oid}}" hx-swap="outerHTML" hx-trigger="click"
                hx-target="#lightcurve-app"
                hx-swap="outerHTML"
                hx-indicator="#plot-indicator"
            >
                <i class="fa fa-eye tw-me-2"></i>
                Display DR
            </button>
            <a id="lc-download-ref" style="display: none;"></a>
            <button id="lc-download"
                class="tw-bg-green-500 dark:tw-bg-green-700 tw-text-white tw-mt-2 tw-px-2 tw-py-1 tw-rounded hover:tw-bg-green-600">
                <i class="fa fa-download tw-me-2"></i>
                Download
            </button>
        </div>
    </div>
</div>
