<script>
    // Conditionally loads css file to prevent duplicate downloading / parsing
    function isCssLoaded(url) {
        for (let css of document.styleSheets) {
            if (css.href === url) {
                return true;
            }
        }
        return false;
    }

    function conditionalCss(href) {
        if (!isCssLoaded(href)) {
            let link = document.createElement("link");
            link.href = href;
            link.type = "text/css";
            link.rel = "stylesheet";
            document.head.appendChild(link);
        }
    }

    function conditionalHTMX() {
        h = document.getElementById("htmx-script");
        if (h === null) {
            let script = document.createElement("script");
            script.src = "https://unpkg.com/htmx.org@1.9.11";
            script.id = "htmx-script";
            document.head.appendChild(script);
        }
    }

    conditionalHTMX();
    conditionalCss("{{API_URL}}/static/main.css");
    conditionalCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
</script>
<script id="htmx-script" src="https://unpkg.com/htmx.org@1.9.11"></script>
<script>
    document.addEventListener('htmx:beforeSwap', function(event) {
        document.querySelectorAll('script').forEach(function(script) {
            if (script.id === 'config-request'){
                script.remove();
            }
        });
    });
    function configRequest(event) {
        if (event.detail.target.id === "lightcurve-app" || event.detail.target.id === "lightcurve-plot" || event.detail.target.id === "dr-table") {
            let params = {}
            params['dr_ids'] = {{ dr_ids | tojson }}
            params['oid'] = "{{oid}}"
            params['plot_type'] = "{{plot_type}}"
            {% if fetch_dr %}
            params['fetch_dr'] = true
            {% endif %}
            event.detail.parameters = params
        }
    }
    document.addEventListener('htmx:configRequest', configRequest)
</script>
<div id="lightcurve-main" class="tw-preflight tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white tw-rounded tw-p-4 tw-flex tw-flex-col tw-h-full" style="height:80%;">
    <div 
        id="lightcurve-app" 
        hx-trigger="load" 
        hx-get="{{API_URL}}/htmx/lightcurve-app" 
        hx-target="#lightcurve-app" 
        hx-swap="outerHTML"
    />
</div>
