<script>
    // Conditionally loads css file to prevent duplicate downloading / parsing
    function isCssLoaded(url) {
        for (let css of document.styleSheets) {
            if (css.href === url) {
                return true;
            }
        }
        return false;
    }

    function conditionalCss(href) {
        if (!isCssLoaded(href)) {
            let link = document.createElement("link");
            link.href = href;
            link.type = "text/css";
            link.rel = "stylesheet";
            document.head.appendChild(link);
        }
    }

    conditionalCss("{{API_URL}}/static/main.css");
    conditionalCss("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
</script>
<script type="module">
    import "{{API_URL}}/static/jszip.js"
    const oid = '{{ oid }}';
    const detections = {{ detections | tojson }};
    const non_detections = {{ non_detections | tojson }};
    const forced_photometry = {{ forced_photometry | tojson }};
    const dr = {{ dr | tojson }};
    const dr_detections = {{ dr_detections | tojson }};
    let period = {{ period }};
</script>

<div id="lightcurve-htmx-container" class="tw-preflight" style="height: 100%;">
    <div id="lightcurve"
        class="tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white tw-rounded tw-p-4 tw-flex tw-flex-col tw-h-full">
        {% import 'plot.html.jinja' as plot %}
        {{ plot.lightcurve_plot(oid, detections, non_detections, forced_photometry, dr, dr_detections, period) }}
        <div class="tw-grid tw-grid-cols-4 tw-gap-2">
            {% import 'radio_button.html.jinja' as radio %}
            <div>
                {{ radio.radio_button("data", "difference", True, "Difference Magnitude", "The difference Magnitude light curve is the absolute difference between science and reference magnitudes.") }}
            </div>
            <div>
                {{ radio.radio_button("data", "apparent", False, "Apparent Magnitude", "Apparent magnitude light curve results from adding/subtracting the fluxes from the reference and difference in the same unit system and then converting to magnitudes.") }}
            </div>
            <div>
                {{ radio.radio_button("data", "folded", False, "Folded", "The Period folded light curve, where time is transformed to time modulo the period (Phase).") }}
            </div>
            <div>
                {% import 'buttons.html.jinja' as buttons %}
                {{ buttons.buttons() }}
                {% import 'download_lightcurve.html.jinja' as download %}
                {{ download.download_lightcurve(oid, detections, non_detections) }}
            </div>
        </div>
        <div id="lc-table" class="tw-overflow-y-auto tw-flex-1" hidden>
            {% import 'data_release_table.html.jinja' as dr_table %}
            {{ dr_table.data_release_table(dr) }}
        </div>
    </div>
</div>
