@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  position: relative;
}

.tooltip .fa-question-circle {
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  font-size: 12px;
  z-index: 1;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

