{% macro radio_button(value,checked, title, tooltip, disabled=False) %}
    <div class="tw-grid tw-grid-cols-6">
        <div class="tw-col-span-5">
            <label>
                <input id="radio-{{ value }}"
                       type="radio"
                       value="{{ value }}"
                       {% if checked %}checked{% endif %}
                       {% if disabled %}disabled{% endif %}>
                <span>{{ title }}</span>
            </label>
        </div>
        <div class="tooltip tw-col-span-1">
            <i class="fa fa-question-circle tw-me-2"></i>
            <div class="tooltip-text">{{ tooltip }}</div>
        </div>
    </div>
{% endmacro %}
