<script id="htmx-script" src="https://unpkg.com/htmx.org@1.9.11"></script>

<script>
    let linkCss = document.createElement('link');
    linkCss.rel = 'stylesheet'
    linkCss.href = '{{ API_URL }}/static/main.css';

    document.head.appendChild(linkCss);
</script>

<div class="tw-preflight">
    <div id="filter-form" class="tw-container tw-mx-auto">
        <div id="conditionContainer" class="tw-container tw-flex tw-flex-col">
                <label for="condition">Condition:</label>
                <select 
                class="tw-border-gray-400 tw-bg-transparent tw-border-2 tw-rounded-lg tw-w-1/4" 
                name="condition" 
                id="condition" 
                >
                <option style="display:none" ></option>
                <option value="constant">Constant</option>
                <option value="difference">Difference</option>
                <option value="">No filter</option>
                </select>
        </div>
        <div id="inputsContainer" class="tw-container tw-py-4">
            <div id="constantDiv" class="tw-grid tw-grid-cols-12 tw-gap-4 tw-hidden">
            {% import './filtersTemplates/select.html.jinja' as select %}
            {% import './filtersTemplates/input_number.html.jinja' as input %}
            {% import './filtersTemplates/input_text.html.jinja' as input_text %}
            {% import './filtersTemplates/input_date.html.jinja' as input_date %}
                <div class="tw-col-span-6 tw-flex tw-flex-col tw-relative">
                    {{ input_text.input_text("property") }}
                    <div id="valuesProperties" class="tw-absolute tw-w-full"></div>
                </div>
                <div class="tw-col-span-6">
                    {{ select.select("operation", ['equal', 'less', 'less eq', 'greater','greater eq']) }}
                </div>
                <div class="tw-col-span-6">
                    {{ input.input("value") }}
                </div>
                <div class="tw-col-span-6">
                    {{ select.select("band", ['g', 'r', 'i']) }}
                </div>
            </div>
            <div id="differenceDiv" class="tw-hidden">
                <div class="tw-grid tw-grid-cols-12 tw-gap-4">
                    <div class="tw-col-span-4 tw-h-24 tw-flex tw-flex-col">
                        {{ input_date.input_date("dateEntry") }}
                    </div>
                    <div class="tw-col-span-4 tw-flex tw-flex-col">
                        {{ input_date.input_date("dateEnd") }}
                    </div>
                    <div class="tw-col-span-4 tw-flex tw-flex-col">
                        {{ input.input("standardDeviation")}}
                    </div>
                    <div class="tw-col-span-12 tw-border-gray-400 tw-border-2"></div>
                    <div class="tw-col-span-4 tw-flex tw-flex-col">
                        <label for="preview">preview: </label>
                        <input 
                        type="text"
                        id="preview"
                        name="oid"
                        class="tw-border-gray-400 tw-border-2 tw-rounded-lg tw-w-full"
                        hx-get="{{ API_URL }}/htmx/lightcurve"
                        hx-trigger="change"
                        hx-target="#lightcurve"
                        hx-swap="innerHTML">
                    </div>
                </div>
                <div id="lightcurve" class="tw-mx-auto tw-h-1/2 tw-w-1/2"></div>
            </div>
        </div>
        <div id="btnContainer" class="tw-container tw-flex tw-flex-row-reverse">
            <button id="saveBtn" class="tw-border-gray-700 tw-border-2 tw-rounded-lg tw-px-4">Save</button>
        </div>
    </div>
</div>

<script>
    const search_conditions = ['constant', 'difference', '']
    const search_property = ['mag']
    const select_condition = document.getElementById("condition");
    const save_btn = document.getElementById("saveBtn");
    let previous_select_condition = ""

    select_condition.addEventListener('change', (e) =>{
        let messageHTML = document.getElementById(`${e.target.id}-error`);
        if(messageHTML) {
            messageHTML.remove();
        }
        selectValidations(e.target)
    });

    save_btn.addEventListener('click', () => {
        if(select_condition.value == "condition" && input_boolean_value && input_boolean_property && input_boolean_operation && input_boolean_band){
            console.log("approved");
        };
    });

    /* EventListener constant*/

    /* EventListener difference*/

    /* dynamic search*/
    function autocompleteMatch(input, elementId) {
        if (input == '') {
            return [];
        }
        let reg = new RegExp(input)
        if( elementId == "result"){
            return search_terms.filter((term) => term.match(reg));
        } else if ( elementId == "valuesConditions") {
            return search_conditions.filter((term) => term.match(reg))
        } else if ( elementId == "valuesProperties") {
            return search_property.filter((term) => term.match(reg))
        }
    }

    function showResults(val, inputId, elementId) {
        res = document.getElementById(elementId);
        res.innerHTML = '';
        let list = '';
        let terms = autocompleteMatch(val.toLowerCase(), elementId);
        for (i=0; i<terms.length; i++) {
            list += `<li onclick="selectResult(this, '${inputId}', '${elementId}')">${terms[i]}</li>`;
        }

        if (terms.length !=0 ){
            res.innerHTML = '<ul class="tw-bg-white tw-border-2">' + list + '</ul>';
        } else {
            res.innerHTML = '<ul>' + list + '</ul>';
        }
    }

    function selectResult(element, inputId, elementId) {
        document.getElementById(inputId).value = element.innerText;
        document.getElementById(elementId).innerHTML = '';
    }


    function selectValidations(val) {

        const existingErrorElement = document.querySelector(`#${val.id}-error`)
        if (existingErrorElement) {
            return null;
        }
        if (search_conditions.includes(val.value)){

            if(val.value == "constant"){
                if(previous_select_condition != ""){
                    document.getElementById(`${previous_select_condition}Div`).classList.add("tw-hidden");
                }
                document.getElementById("constantDiv").classList.remove("tw-hidden");
            }
            if(val.value == "difference"){
                if(previous_select_condition != ""){
                    document.getElementById(`${previous_select_condition}Div`).classList.add("tw-hidden");
                }
                document.getElementById("differenceDiv").classList.remove("tw-hidden");
            }
            if(val.value == ""){
                if(previous_select_condition != ""){
                    document.getElementById(`${previous_select_condition}Div`).classList.add("tw-hidden");
                }
            }
            previous_select_condition = val.value;
            return true;
        } else {
            const errorElement = document.createElement('span');
            errorElement.id = `${val.id}-error`;
            errorElement.innerHTML = "The field must be one of the options shown.";
            val.insertAdjacentElement("afterend", errorElement);
        }
    }

    /* validations constant*/

    /* validations difference*/
</script>
