

{% macro dropdown(placeholder, selected_id, options_id, classifier_container_id)%}
<el-dropdown class="tw-inline-block tw-w-full">
  <button id="{{ classifier_container_id }}" class="tw-flex tw-min-w-full tw-justify-between tw-py-2 tw-border-b tw-border-b-[#757575] hover:tw-border-b-white" onclick="switch_arrow_icon(this)">

    <span id="{{ selected_id }}" data-placeholder="{{ placeholder }}" class="placeholder-span"></span>
    <svg name="arrow_icon" data-direction="down" class="tw-w-[24px] tw-h-[24px] tw-fill-dark dark:tw-fill-white" viewBox="0 -960 960 960"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
  </button>

  <el-menu anchor="bottom" popover class="
  tw-w-[90%] lg:tw-w-52 tw-max-h-60 tw-overflow-y-auto
  tw-m-0 tw-transition tw-transition-discrete tw-bg-transparent data-closed:tw-scale-95 data-closed:tw-transform data-closed:tw-opacity-0 data-enter:tw-duration-100 data-enter:tw-ease-out data-leave:tw-duration-75 data-leave:tw-ease-in">
    <div id="{{ options_id }}" class=" tw-bg-white dark:tw-bg-[#1e1e1e]"></div>
  </el-menu>
</el-dropdown>
{% endmacro %}
