<script src="{{API_URL}}/htmx/htmx.min.js"></script>
<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<link rel="stylesheet" href="{{API_URL}}/static/aladin.css">

<div id="aladin-app" class="tw-preflight tw-w-full tw-bg-white tw-text-black tw-relative dark:tw-bg-[#1e1e1e] dark:tw-text-white">
    {% include 'main.html.jinja' %}
</div>
