<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<script src="{{API_URL}}/core_static/htmx/htmx.min.js"></script>
<link rel="stylesheet" href="{{API_URL}}/static/object.css">

<div id="form-search" class="tw-preflight">
    {% from "input.html.jinja" import input as customInput %}
    <div id="form-container" class="tw-container tw-mx-auto tw-p-4 tw-bg-[#1e1e1e] tw-text-[#EEEEEE] tw-border tw-border-black tw-flex tw-flex-col tw-gap-y-4 lg:tw-w-3/12 md:tw-w-3/12 sm:tw-w-full">

        <!--Search filters-->
        <div class="tw-w-full">Search filters</div>
        <!--general filters-->
        <div class="tw-w-full">
            <p id="general_filters" class="hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer">General filters</p>
            <div id="general_filters_container" class="tw-hidden tw-mx-auto tw-my-4 tw-grid tw-grid-cols-12 tw-gap-4">
                
                <div class="tw-col-span-12 tw-flex tw-flex-col tw-content-center">
                    <button type="button" id="clear_oids_btn" class="tw-self-end tw-hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1565C0"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                    </button>
                    <div id="oids_container" class="tw-hidden tw-pb-2 tw-flex tw-gap-2 tw-flex-wrap"></div>
                    {{customInput(id="objectId", type="text", placeholder="ObjectId")}}
                </div>

                <!--select classifiers-->
                <div class="select-wrapper tw-col-span-12 lg:tw-col-span-6 md:tw-col-span-12 sm:tw-col-span-12">
                    <div class="select tw-w-full tw-border tw-border-transparent tw-border-b-[#757575] hover:tw-border-b-white">
                        <div class="select__trigger">
                            <span
                            id="classifier"
                            class="tw-inline-block tw-text-[#a9a9a9] tw-text-left"
                            data-value=""
                            hx-get="{{API_URL}}/htmx/select/"
                            hx-trigger="change"
                            hx-target="#classes_options"
                            hx-swap="outerHTML"
                            hx-vals='js:{...prepareParameters()}'>classifier</span>
                        </div>
                        <div class="custom-options">
                            <span class="custom-option selected" data-value=""></span>
                            {% for value in classifiers%}
                                <span class="custom-option" data-value='{{value|tojson}}'> {{value.formated_name_classifier}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!--select classes-->
                <div class="select-wrapper lg:tw-col-span-6 md:tw-col-span-12">
                    <div class="select tw-border tw-border-transparent tw-border-b-[#757575] hover:tw-border-b-white">
                        <div class="select__trigger">
                            <span
                            id="class"
                            class="tw-inline-block tw-text-[#a9a9a9] tw-text-left tw-col-span-6"
                            data-value="">class</span>
                        </div>
                        <div id="classes_options" class="">
                        <!--HTMX CLASSES OPTIONS--->
                        </div>
                    </div>
                </div>
                
                <div id="probability"class="tw-col-span-12">
                    <label>Probability ≥</label>
                    <label id="prob_number" class="tw-inline-block tw-w-[36px]"> 0.00</label>
                    <input id="prob_range" class="" type="range" step="0.01" max="1" value="0.00">
                </div>

                <div id="detections range" class="tw-col-span-12 tw-grid tw-grid-cols-12">
                    <p class="tw-col-span-12">Number of detections range</p>
                    <div class="tw-col-span-12 tw-flex tw-justify-between">
                        {{customInput(id="min_detections", type="number", placeholder="Min", width="tw-w-1/3")}}

                        {{customInput(id="max_detections", type="number", placeholder="Max", disabled=true, width="tw-w-1/3")}}

                    </div>
                </div>
            </div>
        </div>

        <!--Discovery date filters-->
        <div class="tw-w-full">
            <p id="discovery_date_filters" class="hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer">Discovery date filters</p>
            
            <div id="discovery_date_filters_container" class="tw-hidden tw-mx-auto tw-my-4 tw-grid tw-grid-cols-12 tw-gap-4">
                <!--min mjd and date greg-->
                {{customInput(id="min_mjd", type="number", placeholder="min mjd", width="lg:tw-col-span-6 md:tw-col-span-12", min="0", step="0.01")}}

                <div class="tw-container tw-relative tw-z-[10] lg:tw-col-span-6 md: tw-col-span-12">
                    <p 
                    id="min_date_time_text" 
                    class="tw-bg-transparent tw-border tw-border-transparent tw-border-b-[#757575] hover:tw-border-b-white dark:tw-border-b-[#757575] dark:hover:tw-border-b-white">min first greg date</p>

                    <div id="min_date_time_text_container" class="tw-container tw-w-[290px] tw-flex tw-flex-col tw-items-center tw-p-4 tw-gap-4 tw-hidden tw-absolute tw-bg-[#424242]">
                        {{customInput(id="date_min", type="date", width="tw-w-[90%]", style="color-scheme: dark;")}}

                        {{customInput(id="time_min", type="time", width="tw-w-[90%]", style="color-scheme: dark;")}}

                        <div class="tw-container tw-flex tw-justify-end tw-gap-4">
                            <button id="save_date" class="tw-bg-blue-500 tw-text-blue-50 tw-rounded tw-w-[30%] tw-self-end">Save</button>
                        </div>
                    </div>
                </div>


                <!--max mjd and date greg-->
                {{customInput(id="max_mjd", type="number", placeholder="max mjd", width="lg:tw-col-span-6 md:tw-col-span-12")}}
                
                <div class="tw-container tw-relative lg:tw-col-span-6 md: tw-col-span-12">
                    <p id="max_date_time_text" class="tw-bg-transparent tw-border tw-border-transparent tw-border-b-[#757575] hover:tw-border-b-white dark:tw-border-b-[#757575] dark:hover:tw-border-b-white">max first greg date</p>

                    <div id="max_date_time_text_container" class="tw-container tw-w-[290px] tw-flex tw-flex-col tw-items-center tw-p-4 tw-gap-4 tw-hidden tw-absolute tw-bg-[#424242]">
                        {{customInput(id="date_max", type="date", width="tw-w-[90%]", style="color-scheme: dark;")}}

                        {{customInput(id="time_max", type="time", width="tw-w-[90%]", style="color-scheme: dark;")}}

                        <button id="save_date_max" class="tw-bg-blue-500 tw-text-blue-50 tw-rounded tw-w-1/4 tw-self-end">Save</button>
                     </div>
                </div>
            </div>
        </div>

        <!--Conesearch filters-->
        <div class="tw-w-full">
            <p id="conesearch_filters" class="hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer">Conesearch</p>

            <div id="conesearch_filters_container" class="tw-hidden tw-container tw-grid tw-grid-cols-12 tw-my-4 tw-mx-auto tw-gap-4">
                
                <div class="lg:tw-col-span-5 sm:tw-col-span-11">
                    {{customInput(id="target_name", type="text", width="tw-w-full", placeholder="target name")}}
                </div>

                <div class="tw-px-4 tw-flex tw-flex-col tw-items-end lg:tw-col-span-7 sm:tw-col-span-12">
                    <button class="tw-w-[95%] tw-bg-[#424242] tw-text-[#F5F5F5] tw-rounded">resolve</button>
                    <label class="tw-text-sm">provided by sesame</label>
                </div>

                <div class="lg:tw-col-span-6 sm:tw-col-span-12">
                    <input type="radio" id="degrees" name="consearch_radio" value="degrees" >
                    <label>Degrees</label>
                </div>

                <div class="lg:tw-col-span-6 sm:tw-col-span-12">
                    <input type="radio" id="HMS/DMS" name="consearch_radio" value="HMS/DMS">
                    <label>HMS/DMS</label>
                </div>

                {{customInput(id="Ra", type="number", width="lg:tw-col-span-6 sm:tw-col-span-12", placeholder="Ra (Deg)")}}


                {{customInput(id="Dec", type="number", width="lg:tw-col-span-6 sm:tw-col-span-12", placeholder="Dec (deg)")}}

                {{customInput(id="Radius", type="number", width="tw-col-span-12", placeholder="Radius (arcsec)")}}


            </div>
        </div>

         <!--Buttons-->
        <div class="tw-w-full tw-grid tw-grid-cols-12 tw-gap-4">
            <button 
            hx-get="{{API_URL}}/htmx/list_object"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-target="#test"
            hx-vals='js:{...searchParams()}'
            class="tw-bg-blue-500 tw-text-blue-50 tw-rounded lg:tw-col-span-7 md:tw-col-span-12">SEARCH</button>
            
            <button class="tw-bg-[#424242] tw-text-[#F5F5F5] tw-rounded lg:tw-col-span-4 md:tw-col-span-12">CLEAR</button>
        </div>
    </div>

    <div id="test">test</div>
</div>

<script type="module">
import {init, elementReady} from "{{API_URL}}/static/formSearch.js"


elementReady("#form-search").then((el) => {
  init();
});
</script>

<script id="form-data" type="application/json">
{
    "classifiers": {{classifiers | tojson}}
}
</script>
