<div id="classes_options" class="obj-custom-options tw-overflow-auto tw-max-h-[304px]">
    <span class="obj-custom-option obj-selected" data-value=""></span>
    {% for value in classes%}
        <span class="obj-custom-option dark:tw-text-[#EEEEEE] hover:tw-bg-[#b2b2b2]" data-value="{{value}}"> {{value}}</span>
    {% endfor %}
</div>

<script type="module">
    for(const option of document.querySelectorAll(".obj-custom-option")){
    option.addEventListener('click', () => {
        if(!option.classList.contains('obj-selected')){
            option.parentNode.querySelector('.obj-custom-option.obj-selected').classList.remove('obj-selected');
            option.classList.add('obj-selected');

            option.closest('.obj-select').querySelector('.obj-select__trigger span').textContent = option.textContent;

            if(!option.closest('.obj-select').querySelector('.obj-select__trigger span').classList.contains('dark:tw-text-[#EEEEEE]')){
                option.closest('.obj-select').querySelector('.obj-select__trigger span').classList.add('dark:tw-text-[#EEEEEE]')
            }

            option.closest('.obj-select').querySelector('.obj-select__trigger span').setAttribute("data-value",  option.getAttribute("data-value"));
        }
    })
}
</script>