
<div class="tw-flex tw-flex-col tw-w-full tw-max-w-[630px] tw-block sm:tw-hidden">

    <div id="objects_table_sort" class="obj-select-wrapper tw-w-full tw-mb-4 tw-px-4">
        <div id="" class="obj-select tw-border-b tw-border-b-black  hover:tw-border-b-black/70 dark:tw-border-b-[#757575]  dark:hover:tw-border-b-white">
            <div class="obj-select__trigger tw-flex tw-flex-col">
                <label class="tw-text-black/80 dark:tw-text-white/80 tw-text-xs">Sort by</label>
                <span
                id=""
                class="tw-text-black dark:tw-text-[#EEEEEE]"
                data-value="">Highest Probability</span>
            </div>
            <div class="obj-custom-options">
                <span class="obj-custom-option obj-selected"  data-value=""></span>
                <span 
                class="obj-custom-option hover:tw-bg-[#b2b2b2]" 
                data-value=''
                >
                    FirstMJD
                </span>
                <span 
                class="obj-custom-option hover:tw-bg-[#b2b2b2]" 
                data-value=''
                >
                    LastMJD
                </span>
                <span 
                class="obj-custom-option hover:tw-bg-[#b2b2b2]" 
                data-value=''
                >
                    Highest Probability
                </span>

                <span 
                class="obj-custom-option hover:tw-bg-[#b2b2b2]" 
                data-value=''
                >
                    DeltaMJD (days)
                </span>
            </div>
        </div>
    </div>
</div>



<script type="module">

    for (const dropdown of document.querySelectorAll("#objects_table_sort")) {
        dropdown.addEventListener('click', function() {
        this.querySelector('.obj-select').classList.toggle('open');
        })
    }

    for(const option of document.querySelectorAll(".obj-custom-option")){
        option.addEventListener('click', () => {
            if(!option.classList.contains('obj-selected')){
                option.parentNode.querySelector('.obj-custom-option.obj-selected').classList.remove('obj-selected');
                option.classList.add('obj-selected');

                option.closest('.obj-select').querySelector('.obj-select__trigger span').textContent = option.textContent;

                if(!option.closest('.obj-select').querySelector('.obj-select__trigger span').classList.contains('dark:tw-text-[#EEEEEE]')){
                    option.closest('.obj-select').querySelector('.obj-select__trigger span').classList.add('dark:tw-text-[#EEEEEE]')
                }

                option.closest('.obj-select').querySelector('.obj-select__trigger span').setAttribute("data-value",  option.getAttribute("data-value"));
            }
        })
    }
</script>