{% macro input(
    id, 
    type,
    name=none,
    value=none,
    placeholder=none, 
    disabled=false, 
    width="tw-w-full", 
    min=none, 
    step=none,
    style=none
)%}
    <input 
    id="{{ id }}" 
    type="{{ type }}"
    {% if name %}name="{{ name }}"{% endif %}
    {% if value %}value="{{ value }}"{% endif %} 
    {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
    {% if min %}min="{{min}}"{% endif %}
    {% if step %}step="{{step}}"{% endif %}
    {% if style %}style="{{style}}"{% endif %}
    {% if disabled %} disabled {% endif %}
    class="{{width}} tw-bg-transparent tw-border-b tw-border-b-[#757575] tw-placeholder-black/50 hover:tw-border-b-white dark:tw-border-b-[#757575] dark:hover:tw-border-b-white dark:tw-placeholder-white/60" 
    >
{% endmacro %}