{% macro default_table() %}
<table class="tw-table-auto tw-border-collapse tw-bg-[#1e1e1e] tw-text-left tw-w-full">
    <thead>
        <tr class="tw-text-white/70 tw-h-[34px] tw-text-[0.875rem] tw-border-b-2 tw-border-[#757575]/70">
            <th class="tw-px-4">Object ID</th>
            <th class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >Number of detections</th>
            <th class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >FirstMJD</th>
            <th class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >LastMJD</th>
            <th class="tw-px-4">RA/DEC(degrees)</th>
            <th class="tw-px-4">Highest Probability Class</th>
            <th class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >Highest Probability</th>
            <th class="tw-px-4">DeltaMJD (days)</th>
        </tr>
    </thead>
</table>
{%endmacro%}
