<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<link rel="stylesheet" href="{{API_URL}}/static/object.css">


<div id="objects_table" class="tw-preflight">

    <div id="pagination" class="tw-flex tw-justify-end tw-items-center tw-text-base tw-bg-[#1e1e1e]/95 tw-h-[48px]">
        {% if has_prev %}
            <span 
            id="prev_page"
            data-next="{{prev}}"
            hx-get="{{API_URL}}/table"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#objects_table"
            hx-vals='js:{
            ...send_form_Data(), 
            ...send_pagination_data({{prev}}),
            ...send_order_data("{{actual_order_by}}", "{{actual_order_mode}}","{{has_prev}}")}'
            class="tw-inline-block hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#FFFFFF">
            <path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z"/>
            </svg>
            </span>
        {% endif %}
        <span class="tw-inline-block tw-text-white tw-text-lg tw-text-center tw-h-[28px] tw-w-[48px]">{{objects_list['current_page']}}
        </span>
        
        {% if has_next %}
            <span 
            id="next_page"
            data-next="{{next}}"
            hx-get="{{API_URL}}/table"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#objects_table"
            hx-vals='js:{
            ...send_form_Data(), 
            ...send_pagination_data({{next}}),
            ...send_order_data("{{actual_order_by}}", "{{actual_order_mode}}", "{{has_next}}") }'
            class="tw-inline-block hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >
            <svg xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#FFFFFF">
            <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/>
            </svg>
            </span>
        {%endif%}
    </div>
    {% if objects_list['items']|length > 0 %}
    <table class="tw-table-auto tw-border-collapse tw-bg-[#1e1e1e] tw-text-left tw-w-full">
        <thead>
            <tr class="tw-text-white/70 tw-h-[34px] tw-text-[0.875rem]">
                <th class="tw-px-4">Object ID</th>
                <th
                id="n_det_column"
                data-column = "n_det"
                class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                hx-get="{{API_URL}}/table"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#objects_table"
                hx-vals='js:{
                ...send_form_Data(), 
                ...send_pagination_data(), 
                ...send_order_data("n_det", "{{actual_order_mode}}")}'
                >Number of detections</th>
                <th 
                id="firstmjd_column"
                data-column = "firstmjd"
                class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                hx-get="{{API_URL}}/table"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#objects_table"
                hx-vals='js:{
                ...send_form_Data(), 
                ...send_pagination_data(), 
                ...send_order_data("firstmjd", "{{actual_order_mode}}")}'
                >FirstMJD</th>
                <th
                id="lastmjd_column"
                data-column = "lastmjd"
                class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                hx-get="{{API_URL}}/table"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#objects_table"
                hx-vals='js:{
                ...send_form_Data(), 
                ...send_pagination_data(), 
                ...send_order_data("lastmjd", "{{actual_order_mode}}")}'
                >LastMJD</th>
                <th class="tw-px-4">RA/DEC(degrees)</th>
                <th class="tw-px-4">Highest Probability Class</th>
                <th 
                id="probability_column"
                data-column = "probability"
                class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                hx-get="{{API_URL}}/table"
                hx-trigger="click"
                hx-swap="outerHTML"
                hx-target="#objects_table"
                hx-vals='js:{
                ...send_form_Data(), 
                ...send_pagination_data(), 
                ...send_order_data("probability", "{{actual_order_mode}}")}'
                >Highest Probability</th>
                <th class="tw-px-4">DeltaMJD (days)</th>
            </tr>
        </thead>
        <tbody>
            {% for item in objects_list['items']%}
                <tr class="tw-border-y-2 tw-border-[#757575]/70 tw-h-[34px] tw-text-white tw-text-[0.875rem] hover:tw-bg-[#b2b2b2]/50 hover:tw-cursor-pointer">
                    <td class="tw-px-4">{{item['oid']}}</td>
                    <td class="tw-px-4">{{item['n_det']}}</td>
                    <td class="tw-px-4">{{item['firstmjd'] | truncate(3)}}</td>
                    <td class="tw-px-4">{{item['lastmjd'] | truncate(3)}}</td>
                    <td class="tw-px-4">
                    {{ item['meanra'] | truncate(3) }}, {{ item['meandec'] | truncate(3) }}
                    </td>
                    <td class="tw-px-4">{{item['class_name']}}</td>
                    <td class="tw-px-4">{{item['ranking']}}</td>
                    <td class="tw-px-4">{{item['deltamjd']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
     {% from "objects_table_default.html.jinja" import default_table as defaultTable %}
        <div class="tw-flex tw-flex-col tw-justify-center tw-content-center">
            {{defaultTable()}}

            {% if objects_list['info_message'] %}
                <span class="tw-block tw-mx-auto tw-text-white/70 tw-py-2">
                    {{objects_list['info_message'] }}
                </span>
            {% endif %}
        </div>
    {% endif %}


</div>


<script type="module">
    import {draw_arrow_order_table} from "{{API_URL}}/static//draw_elements.js";

    let recived_order_by = '{{actual_order_by}}_column'
    let recived_order_mode = '{{actual_order_mode}}'

    let icon = draw_arrow_order_table(recived_order_mode)

    document.getElementById(recived_order_by).appendChild(icon)
    document.getElementById(recived_order_by).classList.add("tw-flex", "tw-items-center", "tw-text-white")

</script>