<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{API_URL}}/static/object.css">

<div id="objects_table" class="tw-preflight tw-text-black tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white">

    <div id="pagination" class="tw-flex tw-justify-end tw-items-center tw-text-base  tw-h-[48px] tw-bg-white tw-text-black dark:tw-bg-[#1e1e1e]/95 dark:tw-text-white">
        {% if has_prev %}
            <span 
            id="prev_page"
            name="objects_table_btn_page"
            data-next="{{prev}}"
            hx-get="{{API_URL}}/htmx/list_objects"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#objects_table"
            hx-vals='js:{
            ...send_form_Data(), 
            ...send_pagination_data({{prev}}),
            ...send_order_data("{{actual_order_by}}", "{{actual_order_mode}}","{{has_prev}}")}'
            class="tw-inline-block hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >
            <svg class="tw-w-[28px] tw-h-[28px] tw-fill-current dark:tw-fill-white" viewBox="0 -960 960 960">
            <path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z"/>
            </svg>
            </span>
        {% endif %}
        <span class="tw-inline-block tw-text-lg tw-text-center tw-h-[28px] tw-w-[48px]">{{objects_list['current_page']}}
        </span>
        
        {% if has_next %}
            <span 
            id="next_page"
            name="objects_table_btn_page"
            data-next="{{next}}"
            hx-get="{{API_URL}}/htmx/list_objects"
            hx-trigger="click"
            hx-swap="outerHTML"
            hx-target="#objects_table"
            hx-vals='js:{
            ...send_form_Data(), 
            ...send_pagination_data({{next}}),
            ...send_order_data("{{actual_order_by}}", "{{actual_order_mode}}", "{{has_next}}") }'
            class="tw-inline-block hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >
            <svg class="tw-w-[28px] tw-h-[28px] tw-fill-current dark:tw-fill-white"  viewBox="0 -960 960 960">
            <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/>
            </svg>
            </span>
        {%endif%}
    </div>
    {% if objects_list['items']|length > 0 %}
    <div class="tw-overflow-x-auto">
        {% include "dropdown_order_table.html.jinja" %}

        <table class="tw-table-auto tw-border-collapse tw-bg-white tw-text-left tw-w-full dark:tw-bg-[#1e1e1e]">
            <thead class="tw-hidden tw-text-[0.875rem] tw-text-black/60 dark:tw-text-white/70 sm:tw-table-header-group">
                <tr class="w-h-[34px]">
                    <th class="tw-px-4">Object ID</th>
                    <th
                    id="n_det_column"
                    name="object_column_name"
                    data-column = "n_det"
                    class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                    hx-get="{{API_URL}}/htmx/list_objects"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#objects_table"
                    hx-vals='js:{
                    ...send_form_Data(), 
                    ...send_pagination_data(), 
                    ...send_order_data("n_det", "{{actual_order_mode}}")}'
                    >
                    <div id="number_of_detections" class="tw-group tw-flex tw-items-center tw-gap-1.5 tw-cursor-pointer">
                        <span class="placeholder-span">
                            Number of detections
                        </span>
                        <svg
                            name="sort_arrow"
                            data-direction="{% if actual_order_by == 'n_det' %}{{ 'down' if actual_order_mode == 'DESC' else 'up' }}{% else %}down{% endif %}"
                            xmlns="http://www.w3.org/2000/svg"
                            class="{% if actual_order_by == 'n_det' %}tw-visible{% else %}tw-invisible group-hover:tw-visible{% endif %} tw-h-4 tw-w-4 tw-fill-black dark:tw-fill-white"
                            viewBox="0 -960 960 960"
                            fill="#e3e3e3">
                            <path d="{% if actual_order_by == 'n_det' and actual_order_mode == 'ASC' %}M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z{% else %}M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z{% endif %}"/>
                        </svg>
                    </div>

                    </th>
                    <th 
                    id="firstmjd_column"
                    name="object_column_name"
                    data-column = "firstmjd"
                    class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                    hx-get="{{API_URL}}/htmx/list_objects"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#objects_table"
                    hx-vals='js:{
                    ...send_form_Data(), 
                    ...send_pagination_data(), 
                    ...send_order_data("firstmjd", "{{actual_order_mode}}")}'
                    >
                    
                    <div id="first_mjd" class="tw-group tw-flex tw-items-center tw-gap-1.5 tw-cursor-pointer">
                        <span class="placeholder-span">
                            FirstMJD
                        </span>
                        <svg
                            name="sort_arrow"
                            data-direction="{% if actual_order_by == 'firstmjd' %}{{ 'down' if actual_order_mode == 'DESC' else 'up' }}{% else %}down{% endif %}"
                            xmlns="http://www.w3.org/2000/svg"
                            class="{% if actual_order_by == 'firstmjd' %}tw-visible{% else %}tw-invisible group-hover:tw-visible{% endif %} tw-h-4 tw-w-4 tw-fill-black dark:tw-fill-white"
                            viewBox="0 -960 960 960"
                            fill="#e3e3e3">
                            <path d="{% if actual_order_by == 'firstmjd' and actual_order_mode == 'ASC' %}M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z{% else %}M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z{% endif %}"/>
                        </svg>
                    </div>
                    
                    </th>
                    <th
                    id="lastmjd_column"
                    name="object_column_name"
                    data-column = "lastmjd"
                    class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                    hx-get="{{API_URL}}/htmx/list_objects"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#objects_table"
                    hx-vals='js:{
                    ...send_form_Data(), 
                    ...send_pagination_data(), 
                    ...send_order_data("lastmjd", "{{actual_order_mode}}")}'
                    >
        
                    <div id="last_mjd" class="tw-group tw-flex tw-items-center tw-gap-1.5 tw-cursor-pointer">
                        <span class="placeholder-span">
                            LastMJD
                        </span>
                        <svg
                            name="sort_arrow"
                            data-direction="{% if actual_order_by == 'lastmjd' %}{{ 'down' if actual_order_mode == 'DESC' else 'up' }}{% else %}down{% endif %}"
                            xmlns="http://www.w3.org/2000/svg"
                            class="{% if actual_order_by == 'lastmjd' %}tw-visible{% else %}tw-invisible group-hover:tw-visible{% endif %} tw-h-4 tw-w-4 tw-fill-black dark:tw-fill-white"
                            viewBox="0 -960 960 960"
                            fill="#e3e3e3">
                            <path d="{% if actual_order_by == 'lastmjd' and actual_order_mode == 'ASC' %}M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z{% else %}M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z{% endif %}"/>
                        </svg>
                    </div>
                    
                    </th>
                    <th class="tw-px-4">RA/DEC(degrees)</th>
                    <th class="tw-px-4">Highest Probability Class</th>
                    <th 
                    id="probability_column"
                    name="object_column_name"
                    data-column = "probability"
                    class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                    hx-get="{{API_URL}}/htmx/list_objects"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#objects_table"
                    hx-vals='js:{
                    ...send_form_Data(), 
                    ...send_pagination_data(), 
                    ...send_order_data("probability", "{{actual_order_mode}}")}'
                    >
                    
                    <div id="highest_probability" class="tw-group tw-flex tw-items-center tw-gap-1.5 tw-cursor-pointer">
                        <span class="placeholder-span">
                            Highest Probability
                        </span>
                        <svg
                            name="sort_arrow"
                            data-direction="{% if actual_order_by == 'probability' %}{{ 'down' if actual_order_mode == 'DESC' else 'up' }}{% else %}down{% endif %}"
                            xmlns="http://www.w3.org/2000/svg"
                            class="{% if actual_order_by == 'probability' %}tw-visible{% else %}tw-invisible group-hover:tw-visible{% endif %} tw-h-4 tw-w-4 tw-fill-black dark:tw-fill-white"
                            viewBox="0 -960 960 960"
                            fill="#e3e3e3">
                            <path d="{% if actual_order_by == 'probability' and actual_order_mode == 'ASC' %}M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z{% else %}M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z{% endif %}"/>
                        </svg>
                    </div>
                    
                    </th>
                    <th 
                    id="deltamjd_column"
                    name="object_column_name"
                    data-column = "deltamjd"
                    class="tw-px-4 hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
                    hx-get="{{API_URL}}/htmx/list_objects"
                    hx-trigger="click"
                    hx-swap="outerHTML"
                    hx-target="#objects_table"
                    hx-vals='js:{
                    ...send_form_Data(), 
                    ...send_pagination_data(), 
                    ...send_order_data("deltamjd", "{{actual_order_mode}}")}'
                    >
                    
                    <div id="delta_mjd" class="tw-group tw-flex tw-items-center tw-gap-1.5 tw-cursor-pointer">
                        <span class="placeholder-span">
                            DeltaMJD (days)
                        </span>
                        <svg
                            name="sort_arrow"
                            data-direction="{% if actual_order_by == 'deltamjd' %}{{ 'down' if actual_order_mode == 'DESC' else 'up' }}{% else %}down{% endif %}"
                            xmlns="http://www.w3.org/2000/svg"
                            class="{% if actual_order_by == 'deltamjd' %}tw-visible{% else %}tw-invisible group-hover:tw-visible{% endif %} tw-h-4 tw-w-4 tw-fill-black dark:tw-fill-white"
                            viewBox="0 -960 960 960"
                            fill="#e3e3e3">
                            <path d="{% if actual_order_by == 'deltamjd' and actual_order_mode == 'ASC' %}M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z{% else %}M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z{% endif %}"/>
                        </svg>
                </tr>
            </thead>
            <tbody class="tw-text-[0.875rem] tw-text-black dark:tw-text-white">
                {% for item in objects_list['items']%}
                    <tr name="object_row_element" class="tw-border-y tw-border-[#757575]/70 tw-h-[384px] tw-flex tw-flex-col hover:tw-bg-[#b2b2b2]/50 hover:tw-cursor-pointer sm:tw-h-[34px] sm:tw-table-row sm:tw-flex-none">
                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">oid</span>
                            <span name="oid">{{item['oid']}}</span>
                        </td>

                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">Number of detections</span>
                            <span name="n_det">{{item['n_det']}}</span>
                        </td>

                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">FirstMJD</span>
                            <span name="firstmjd">{{"%.3f" | format(item['firstmjd'])}}</span>
                        </td>

                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">LastMJD</span>
                            <span name="lastmjd">{{"%.3f" | format(item['lastmjd'])}}</span>
                        </td>

                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">RA/Dec (degrees)</span>
                            <span name="meanra, meandec">{{"%.3f" | format(item['meanra'])}}, {{"%.3f" | format(item['meandec'])}}</span>
                        </td>

                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">Highest Probability Class</span>
                            <span name="class_name">{{item['class_name']}}</span>
                        </td>
                        
                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">Highest Probability</span>
                            <span name="probability">{{"%.3f" | format(item['probability'])}}</span>
                        </td>
                        <td class="tw-px-4 tw-h-[48px] tw-flex tw-justify-between tw-items-center sm:tw-table-cell sm:tw-h-[32px]">
                            <span class="tw-font-semibold sm:tw-hidden">DeltaMJD (days)</span>
                            <span name="deltamjd">{{"%.3f" | format(item['deltamjd'])}}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
        <div class="tw-flex tw-flex-col tw-justify-center tw-content-center">
            {% include "objects_table_default.html.jinja" %}

            {% if objects_list['info_message'] %}
                <span class="tw-block tw-mx-auto tw-py-2 tw-text-black/60 dark:tw-text-white/70">
                    {{objects_list['info_message'] }}
                </span>
            {% endif %}
        </div>
    {% endif %}


</div>


<script type="module">
    import {draw_arrow_order_table} from "{{API_URL}}/static/draw_elements.js"

    let received_order_by = '{{actual_order_by}}_column'
    if(received_order_by == 'oid_list_column'){
        received_order_by = 'firstmjd_column'
    }
    let received_order_mode = '{{actual_order_mode}}'

    let icon = draw_arrow_order_table(received_order_mode)

    if(document.getElementById(received_order_by)){
        document.getElementById(received_order_by).appendChild(icon)
        document.getElementById(received_order_by).classList.add("tw-flex", "tw-items-center","tw-text-black" ,"dark:tw-text-white")
    }

</script>