<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<link rel="stylesheet" href="{{API_URL}}/static/object.css">
<script src="{{API_URL}}/htmx/htmx.min.js"></script>


{% if objects_list['items']|length > 0 %}
<div id="sidebar-objects-htmx" class="tw-preflight tw-text-black tw-bg-transparent dark:tw-bg-[#424242] dark:tw-text-[#EEEEEE]">
    <input id="objects-store" class="tw-hidden" data-objects="{{ objects_list['items'] }}">
    <input id="selected_oid_cache" class="tw-hidden" value="{{selected_oid}}">


    <div class="tw-flex tw-flex-col tw-w-full tw-h-[95vh] tw-text-[0.875rem] dark:tw-bg-[#424242]">
        <div class="tw-px-4 tw-text-black/60 tw-border-y tw-border-[#616161] dark:tw-text-white/70 tw-h-[45px] tw-flex tw-items-center tw-justify-start">Object List</div>

        {% for item in objects_list['items']%}
            {% if item['oid']|string != selected_oid|string %}
                <div
                data-oid='{{item["oid"]}}'
                name="sidebar-row-element" 
                class="tw-flex tw-items-center tw-justify-start tw-h-[45px] hover:tw-bg-[#b2b2b2]/50 hover:tw-cursor-pointer"
                hx-get="{{API_URL}}/htmx/side_objects"
                hx-trigger="click"
                hx-swap="innerHTML"
                hx-target="#sidebar-objects-htmx"
                hx-on::config-request="prepare_params(event)"
                >
                    <span
                    class="tw-px-4 tw-inline-block"
                    >
                    {{item['oid']}}
                    </span>
                </div>
            
            {% else  %}
                <div name="sidebar-row-element" class="tw-flex tw-items-center tw-justify-start tw-h-[45px] tw-text-[#1976D2] tw-font-medium tw-bg-[#1976D2]/30">
                    <span class="tw-px-4 tw-inline-block">{{selected_oid}}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class=" tw-flex tw-justify-center tw-items-center tw-text-base tw-h-[48px] dark:tw-bg-[#424242]">
        {% if has_prev %}
            <span 
            id="prev_page"
            name="side_objects_btn"
            data-next="{{prev}}"
            hx-get="{{API_URL}}/htmx/side_objects"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-target="#sidebar-objects-htmx"
            hx-on::config-request="prepare_params(event)"
            class="tw-inline-block hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >
            <svg class="tw-h-[24px] tw-w-[24px] tw-fill-black dark:tw-fill-white" viewBox="0 -960 960 960">
            <path d="M400-240 160-480l240-240 56 58-142 142h486v80H314l142 142-56 58Z"/>
            </svg>
            </span>
        {% endif %}
        <span 
        id="current_page" 
        data-page="{{objects_list['current_page']}}" 
        class="tw-inline-block tw-text-black dark:tw-text-white tw-text-sm tw-text-center tw-h-[28px] tw-w-[48px] tw-flex tw-items-center tw-justify-center">{{objects_list['current_page']}}
        </span>
        
        {% if has_next %}
            <span 
            id="next_page"
            name="side_objects_btn"
            data-next="{{next}}"
            hx-get="{{API_URL}}/htmx/side_objects"
            hx-trigger="click"
            hx-swap="innerHTML"
            hx-target="#sidebar-objects-htmx"
            hx-on::config-request="prepare_params(event)"
            class="tw-inline-block hover:tw-bg-[#b2b2b2] hover:tw-cursor-pointer"
            >
            <svg class="tw-h-[24px] tw-w-[24px] tw-fill-black dark:tw-fill-white" viewBox="0 -960 960 960">
            <path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/>
            </svg>
            </span>
        {%endif%}
    </div>
</div>
{% else %}
<div id="sidebar-objects-htmx"></div>
{% endif %}

<script type="module">
    import {init, elementReady} from "{{API_URL}}/static/sidebar.js"


    elementReady("#sidebar-objects-htmx").then((el) => {
        init();
    });
</script>
