@tailwind components;
@tailwind utilities;

@layer components{

  .padding-table-sn{
      padding: 8px 10px;
  }

  .btn-page-style {
    @apply tw-px-[14px] tw-py-[7px] tw-border tw-border-[#979797] tw-bg-transparent tw-cursor-pointer 
  }

  .btn-page-hover{
    @apply hover:tw-bg-[#3a3a3a] hover:tw-text-white
  }

  .current-page-style{
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
  }
}

.tw-preflight *,
.tw-preflight ::before,
.tw-preflight ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.tw-preflight ::before,
.tw-preflight ::after {
  --tw-content: "";
}

.tw-preflight h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.tw-preflight [hidden] { display: none; }