.tw-container {
  width: 100%
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px
  }
}

.tw-preflight :is(.tw-col-span-4) {
  grid-column: span 4 / span 4
}

.tw-preflight :is(.tw-col-span-8) {
  grid-column: span 8 / span 8
}

.tw-preflight :is(.tw-col-span-10) {
  grid-column: span 10 / span 10
}

.tw-preflight :is(.tw-col-span-2) {
  grid-column: span 2 / span 2
}

.tw-preflight :is(.tw-col-span-3) {
  grid-column: span 3 / span 3
}

.tw-preflight :is(.tw-col-span-5) {
  grid-column: span 5 / span 5
}

.tw-preflight :is(.tw-col-span-9) {
  grid-column: span 9 / span 9
}

.tw-preflight :is(.tw-col-span-full) {
  grid-column: 1 / -1
}

.tw-preflight :is(.tw-col-span-1) {
  grid-column: span 1 / span 1
}

.tw-preflight :is(.tw-col-span-12) {
  grid-column: span 12 / span 12
}

.tw-preflight :is(.tw-m-4) {
  margin: 1rem
}

.tw-preflight :is(.tw-mx-4) {
  margin-left: 1rem;
  margin-right: 1rem
}

.tw-preflight :is(.tw-mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.tw-preflight :is(.tw-my-4) {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.tw-preflight :is(.tw-mb-4) {
  margin-bottom: 1rem
}

.tw-preflight :is(.tw-flex) {
  display: flex
}

.tw-preflight :is(.tw-grid) {
  display: grid
}

.tw-preflight :is(.tw-w-1\/6) {
  width: 16.666667%
}

.tw-preflight :is(.tw-w-2\/5) {
  width: 40%
}

.tw-preflight :is(.tw-w-2\/6) {
  width: 33.333333%
}

.tw-preflight :is(.tw-w-1\/5) {
  width: 20%
}

.tw-preflight :is(.tw-w-4\/6) {
  width: 66.666667%
}

.tw-preflight :is(.tw-w-3\/6) {
  width: 50%
}

.tw-preflight :is(.tw-w-max) {
  width: -moz-max-content;
  width: max-content
}

.tw-preflight :is(.tw-w-full) {
  width: 100%
}

.tw-preflight :is(.tw-grid-cols-12) {
  grid-template-columns: repeat(12, minmax(0, 1fr))
}

.tw-preflight :is(.tw-flex-col) {
  flex-direction: column
}

.tw-preflight :is(.tw-items-center) {
  align-items: center
}

.tw-preflight :is(.tw-justify-end) {
  justify-content: flex-end
}

.tw-preflight :is(.tw-justify-center) {
  justify-content: center
}

.tw-preflight :is(.tw-justify-items-end) {
  justify-items: end
}

.tw-preflight :is(.tw-gap-4) {
  gap: 1rem
}

.tw-preflight :is(.tw-self-end) {
  align-self: flex-end
}

.tw-preflight :is(.tw-rounded) {
  border-radius: 0.25rem
}

.tw-preflight :is(.tw-rounded-xl) {
  border-radius: 0.75rem
}

.tw-preflight :is(.tw-rounded-lg) {
  border-radius: 0.5rem
}

.tw-preflight :is(.tw-border-2) {
  border-width: 2px
}

.tw-preflight :is(.tw-border-4) {
  border-width: 4px
}

.tw-preflight :is(.tw-border-b-2) {
  border-bottom-width: 2px
}

.tw-preflight :is(.tw-border-gray-600) {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-transparent) {
  border-color: transparent
}

.tw-preflight :is(.tw-border-black) {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-gray-700) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-gray-800) {
  --tw-border-opacity: 1;
  border-color: rgb(31 41 55 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-b-indigo-500) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(99 102 241 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-border-b-gray-800) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(31 41 55 / var(--tw-border-opacity))
}

.tw-preflight :is(.tw-bg-blue-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-green-300) {
  --tw-bg-opacity: 1;
  background-color: rgb(134 239 172 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-lime-300) {
  --tw-bg-opacity: 1;
  background-color: rgb(190 242 100 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-blue-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-blue-300) {
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-blue-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-bg-blue-400) {
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity))
}

.tw-preflight :is(.tw-p-0) {
  padding: 0px
}

.tw-preflight :is(.tw-px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.tw-preflight :is(.tw-py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.tw-preflight :is(.tw-py-0) {
  padding-top: 0px;
  padding-bottom: 0px
}

.tw-preflight :is(.tw-px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-preflight :is(.tw-py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.tw-preflight :is(.tw-pl-4) {
  padding-left: 1rem
}

.tw-preflight :is(.tw-text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-preflight :is(.tw-text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.tw-preflight :is(.tw-text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-preflight :is(.tw-font-bold) {
  font-weight: 700
}

.tw-preflight :is(.tw-text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.tw-preflight :is(.tw-text-blue-100) {
  --tw-text-opacity: 1;
  color: rgb(219 234 254 / var(--tw-text-opacity))
}

.tw-preflight :is(.hover\:tw-bg-blue-700:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}
