


.imageZoom img {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: 0 0;
}

.imageZoom::after{
  display: var(--display);
  content: '';
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: var(--url);
  background-size: 200%;
  background-position: var(--zoom-x) var(--zoom-y);
  position: absolute;
  left: 0;
  top: 0;
  z-index: var(--z-index);
  pointer-events: none;
}
