*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.tw-container {
  width: 100%
}

@media (min-width: 640px) {
  .tw-container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .tw-container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .tw-container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .tw-container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .tw-container {
    max-width: 1536px
  }
}

.tw-preflight .tw-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.tw-preflight .tw-pointer-events-none {
  pointer-events: none
}

.tw-preflight .tw-pointer-events-auto {
  pointer-events: auto
}

.tw-preflight .tw-visible {
  visibility: visible
}

.tw-preflight .tw-invisible {
  visibility: hidden
}

.tw-preflight .tw-fixed {
  position: fixed
}

.tw-preflight .tw-absolute {
  position: absolute
}

.tw-preflight .tw-relative {
  position: relative
}

.tw-preflight .tw-inset-0 {
  inset: 0px
}

.tw-preflight .tw-inset-y-0 {
  top: 0px;
  bottom: 0px
}

.tw-preflight .tw-bottom-0 {
  bottom: 0px
}

.tw-preflight .tw-bottom-full {
  bottom: 100%
}

.tw-preflight .tw-left-0 {
  left: 0px
}

.tw-preflight .tw-left-1\/2 {
  left: 50%
}

.tw-preflight .tw-left-10 {
  left: 2.5rem
}

.tw-preflight .tw-left-\[100\%\] {
  left: 100%
}

.tw-preflight .tw-right-0 {
  right: 0px
}

.tw-preflight .tw-right-\[100\%\] {
  right: 100%
}

.tw-preflight .tw-top-1 {
  top: 0.25rem
}

.tw-preflight .tw-top-1\/2 {
  top: 50%
}

.tw-preflight .tw-top-\[100\%\] {
  top: 100%
}

.tw-preflight .tw-top-full {
  top: 100%
}

.tw-preflight .tw-z-10 {
  z-index: 10
}

.tw-preflight .tw-z-50 {
  z-index: 50
}

.tw-preflight .tw-z-\[10\] {
  z-index: 10
}

.tw-preflight .tw-z-\[11\] {
  z-index: 11
}

.tw-preflight .tw-z-\[2\] {
  z-index: 2
}

.tw-preflight .tw-z-\[9999\] {
  z-index: 9999
}

.tw-preflight .tw-order-first {
  order: -9999
}

.tw-preflight .tw-order-last {
  order: 9999
}

.tw-preflight .tw-col-span-1 {
  grid-column: span 1 / span 1
}

.tw-preflight .tw-col-span-12 {
  grid-column: span 12 / span 12
}

.tw-preflight .tw-col-span-2 {
  grid-column: span 2 / span 2
}

.tw-preflight .tw-col-span-4 {
  grid-column: span 4 / span 4
}

.tw-preflight .tw-col-span-5 {
  grid-column: span 5 / span 5
}

.tw-preflight .tw-col-span-full {
  grid-column: 1 / -1
}

.tw-preflight .tw-float-right {
  float: right
}

.tw-preflight .tw-float-left {
  float: left
}

.tw-preflight .tw-m-0 {
  margin: 0px
}

.tw-preflight .tw-m-auto {
  margin: auto
}

.tw-preflight .tw-mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.tw-preflight .tw-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.tw-preflight .tw-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.tw-preflight .tw-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.tw-preflight .tw-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.tw-preflight .tw-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.tw-preflight .tw-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.tw-preflight .tw-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.tw-preflight .tw-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.tw-preflight .tw-mb-1 {
  margin-bottom: 0.25rem
}

.tw-preflight .tw-mb-2 {
  margin-bottom: 0.5rem
}

.tw-preflight .tw-mb-3 {
  margin-bottom: 0.75rem
}

.tw-preflight .tw-mb-4 {
  margin-bottom: 1rem
}

.tw-preflight .tw-mb-6 {
  margin-bottom: 1.5rem
}

.tw-preflight .tw-mb-\[10px\] {
  margin-bottom: 10px
}

.tw-preflight .tw-mb-\[20px\] {
  margin-bottom: 20px
}

.tw-preflight .tw-mb-\[5px\] {
  margin-bottom: 5px
}

.tw-preflight .tw-me-2 {
  margin-inline-end: 0.5rem
}

.tw-preflight .tw-ml-2 {
  margin-left: 0.5rem
}

.tw-preflight .tw-ml-20 {
  margin-left: 5rem
}

.tw-preflight .tw-ml-3 {
  margin-left: 0.75rem
}

.tw-preflight .tw-ml-4 {
  margin-left: 1rem
}

.tw-preflight .tw-mr-1 {
  margin-right: 0.25rem
}

.tw-preflight .tw-mr-2 {
  margin-right: 0.5rem
}

.tw-preflight .tw-mr-3 {
  margin-right: 0.75rem
}

.tw-preflight .tw-mt-1 {
  margin-top: 0.25rem
}

.tw-preflight .tw-mt-2 {
  margin-top: 0.5rem
}

.tw-preflight .tw-mt-3 {
  margin-top: 0.75rem
}

.tw-preflight .tw-mt-5 {
  margin-top: 1.25rem
}

.tw-preflight .tw-mt-\[6px\] {
  margin-top: 6px
}

.tw-preflight .tw-block {
  display: block
}

.tw-preflight .tw-inline-block {
  display: inline-block
}

.tw-preflight .tw-inline {
  display: inline
}

.tw-preflight .tw-flex {
  display: flex
}

.tw-preflight .tw-inline-flex {
  display: inline-flex
}

.tw-preflight .tw-table-header-group {
  display: table-header-group
}

.tw-preflight .tw-grid {
  display: grid
}

.tw-preflight .tw-hidden {
  display: none
}

.tw-preflight .tw-size-auto {
  width: auto;
  height: auto
}

.tw-preflight .tw-h-0 {
  height: 0px
}

.tw-preflight .tw-h-2 {
  height: 0.5rem
}

.tw-preflight .tw-h-3 {
  height: 0.75rem
}

.tw-preflight .tw-h-32 {
  height: 8rem
}

.tw-preflight .tw-h-4 {
  height: 1rem
}

.tw-preflight .tw-h-5 {
  height: 1.25rem
}

.tw-preflight .tw-h-6 {
  height: 1.5rem
}

.tw-preflight .tw-h-8 {
  height: 2rem
}

.tw-preflight .tw-h-80 {
  height: 20rem
}

.tw-preflight .tw-h-\[100\%\] {
  height: 100%
}

.tw-preflight .tw-h-\[20px\] {
  height: 20px
}

.tw-preflight .tw-h-\[24px\] {
  height: 24px
}

.tw-preflight .tw-h-\[28px\] {
  height: 28px
}

.tw-preflight .tw-h-\[30px\] {
  height: 30px
}

.tw-preflight .tw-h-\[36px\] {
  height: 36px
}

.tw-preflight .tw-h-\[384px\] {
  height: 384px
}

.tw-preflight .tw-h-\[3px\] {
  height: 3px
}

.tw-preflight .tw-h-\[40px\] {
  height: 40px
}

.tw-preflight .tw-h-\[45px\] {
  height: 45px
}

.tw-preflight .tw-h-\[48px\] {
  height: 48px
}

.tw-preflight .tw-h-\[64px\] {
  height: 64px
}

.tw-preflight .tw-h-\[95vh\] {
  height: 95vh
}

.tw-preflight .tw-h-auto {
  height: auto
}

.tw-preflight .tw-h-fit {
  height: -moz-fit-content;
  height: fit-content
}

.tw-preflight .tw-h-full {
  height: 100%
}

.tw-preflight .tw-h-px {
  height: 1px
}

.tw-preflight .tw-max-h-\[200px\] {
  max-height: 200px
}

.tw-preflight .tw-max-h-\[304px\] {
  max-height: 304px
}

.tw-preflight .tw-max-h-fit {
  max-height: -moz-fit-content;
  max-height: fit-content
}

.tw-preflight .tw-max-h-none {
  max-height: none
}

.tw-preflight .tw-min-h-0 {
  min-height: 0px
}

.tw-preflight .tw-min-h-full {
  min-height: 100%
}

.tw-preflight .tw-w-0 {
  width: 0px
}

.tw-preflight .tw-w-1\/3 {
  width: 33.333333%
}

.tw-preflight .tw-w-1\/4 {
  width: 25%
}

.tw-preflight .tw-w-11 {
  width: 2.75rem
}

.tw-preflight .tw-w-12 {
  width: 3rem
}

.tw-preflight .tw-w-16 {
  width: 4rem
}

.tw-preflight .tw-w-24 {
  width: 6rem
}

.tw-preflight .tw-w-3 {
  width: 0.75rem
}

.tw-preflight .tw-w-32 {
  width: 8rem
}

.tw-preflight .tw-w-4 {
  width: 1rem
}

.tw-preflight .tw-w-48 {
  width: 12rem
}

.tw-preflight .tw-w-5 {
  width: 1.25rem
}

.tw-preflight .tw-w-6 {
  width: 1.5rem
}

.tw-preflight .tw-w-8 {
  width: 2rem
}

.tw-preflight .tw-w-80 {
  width: 20rem
}

.tw-preflight .tw-w-\[100\%\] {
  width: 100%
}

.tw-preflight .tw-w-\[20px\] {
  width: 20px
}

.tw-preflight .tw-w-\[24px\] {
  width: 24px
}

.tw-preflight .tw-w-\[28px\] {
  width: 28px
}

.tw-preflight .tw-w-\[290px\] {
  width: 290px
}

.tw-preflight .tw-w-\[30\%\] {
  width: 30%
}

.tw-preflight .tw-w-\[30px\] {
  width: 30px
}

.tw-preflight .tw-w-\[36px\] {
  width: 36px
}

.tw-preflight .tw-w-\[400px\] {
  width: 400px
}

.tw-preflight .tw-w-\[48px\] {
  width: 48px
}

.tw-preflight .tw-w-\[50\%\] {
  width: 50%
}

.tw-preflight .tw-w-\[80px\] {
  width: 80px
}

.tw-preflight .tw-w-\[90\%\] {
  width: 90%
}

.tw-preflight .tw-w-\[95\%\] {
  width: 95%
}

.tw-preflight .tw-w-\[98\%\] {
  width: 98%
}

.tw-preflight .tw-w-full {
  width: 100%
}

.tw-preflight .tw-min-w-\[200px\] {
  min-width: 200px
}

.tw-preflight .tw-min-w-full {
  min-width: 100%
}

.tw-preflight .tw-min-w-max {
  min-width: -moz-max-content;
  min-width: max-content
}

.tw-preflight .tw-max-w-\[40\%\] {
  max-width: 40%
}

.tw-preflight .tw-max-w-\[630px\] {
  max-width: 630px
}

.tw-preflight .tw-max-w-\[95\%\] {
  max-width: 95%
}

.tw-preflight .tw-max-w-full {
  max-width: 100%
}

.tw-preflight .tw-max-w-none {
  max-width: none
}

.tw-preflight .tw-flex-1 {
  flex: 1 1 0%
}

.tw-preflight .tw-grow {
  flex-grow: 1
}

.tw-preflight .tw-table-auto {
  table-layout: auto
}

.tw-preflight .tw-border-collapse {
  border-collapse: collapse
}

.tw-preflight .tw-origin-center {
  transform-origin: center
}

.tw-preflight .-tw-translate-y-1 {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-preflight .-tw-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-preflight .tw--translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-preflight .tw-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes tw-pulse {
  50% {
    opacity: .5
  }
}

.tw-preflight .tw-animate-pulse {
  animation: tw-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}

@keyframes tw-spin {
  to {
    transform: rotate(360deg)
  }
}

.tw-preflight .tw-animate-spin {
  animation: tw-spin 1s linear infinite
}

.tw-preflight .tw-cursor-help {
  cursor: help
}

.tw-preflight .tw-cursor-not-allowed {
  cursor: not-allowed
}

.tw-preflight .tw-cursor-pointer {
  cursor: pointer
}

.tw-preflight .tw-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.tw-preflight .tw-appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.tw-preflight .tw-grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr))
}

.tw-preflight .tw-grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr))
}

.tw-preflight .tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.tw-preflight .tw-grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr))
}

.tw-preflight .tw-flex-col {
  flex-direction: column
}

.tw-preflight .tw-flex-wrap {
  flex-wrap: wrap
}

.tw-preflight .tw-place-content-center {
  place-content: center
}

.tw-preflight .tw-place-items-center {
  place-items: center
}

.tw-preflight .tw-content-center {
  align-content: center
}

.tw-preflight .tw-items-start {
  align-items: flex-start
}

.tw-preflight .tw-items-end {
  align-items: flex-end
}

.tw-preflight .tw-items-center {
  align-items: center
}

.tw-preflight .tw-justify-start {
  justify-content: flex-start
}

.tw-preflight .tw-justify-end {
  justify-content: flex-end
}

.tw-preflight .tw-justify-center {
  justify-content: center
}

.tw-preflight .tw-justify-between {
  justify-content: space-between
}

.tw-preflight .tw-gap-1 {
  gap: 0.25rem
}

.tw-preflight .tw-gap-1\.5 {
  gap: 0.375rem
}

.tw-preflight .tw-gap-2 {
  gap: 0.5rem
}

.tw-preflight .tw-gap-3 {
  gap: 0.75rem
}

.tw-preflight .tw-gap-4 {
  gap: 1rem
}

.tw-preflight .tw-gap-y-4 {
  row-gap: 1rem
}

.tw-preflight :is(.tw-space-x-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)))
}

.tw-preflight :is(.tw-space-x-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.tw-preflight :is(.tw-space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.tw-preflight :is(.tw-divide-y > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.tw-preflight :is(.tw-divide-gray-200 > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity, 1))
}

.tw-preflight .tw-place-self-center {
  place-self: center
}

.tw-preflight .tw-self-end {
  align-self: flex-end
}

.tw-preflight .tw-overflow-auto {
  overflow: auto
}

.tw-preflight .tw-overflow-hidden {
  overflow: hidden
}

.tw-preflight .tw-overflow-x-auto {
  overflow-x: auto
}

.tw-preflight .tw-overflow-y-auto {
  overflow-y: auto
}

.tw-preflight .tw-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.tw-preflight .tw-whitespace-nowrap {
  white-space: nowrap
}

.tw-preflight .tw-text-wrap {
  text-wrap: wrap
}

.tw-preflight .tw-break-words {
  overflow-wrap: break-word
}

.tw-preflight .tw-rounded {
  border-radius: 0.25rem
}

.tw-preflight .tw-rounded-\[6px\] {
  border-radius: 6px
}

.tw-preflight .tw-rounded-full {
  border-radius: 9999px
}

.tw-preflight .tw-rounded-lg {
  border-radius: 0.5rem
}

.tw-preflight .tw-rounded-md {
  border-radius: 0.375rem
}

.tw-preflight .tw-border {
  border-width: 1px
}

.tw-preflight .tw-border-4 {
  border-width: 4px
}

.tw-preflight .tw-border-8 {
  border-width: 8px
}

.tw-preflight .tw-border-x-0 {
  border-left-width: 0px;
  border-right-width: 0px
}

.tw-preflight .tw-border-y {
  border-top-width: 1px;
  border-bottom-width: 1px
}

.tw-preflight .tw-border-y-0 {
  border-top-width: 0px;
  border-bottom-width: 0px
}

.tw-preflight .tw-border-b {
  border-bottom-width: 1px
}

.tw-preflight .tw-border-b-\[1px\] {
  border-bottom-width: 1px
}

.tw-preflight .tw-border-l-4 {
  border-left-width: 4px
}

.tw-preflight .tw-border-r-4 {
  border-right-width: 4px
}

.tw-preflight .tw-border-t {
  border-top-width: 1px
}

.tw-preflight .tw-border-t-4 {
  border-top-width: 4px
}

.tw-preflight .tw-border-solid {
  border-style: solid
}

.tw-preflight .tw-border-\[\#1e1e1e\] {
  --tw-border-opacity: 1;
  border-color: rgb(30 30 30 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-\[\#616161\] {
  --tw-border-opacity: 1;
  border-color: rgb(97 97 97 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-\[\#757575\]\/70 {
  border-color: rgb(117 117 117 / 0.7)
}

.tw-preflight .tw-border-blue-400 {
  --tw-border-opacity: 1;
  border-color: rgb(96 165 250 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-transparent {
  border-color: transparent
}

.tw-preflight .tw-border-yellow-200 {
  --tw-border-opacity: 1;
  border-color: rgb(254 240 138 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-b-\[\#1e1e1e\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(30 30 30 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-b-\[\#757575\] {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(117 117 117 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-b-black {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(0 0 0 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-b-blue-600 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(37 99 235 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-r-gray-900 {
  --tw-border-opacity: 1;
  border-right-color: rgb(17 24 39 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-t-gray-800 {
  --tw-border-opacity: 1;
  border-top-color: rgb(31 41 55 / var(--tw-border-opacity, 1))
}

.tw-preflight .tw-border-t-transparent {
  border-top-color: transparent
}

.tw-preflight .tw-border-opacity-20 {
  --tw-border-opacity: 0.2
}

.tw-preflight .tw-bg-\[\#0097A7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 151 167 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-\[\#1565C0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(21 101 192 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-\[\#1976D2\]\/30 {
  background-color: rgb(25 118 210 / 0.3)
}

.tw-preflight .tw-bg-\[\#2196f3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(33 150 243 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-\[\#757575\]\/60 {
  background-color: rgb(117 117 117 / 0.6)
}

.tw-preflight .tw-bg-\[\#f5f5f5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-gray-500\/75 {
  background-color: rgb(107 114 128 / 0.75)
}

.tw-preflight .tw-bg-gray-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-transparent {
  background-color: transparent
}

.tw-preflight .tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-bg-yellow-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 252 232 / var(--tw-bg-opacity, 1))
}

.tw-preflight .tw-fill-\[\#1565C0\] {
  fill: #1565C0
}

.tw-preflight .tw-fill-\[\#1976d2\] {
  fill: #1976d2
}

.tw-preflight .tw-fill-black {
  fill: #000
}

.tw-preflight .tw-fill-current {
  fill: currentColor
}

.tw-preflight .tw-p-0 {
  padding: 0px
}

.tw-preflight .tw-p-1\.5 {
  padding: 0.375rem
}

.tw-preflight .tw-p-2 {
  padding: 0.5rem
}

.tw-preflight .tw-p-4 {
  padding: 1rem
}

.tw-preflight .tw-p-\[5px\] {
  padding: 5px
}

.tw-preflight .tw-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.tw-preflight .tw-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.tw-preflight .tw-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.tw-preflight .tw-px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px
}

.tw-preflight .tw-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.tw-preflight .tw-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.tw-preflight .tw-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tw-preflight .tw-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.tw-preflight .tw-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.tw-preflight .tw-py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px
}

.tw-preflight .tw-pb-2 {
  padding-bottom: 0.5rem
}

.tw-preflight .tw-pl-3 {
  padding-left: 0.75rem
}

.tw-preflight .tw-pl-\[10px\] {
  padding-left: 10px
}

.tw-preflight .tw-pr-10 {
  padding-right: 2.5rem
}

.tw-preflight .tw-pr-2 {
  padding-right: 0.5rem
}

.tw-preflight .tw-pr-\[10px\] {
  padding-right: 10px
}

.tw-preflight .tw-ps-2 {
  padding-inline-start: 0.5rem
}

.tw-preflight .tw-pt-1 {
  padding-top: 0.25rem
}

.tw-preflight .tw-pt-3 {
  padding-top: 0.75rem
}

.tw-preflight .tw-pt-\[25px\] {
  padding-top: 25px
}

.tw-preflight .tw-pt-\[30px\] {
  padding-top: 30px
}

.tw-preflight .tw-text-left {
  text-align: left
}

.tw-preflight .tw-text-center {
  text-align: center
}

.tw-preflight .tw-text-right {
  text-align: right
}

.tw-preflight .tw-font-roboto {
  font-family: Roboto, sans-serif
}

.tw-preflight .tw-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.tw-preflight .tw-text-\[0\.875rem\] {
  font-size: 0.875rem
}

.tw-preflight .tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.tw-preflight .tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-preflight .tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.tw-preflight .tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-preflight .tw-text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.tw-preflight .tw-font-bold {
  font-weight: 700
}

.tw-preflight .tw-font-light {
  font-weight: 300
}

.tw-preflight .tw-font-medium {
  font-weight: 500
}

.tw-preflight .tw-font-semibold {
  font-weight: 600
}

.tw-preflight .tw-ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction)
}

.tw-preflight .tw-leading-9 {
  line-height: 2.25rem
}

.tw-preflight .tw-text-\[\#1976D2\] {
  --tw-text-opacity: 1;
  color: rgb(25 118 210 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-\[\#1976d2\] {
  --tw-text-opacity: 1;
  color: rgb(25 118 210 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-\[\#1e1e1e\] {
  --tw-text-opacity: 1;
  color: rgb(30 30 30 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-\[\#2196f3\] {
  --tw-text-opacity: 1;
  color: rgb(33 150 243 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-\[\#BDBDBD\] {
  --tw-text-opacity: 1;
  color: rgb(189 189 189 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-\[\#FAFAFA\] {
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-black\/60 {
  color: rgb(0 0 0 / 0.6)
}

.tw-preflight .tw-text-black\/80 {
  color: rgb(0 0 0 / 0.8)
}

.tw-preflight .tw-text-blue-50 {
  --tw-text-opacity: 1;
  color: rgb(239 246 255 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-cyan-50 {
  --tw-text-opacity: 1;
  color: rgb(236 254 255 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-red-500 {
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-yellow-200 {
  --tw-text-opacity: 1;
  color: rgb(254 240 138 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-yellow-700 {
  --tw-text-opacity: 1;
  color: rgb(161 98 7 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-text-yellow-800 {
  --tw-text-opacity: 1;
  color: rgb(133 77 14 / var(--tw-text-opacity, 1))
}

.tw-preflight .tw-underline {
  text-decoration-line: underline
}

.tw-preflight .tw-placeholder-black\/50::-moz-placeholder {
  color: rgb(0 0 0 / 0.5)
}

.tw-preflight .tw-placeholder-black\/50::placeholder {
  color: rgb(0 0 0 / 0.5)
}

.tw-preflight .tw-opacity-0 {
  opacity: 0
}

.tw-preflight .tw-opacity-100 {
  opacity: 1
}

.tw-preflight .tw-opacity-50 {
  opacity: 0.5
}

.tw-preflight .tw-shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-preflight .tw-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-preflight .tw-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-preflight .tw-shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.tw-preflight .tw-outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.tw-preflight .tw-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-preflight .tw-transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-preflight .tw-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-preflight .tw-transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-preflight .tw-duration-200 {
  transition-duration: 200ms
}

.tw-preflight .tw-duration-300 {
  transition-duration: 300ms
}

.tw-preflight .tw-ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.tw-preflight .after\:tw-absolute::after {
  content: var(--tw-content);
  position: absolute
}

.tw-preflight .after\:tw-start-\[2px\]::after {
  content: var(--tw-content);
  inset-inline-start: 2px
}

.tw-preflight .after\:tw-top-\[2px\]::after {
  content: var(--tw-content);
  top: 2px
}

.tw-preflight .after\:tw-h-5::after {
  content: var(--tw-content);
  height: 1.25rem
}

.tw-preflight .after\:tw-w-5::after {
  content: var(--tw-content);
  width: 1.25rem
}

.tw-preflight .after\:tw-rounded-full::after {
  content: var(--tw-content);
  border-radius: 9999px
}

.tw-preflight .after\:tw-border::after {
  content: var(--tw-content);
  border-width: 1px
}

.tw-preflight .after\:tw-border-gray-300::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1))
}

.tw-preflight .after\:tw-bg-white::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.tw-preflight .after\:tw-transition-all::after {
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.tw-preflight .after\:tw-content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content)
}

.tw-preflight .hover\:tw-cursor-pointer:hover {
  cursor: pointer
}

.tw-preflight .hover\:tw-border-b-black\/70:hover {
  border-bottom-color: rgb(0 0 0 / 0.7)
}

.tw-preflight .hover\:tw-border-b-white:hover {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.tw-preflight .hover\:tw-bg-\[\#1976d2\]\/20:hover {
  background-color: rgb(25 118 210 / 0.2)
}

.tw-preflight .hover\:tw-bg-\[\#2196f3\]\/30:hover {
  background-color: rgb(33 150 243 / 0.3)
}

.tw-preflight .hover\:tw-bg-\[\#757575\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(117 117 117 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-\[\#b2b2b2\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(178 178 178 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-\[\#b2b2b2\]\/50:hover {
  background-color: rgb(178 178 178 / 0.5)
}

.tw-preflight .hover\:tw-bg-\[\#e5e4e2\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 228 226 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-gray-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(156 163 175 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-gray-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-bg-gray-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1))
}

.tw-preflight .hover\:tw-text-gray-600:hover {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

.tw-preflight .focus\:tw-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.tw-preflight .focus\:tw-outline:focus {
  outline-style: solid
}

.tw-preflight .focus\:tw-outline-0:focus {
  outline-width: 0px
}

.tw-preflight .focus\:tw-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.tw-preflight .focus\:tw-ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity, 1))
}

.tw-preflight .focus\:tw-ring-offset-2:focus {
  --tw-ring-offset-width: 2px
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-visible) {
  visibility: visible
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-block) {
  display: block
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-flex) {
  display: flex
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-flex-col) {
  flex-direction: column
}

.tw-preflight :is(.tw-group:hover .group-hover\:tw-opacity-100) {
  opacity: 1
}

.tw-preflight :is(.tw-peer:checked ~ .peer-checked\:tw-bg-gray-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1))
}

.tw-preflight :is(.tw-peer:checked ~ .peer-checked\:after\:tw-translate-x-full)::after {
  content: var(--tw-content);
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.tw-preflight :is(.tw-peer:checked ~ .peer-checked\:after\:tw-border-white)::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.tw-preflight :is(.tw-peer:focus ~ .peer-focus\:tw-outline-none) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.tw-preflight .dark\:tw-border:is(.tw-dark *) {
  border-width: 1px
}

.tw-preflight .dark\:tw-border-black:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-gray-600:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-gray-700:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-white:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-yellow-700:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-color: rgb(161 98 7 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-b-\[\#757575\]:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(117 117 117 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-b-gray-600:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(75 85 99 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-b-white:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-t-gray-900:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-top-color: rgb(17 24 39 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:tw-border-opacity-20:is(.tw-dark *) {
  --tw-border-opacity: 0.2
}

.tw-preflight .dark\:tw-bg-\[\#1e1e1e\]:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(30 30 30 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:tw-bg-\[\#1e1e1e\]\/95:is(.tw-dark *) {
  background-color: rgb(30 30 30 / 0.95)
}

.tw-preflight .dark\:tw-bg-\[\#424242\]:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(66 66 66 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:tw-bg-\[\#757575\]\/60:is(.tw-dark *) {
  background-color: rgb(117 117 117 / 0.6)
}

.tw-preflight .dark\:tw-bg-gray-600:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:tw-bg-gray-700:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:tw-bg-gray-800:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:tw-bg-gray-900:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:tw-bg-yellow-900:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(113 63 18 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:tw-fill-\[\#1976d2\]:is(.tw-dark *) {
  fill: #1976d2
}

.tw-preflight .dark\:tw-fill-white:is(.tw-dark *) {
  fill: #fff
}

.tw-preflight .dark\:tw-text-\[\#EEEEEE\]:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(238 238 238 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-\[\#F5F5F5\]:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-\[\#FAFAFA\]:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(250 250 250 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-gray-100:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-gray-300:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-gray-600:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-white:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-white\/70:is(.tw-dark *) {
  color: rgb(255 255 255 / 0.7)
}

.tw-preflight .dark\:tw-text-white\/80:is(.tw-dark *) {
  color: rgb(255 255 255 / 0.8)
}

.tw-preflight .dark\:tw-text-yellow-200:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(254 240 138 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-text-yellow-300:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(253 224 71 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:tw-placeholder-white\/60:is(.tw-dark *)::-moz-placeholder {
  color: rgb(255 255 255 / 0.6)
}

.tw-preflight .dark\:tw-placeholder-white\/60:is(.tw-dark *)::placeholder {
  color: rgb(255 255 255 / 0.6)
}

.tw-preflight .dark\:hover\:tw-border-b-white:hover:is(.tw-dark *) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(255 255 255 / var(--tw-border-opacity, 1))
}

.tw-preflight .dark\:hover\:tw-bg-\[\#3b3939\]:hover:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(59 57 57 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:hover\:tw-bg-blue-800:hover:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(30 64 175 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:hover\:tw-bg-gray-700:hover:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:hover\:tw-bg-gray-800:hover:is(.tw-dark *) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity, 1))
}

.tw-preflight .dark\:hover\:tw-text-gray-300:hover:is(.tw-dark *) {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1))
}

.tw-preflight .dark\:focus\:tw-ring-offset-gray-800:focus:is(.tw-dark *) {
  --tw-ring-offset-color: #1f2937
}

.tw-preflight :is(.tw-peer:checked ~ .dark\:peer-checked\:tw-bg-gray-600:is(.tw-dark *)) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1))
}

@media (min-width: 640px) {
  .tw-preflight .sm\:tw-col-span-11 {
    grid-column: span 11 / span 11
  }

  .tw-preflight .sm\:tw-col-span-12 {
    grid-column: span 12 / span 12
  }

  .tw-preflight .sm\:tw-my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
  }

  .tw-preflight .sm\:tw-mt-0 {
    margin-top: 0px
  }

  .tw-preflight .sm\:tw-flex {
    display: flex
  }

  .tw-preflight .sm\:tw-table-cell {
    display: table-cell
  }

  .tw-preflight .sm\:tw-table-header-group {
    display: table-header-group
  }

  .tw-preflight .sm\:tw-table-row {
    display: table-row
  }

  .tw-preflight .sm\:tw-hidden {
    display: none
  }

  .tw-preflight .sm\:tw-h-\[32px\] {
    height: 32px
  }

  .tw-preflight .sm\:tw-h-\[34px\] {
    height: 34px
  }

  .tw-preflight .sm\:tw-w-auto {
    width: auto
  }

  .tw-preflight .sm\:tw-w-full {
    width: 100%
  }

  .tw-preflight .sm\:tw-max-w-lg {
    max-width: 32rem
  }

  .tw-preflight .sm\:tw-flex-none {
    flex: none
  }

  .tw-preflight .sm\:tw-flex-row-reverse {
    flex-direction: row-reverse
  }

  .tw-preflight .sm\:tw-items-center {
    align-items: center
  }

  .tw-preflight .sm\:tw-p-0 {
    padding: 0px
  }

  .tw-preflight .sm\:tw-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

@media (min-width: 768px) {
  .tw-preflight .md\:tw-order-none {
    order: 0
  }

  .tw-preflight .md\:tw-col-span-12 {
    grid-column: span 12 / span 12
  }

  .tw-preflight .md\:tw-col-span-3 {
    grid-column: span 3 / span 3
  }

  .tw-preflight .md\:tw-col-span-9 {
    grid-column: span 9 / span 9
  }

  .tw-preflight .md\:tw-h-full {
    height: 100%
  }
}

@media (min-width: 1024px) {
  .tw-preflight .lg\:tw-col-span-12 {
    grid-column: span 12 / span 12
  }

  .tw-preflight .lg\:tw-col-span-5 {
    grid-column: span 5 / span 5
  }

  .tw-preflight .lg\:tw-col-span-6 {
    grid-column: span 6 / span 6
  }

  .tw-preflight .lg\:tw-col-span-7 {
    grid-column: span 7 / span 7
  }

  .tw-preflight .lg\:tw-w-1\/2 {
    width: 50%
  }

  .tw-preflight .lg\:tw-w-1\/4 {
    width: 25%
  }

  .tw-preflight .lg\:tw-w-\[85\%\] {
    width: 85%
  }

  .tw-preflight .lg\:tw-max-w-\[458px\] {
    max-width: 458px
  }

  .tw-preflight .lg\:tw-flex-row {
    flex-direction: row
  }
}

.tw-preflight :is(.tw-peer:checked ~ .rtl\:peer-checked\:after\:-tw-translate-x-full:where([dir="rtl"], [dir="rtl"] *))::after {
  content: var(--tw-content);
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}