<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{API_URL}}/static/loading_indicators.css">
<link rel="stylesheet" href="{{API_URL}}/static/sn_hunter.css">

<div id="sn_hunter_objects_table" class="tw-preflight tw-text-black tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white">

    <div class="loader">
        <div id="table-objects-loading" class="loaderBar astronomical-loading-indicator"></div>
    </div>

    <table 
    id="sn_hunter_main_table"
    class="tw-border-collapse tw-border tw-border-[#dee2e6] tw-bg-white tw-text-left tw-w-full dark:tw-bg-[#1e1e1e]"
    data-sn="{{ objects_list }}"
    >
        <thead class="tw-bg-[#fafafa] tw-text-[0.875rem] tw-text-black dark:tw-text-white/70 ">
            <tr class="tw-h-[34px]">
                <th class="tw-p-[18px] tw-border tw-border-[#dee2e6]">ObjectID</th>
                <th class="tw-p-[18px] tw-border tw-border-[#dee2e6]">Discovery Date</th>
                <th class="tw-p-[18px] tw-border tw-border-[#dee2e6]">Score</th>
                <th class="tw-p-[18px] tw-border tw-border-[#dee2e6]">#Obs</th>
                <th class="tw-p-[18px] tw-border tw-border-[#dee2e6]">Reported</th>
            </tr>
        </thead>

        <tbody class="tw-text-[0.875rem] tw-text-black dark:tw-text-white">
        </tbody>
    </table>

    <div id="sn_hunter_table_pagination" class="tw-flex tw-justify-end tw-items-center tw-mt-4">
        <button id="prev_btn_sn" class="tw-px-[14px] tw-py-[7px] tw-bg-transparent tw-cursor-pointer hover:tw-bg-[#3a3a3a] hover:tw-text-white">Previous</button>
        <div id="page_container">
        </div>
        <button id="next_btn_sn" class="tw-px-[14px] tw-py-[7px] tw-bg-transparent tw-cursor-pointer hover:tw-bg-[#3a3a3a] hover:tw-text-white">Next</button>
    </div>

</div>


<script type="module">
import { init } from "{{API_URL}}/static/sn_hunter/sn_table/sn_table.js";

init();
</script>
