<script id="htmx-script" src="https://unpkg.com/htmx.org@1.9.11"></script>
<link rel="stylesheet" href="{{ API_URL }}/static/main.css">


<div class="tw-preflight">
    <div id="tableContainer" class="tw-container tw-mx-auto tw-my-4 tw-flex tw-flex-col dark:tw-text-white tw-text-black">
        <table id="anomalyTable" class="tw-table-auto tw-border-collapse">
            <thead class="tw-border-0 tw-border-b tw-border-solid tw-border-b-gray-500">
                <tr>
                    <th>oid</th>
                    <th>ndet</th>
                    <th>firstMJD</th>
                    <th>lastMJD</th>
                    <th>score transcient</th>
                    <th>score stochastic</th>
                    <th>score periodic</th>
                </tr>
            </thead>
            <tbody>
                {% for x in data %}
                <tr hx-get="/detalles" hx-trigger="click" hx-target="#tableContainer" hx-swap="outerHTML" class="tw-bg-white dark:tw-bg-[#1e1e1e] dark:tw-text-white tw-text-center tw-border-0 tw-border-b tw-border-solid tw-border-b-gray-500  hover:tw-bg-[#757575] hover:tw-cursor-pointer">
                    <td>{{x.oid}}</td>
                    <td>{{x.ndet}}</td>
                    <td>{{x.firstMJD}}</td>
                    <td>{{x.lastMJD}}</td>
                    <td>{{x.score_transcient}}</td>
                    <td>{{x.score_stochastic}}</td>
                    <td>{{x.score_periodic}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="simplePagination" class="tw-self-end tw-m-4">
            <button id="btnLeft" hx-get="/tabla?page={{page-1}}&per_page=10" hx-target="#tableContainer" hx-swap="outerHTML"><-</button>
            <span id="numberPage">{{page}}</span>
            <button id="btnRight" hx-get="/tabla?page={{page+1}}&per_page=10" hx-target="#tableContainer" hx-swap="outerHTML">-></button>
        </div>
    </div>
</div>

<script type="module">

    const page = {{page}}
    const per_page = {{per_page}}
    const total_pages = {{total_pages}}
    const total = {{total}}

    const btnLeft = document.getElementById("btnLeft")
    const btnRight = document.getElementById("btnRight")

    if(total_pages < 1){
        btnLeft.disabled = true;
        btnRight.disabled = true;
    } else if ((page - 1) <= 0){
        btnLeft.disabled = true;
    } else if((page +1) > total_pages){
        btnRight.disabled = true;
    }
</script>
